.zoom {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1) translateZ(0px);
    z-index: 9;
  }

  &:first-child:hover {
    transform: scale(1.1) translateZ(0px) translateX(16px);
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: -7px;
  }
}
