.zoom {
  transition: transform 0.2s ease;

  @media (min-width: 768px) {
    &:hover {
      transform: scale(1.2);
      z-index: 9;
    }

    &:first-child:hover {
      transform: scale(1.2);
    }
  }
}

.overflow-auto::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media (max-width: 480px) {
  h2 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: -7px;
  }

  .removePaddingContainer {
    padding: 0px !important;
  }
}

@media (max-width: 1024px) {
  .removePaddingContainer {
    padding: 0px !important;
  }
}

.h80 {
  height: 82%;
  margin-top: 16px;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.scrollGame {
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
  padding-left: 78px;
  padding-right: 110px;
  padding-top: 15px;
  padding-bottom: 20px;

  @media (max-width: 1024px) {
    padding-left: 39px;
    padding-bottom: 10px;
  }

  @media (max-width: 480px) {
    overflow-y: hidden;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 16px;
  }
}

.scrollGame::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollGame .gameCard {
  display: inline-block;
}

.w290 {
  width: 220px;
  height: 125px;

  @media (max-width: 486px) {
    width: 175px;
    height: 95px;
  }
}

.borderRadius15 {
  border-radius: 15px !important;
}

.railHeading {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #dcdcdc;
  letter-spacing: 0.02em;
  @media (max-width: 480px) {
    font-size: 16px;
    line-height: 26px;
  }
}
