<h2 class="text-white position-relative">{{ title }}</h2>
<div class="position-relative marginLeftNegative">
  <div #container class="d-flex overflow-auto py-4">
    <div *ngFor="let game of _games" class="mr-3 zoom">
      <app-game-card [game]="game"></app-game-card>
    </div>
  </div>

  <button
    class="btn position-absolute d-none d-lg-block h80"
    style="
      top: 0;
      left: 0;
      z-index: 10;
      border-radius: 0px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
      padding-right: 50px;
    "
    (click)="scrollLeft()"
  >
    <i class="fas fa-chevron-left text-xl text-white-50"></i>
  </button>

  <button
    class="btn position-absolute d-none d-lg-block h80"
    style="
      top: 0;
      right: 0px;
      z-index: 10;
      border-radius: 0px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
      padding-right: 50px;
    "
    (click)="scrollRight()"
  >
    <i class="fas fa-chevron-right text-xl text-white-50"></i>
  </button>
</div>
