.zoom {
  transition: transform 0.2s ease;

  @media (min-width: 768px) {
    &:hover {
      transform: scale(1.2);
      z-index: 9;
    }

    &:first-child:hover {
      transform: scale(1.2);
    }
  }
}

.overflow-auto {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; 
}

.overflow-auto::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media (max-width: 480px) {
  h2 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: -7px;
  }

  .removePaddingContainer {
    padding: 0px !important;
  }
}

@media (max-width: 1024px) {
  .removePaddingContainer {
    padding: 0px !important;
  }
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.scrollGame {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; 
  white-space: nowrap;
  display: block;
  padding-left: 78px;
  padding-right: 110px;
  padding-top: 15px;
  padding-bottom: 20px;
  scrollbar-color: transparent transparent; 

  @media (max-width: 1300px) {
    padding-left: 39px;
    padding-bottom: 45px;
  }

  @media (max-width: 480px) {
    overflow-y: hidden;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 16px;
  }
}
.scrollGameHeight {
  @media (min-width: 1200px) {
    height: 400px !important;
  }
}
.scrollGameHeightAdjust {
  @media (min-width: 1200px) {
    height: 250px !important;
  }
  @media (max-width: 1200px) {
    height: 265px !important;
  }
  @media (max-width: 475px) {
    height: 210px !important;
  }
   
}
.newGamezopAjustedHeight {
  // @media (max-width: 475px) {
    height: auto !important;
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px;
    .gameCard {
      height: 210px !important;
      width: 245px !important;
      margin-bottom: 15px !important;
    }
    @media screen and (min-width: 1550px) {
      .gameCard {
        width: 295px !important;
      }
    }
    @media screen and (min-width: 1400px) and (max-width: 1425px) {
      .gameCard {
        width: 242px !important;
      }
    }
    @media screen and (min-width: 850px) and (max-width: 1200px) {
      padding-right: 50px !important;
      gap: 0px !important;
      .gameCard {
        width: 25% !important;
        height: 230px !important;
      }
    }
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      padding-right: 50px !important;
      gap: 0px !important;
      .gameCard {
        width: 20% !important;
        height: 230px !important;
      }
    }
    @media screen and (min-width: 575px) and (max-width: 850px) {
      padding-right: 10px !important;
      .gameCard {
        height: 195px !important;
        width: 31% !important;
      }
    }

    @media screen and (max-width: 575px) {
      padding-right: 10px !important;
      .gameCard {
        height: 175px !important;
        width: 45% !important;
      }
    }
  // }
}

.paddingLeft {
  @media (max-width: 767.9px) {
    padding-left: 25px;
  }

  @media (max-width: 480px) {
    padding-left: 0px;
  }
}

.scrollGame::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollGame .gameCard {
  display: inline-block;
}

.w210 {
  width: 210px !important;
}

.w290 {
  width: 270px;
  height: 150px;
  
  @media (max-width: 320px) {
    height: 145px;
  }

  @media (max-width: 767.9px) {
    width: 220px;
    height: 140px;
  }
}
.w300 {
  height: 180px;
  width: 300px;
  @media (min-width: 768px) {
    &:hover {
      transform: scale(1.1) !important;
      z-index: 9;
    }

    &:first-child:hover {
      transform: scale(1.1) !important;
    }
  }
}

.borderRadius15 {
  border-radius: 15px !important;
}

.railHeading {
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #dcdcdc;
  letter-spacing: 0.02em;
  font-family: "TsukiRegular";
  @media (max-width: 480px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.arrowPaddingLeft {
  padding-left: 50px;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 0px;
  background: #151515a8;

  @media (max-width: 1300px) {
    padding-left: 30px;
  }

  @media (max-width: 767.9px) {
    padding-left: 10px;
  }
}

.arrowPaddingright {
  padding-right: 50px;
  top: 0;
  right: 0px;
  z-index: 10;
  border-radius: 0px;
  background: #151515a8;

  @media (max-width: 1300px) {
    padding-right: 30px;
  }

  @media (max-width: 767.9px) {
    padding-right: 10px;
  }
}