<div class="position-relative">
  <h2 class="text-white">{{ title }}</h2>

  <div #container class="d-flex overflow-auto py-3">
    <div *ngFor="let game of games" class="mr-4">
      <a
        class="card card-block border-0 shadow-1"
        (click)="onGameClick(game)"
      >
        <video
          #video
          class="mask"
          style="border-radius: 4px; height: 100%; object-fit: cover"
        >
          <source [src]="game.video" />
        </video>
        <div
          class="mask"
          style="z-index: 2"
          #mask
          (mouseenter)="playVideo(video, image, game)"
          (mouseleave)="pauseVideo(video, image, game)"
        >
          <img
            #image
            class="card-img"
            [src]="game.textBgImage"
            alt=""
          />
          <div
            *ngIf="showSound === game.oneplayId"
            class="mute rounded-circle py-1 px-2 bg-translucent-darker"
            (click)="muteUnmute($event, video, game)"
          >
            <em class="fa fa-volume-off text-white"></em>
          </div>
        </div>
      </a>
    </div>
  </div>

  <button
    class="btn rounded-circle position-absolute px-1 py-2"
    style="top: 90px; left: -40px"
    (click)="scrollLeft()"
  >
    <i class="fas fa-chevron-left text-xl"></i>
  </button>

  <button
    class="btn rounded-circle position-absolute px-1 py-2"
    style="top: 90px; right: -40px"
    (click)="scrollRight()"
  >
    <i class="fas fa-chevron-right text-xl"></i>
  </button>
</div>
