<h2 class="text-white position-relative">{{ title }}</h2>
<div class="position-relative">
  <div #container class="d-flex overflow-auto py-3">
    <div *ngFor="let game of _games" class="mr-3">
      <a
        #gameLink
        class="card card-block border-0 shadow-1"
        (click)="onGameClick(game)"
      >
        <div
          class="mask"
          style="z-index: 2"
          #mask
          (mouseenter)="playVideo(gameLink, image, game)"
          (mouseleave)="pauseVideo(gameLink, image, game)"
        >
          <img #image class="card-img" [src]="game.textBgImage" alt="" />
          <div
            *ngIf="showSound === game.oneplayId"
            class="mute bg-translucent-darker"
            [ngClass]="{ unmute: !muted }"
            (click)="muteUnmute($event, gameLink, game)"
          >
            <em *ngIf="muted" class="fa fa-volume-off text-white"></em>
            <em
              *ngIf="!muted"
              class="fa fa-microphone-slash text-white"
              style="font-size: 12px"
            ></em>
          </div>
        </div>
      </a>
    </div>
  </div>

  <button
    class="btn position-absolute d-none d-lg-block h-100"
    style="top: 0; left: -48px"
    (click)="scrollLeft()"
  >
    <i class="fas fa-chevron-left text-xl"></i>
  </button>

  <button
    class="btn position-absolute d-none d-lg-block h-100"
    style="top: 0; right: -48px"
    (click)="scrollRight()"
  >
    <i class="fas fa-chevron-right text-xl"></i>
  </button>
</div>
