<ngb-carousel
  *ngIf="banners.length"
  id="home-header"
  [interval]="4000"
  [pauseOnFocus]="false"
  [pauseOnHover]="true"
  [showNavigationArrows]="true"
  [showNavigationIndicators]="false"
  class="pt-4"
>
  <ng-template *ngFor="let banner of banners" ngbSlide>
    <div class="container pt-6 mid-screen">
      <div class="card bg-dark" style="width: 100%">
        <div class="row m-0">
          <div
            class="col-md-8 p-0 position-relative banner-img"
            [style.background-image]="'url(' + banner.thumbnail + ')'"
          >
            <!-- <span class="mask bg-translucent-dark"></span> -->
          </div>
          <div class="col-md-4 p-0">
            <div class="card-body d-flex flex-column" style="height: 100%">
              <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded-circle mr-2">
                      <img
                        [src]="
                          !!banner.creatorThumbnail ||
                          (banner.creatorName | avatar)
                        "
                        alt=""
                      />
                    </div>
                    <div>
                      <div class="text-sm text-white two-lines-sm">
                        {{ banner.creatorName }}
                      </div>
                      <div class="text-xs text-primary">
                        {{ banner.source }}
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <i
                      class="fa fa-eye text-white-50 mr-1"
                      aria-hidden="true"
                    ></i>
                    <span class="text-xs text-white-50"
                      >{{ nFormatter(banner.sourceViews, 1) }} viewers</span
                    >
                  </div>
                </div>
                <hr class="my-3 bg-gray" />
                <p class="text-sm text-white-50 three-lines-sm">
                  {{ banner.description }}
                </p>
              </div>
              <a
                href="javascript:void(0)"
                [routerLink]="['/streams/' + getId(banner)]"
                class="btn btn-primary"
                >Watch live stream</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>

<div [ngClass]="{ 'pt-7': banners.length === 0 }">
  <div *ngFor="let feed of feeds">
    <app-stream-card
      [title]="'Streams of ' + feed.title"
      [gameId]="feed.id"
      [videos]="feed.videos"
    ></app-stream-card>
  </div>
</div>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
