.banner-img {
  height: 465px;
  background-size: cover;
  background-position: center;

  @media (max-width: 480px) {
    height: 265px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
}

@media (min-width: 576px) and (max-width: 1200px) {
  .mid-screen {
    padding-top: 100px !important;
  }
}