.bg-gradient-banner {
    background: linear-gradient(261deg, rgba(18, 18, 18, 0) 15%, rgba(18, 18, 18, 0.27) 30%, rgba(18, 18, 18, 0.47) 45%, rgba(18, 18, 18, 0.92) 70%);
}

.bg-gradient-banner-bottom {
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0), #121212 69%, #121212);
}

.small-card {
    width: max-content;
    height: max-content;
    margin-right: 8px;

    img {
        border-radius: 8px;
    }
}
