<app-initializing-game
  [game]="game"
  [initialized]="initialized"
  [progress]="progress"
  [errored]="initializationErrored"
  *ngIf="initializationPage"
></app-initializing-game>

<div *ngIf="!initializationPage" class="container-fluid">
  <div
    class="container-fluid removePaddingContainer mt-3 mt-lg-0"
    *ngIf="!!game"
  >
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card border-0 bgTransparent borderRadius10">
          <img
            class="card-img height80 borderRadius10"
            style="object-fit: cover; object-position: top"
            [src]="game.bgImage"
            (error)="$event.target.src = 'assets/img/default_bg.webp'"
            alt="Card image"
          />
          <div
            class="card-img-overlay customOverlay p-lg-4 pl-lg-5 borderRadius10"
          >
            <div class="hideInLarge position-absolute right-2 top-4">
              <button
                *ngIf="!isInWishlist"
                (click)="addToWishlist()"
                [disabled]="loadingWishlist"
                class="btn p-0"
                ngbTooltip="Add to Library"
              >
                <img
                  src="assets/icons/Speedtest (2).svg"
                  class="img-fluid"
                  alt=""
                />
              </button>
              <button
                *ngIf="isInWishlist"
                (click)="removeFromWishlist()"
                [disabled]="loadingWishlist"
                class="btn p-0"
                ngbTooltip="Remove from Library"
              >
                <img
                  src="assets/icons/Speedtest.svg"
                  class="img-fluid"
                  alt=""
                />
              </button>
            </div>
            <div class="row imagesText">
              <div class="col-md-12">
                <div class="row height100px">
                  <div class="col">
                    <img [src]="game.textLogo" class="img-fluid text-logo" alt="" />
                  </div>
                </div>
                <p class="font16 font500 text-white mt-lg-4">
                  {{ game.releaseDate | date : "MMM, yyyy" }} -
                  {{ game.ageRating }}
                  {{ game.isFree ? " - Free" : "" }}
                </p>
                <div class="row">
                  <!-- <div
                    *ngIf="game.status === 'unlive'"
                    class="col-12 text-red mb-2"
                  >
                    **This game is not available at the moment**
                  </div> -->
                  <div
                    class="col-auto align-self-center fullWidthBtn"
                    *ngIf="
                      game.status === 'coming_soon' ||
                      game.status === 'maintenance' ||
                      game.status === 'updating'
                    "
                  >
                    <div class="borderRadius90 mt-3 blackBbg">
                      <button
                        class="btn blackColor borderRadius90 px-lg-4 border-0 text-white GradientBtnPadding position-relative fullWidthBtn"
                        disabled
                      >
                        <span *ngIf="game.status === 'coming_soon'"
                          >Coming Soon</span
                        >
                        <span *ngIf="game.status === 'maintenance'"
                          >Under Maintenance</span
                        >
                        <span *ngIf="game.status === 'updating'"
                          >Unavailable</span
                        >
                      </button>
                    </div>
                  </div>
                  <div
                    class="col-auto align-self-center fullWidthBtn"
                    *ngIf="
                      game.status === 'live' || game.status === 'not_optimized'
                    "
                  >
                    <button
                      *ngIf="!terminatingGame"
                      class="btn playBtn borderRadius90 px-lg-4 mt-3 border-0 text-white GradientBtnPadding position-relative fullWidthBtn"
                      [disabled]="startingGame || game.status === 'unlive' || !selectedStore"
                      [ngClass]="{ 'hide-text': startingGame }"
                      (click)="playGame(smallModal)"
                    >
                      <ngx-ui-loader
                        [fgsColor]="'#c32ead'"
                        [hasProgressBar]="false"
                        [fgsSize]="20"
                        [fgsPosition]="'center-left'"
                        [text]="'Initializing...'"
                        [overlayBorderRadius]="'90px'"
                        [loaderId]="'play-loader'"
                      ></ngx-ui-loader>
                      {{ !startingGame ? action + " Now" : "Initializing..." }}
                    </button>
                    <button
                      *ngIf="action !== 'Play' && !startingGame"
                      class="btn text-white redButtonGradient fullWidthBtn borderRadius90 GradientBtnPadding mt-3 px-lg-4 position-relative"
                      [disabled]="terminatingGame"
                      [ngClass]="{ 'hide-text': terminatingGame }"
                      (click)="terminateButton()"
                    >
                      <ngx-ui-loader
                        [fgsColor]="'#c32ead'"
                        [hasProgressBar]="false"
                        [fgsSize]="20"
                        [fgsPosition]="'center-left'"
                        [text]="'Terminating...'"
                        [overlayBorderRadius]="'90px'"
                        [loaderId]="'terminate-loader'"
                      ></ngx-ui-loader>
                      {{ !terminatingGame ? "Terminate" : "Terminating..." }}
                    </button>
                  </div>
                  <div
                    class="col-auto pl-1 hideInMobile mt-3 align-self-center"
                  >
                    <button
                      *ngIf="!isInWishlist"
                      (click)="addToWishlist()"
                      [disabled]="loadingWishlist"
                      class="btn p-0"
                      ngbTooltip="Add to Library"
                    >
                      <img
                        src="assets/icons/Speedtest (2).svg"
                        class="img-fluid"
                        alt=""
                        width="41px"
                        height="41px"
                      />
                    </button>
                    <button
                      *ngIf="isInWishlist"
                      (click)="removeFromWishlist()"
                      [disabled]="loadingWishlist"
                      class="btn p-0"
                      ngbTooltip="Remove from Library"
                    >
                      <img
                        src="assets/icons/Speedtest.svg"
                        class="img-fluid"
                        alt=""
                        width="41px"
                        height="41px"
                      />
                    </button>
                  </div>
                </div>
                <form
                  class="row justify-content-center checkBox pl-3"
                  *ngIf="
                    game.status === 'live' || game.status === 'not_optimized'
                  "
                >
                  <div
                    class="col-auto customResponsiveWidth custom-control custom-checkbox mt-3 mb-md-0"
                  >
                    <input
                      type="checkbox"
                      class="custom-control-input my-error"
                      id="customCheck1"
                      [formControl]="showSettings"
                    />
                    <label
                      class="custom-control-label font16 font500 text-white hideInMobile"
                      for="customCheck1"
                      ><span class="marginLeftNegative"
                        >Show gameplay settings before launch</span
                      ></label
                    >
                    <label
                      class="custom-control-label font16 font500 muteText hideInLarge"
                      for="customCheck1"
                      ><span class="marginLeftNegative"
                        >Show settings before launch</span
                      ></label
                    >
                  </div>
                </form>
                <div class="font16 my-3 textCenterInResponsive hideInMobile">
                  <p
                    class="cancelgradientText font600"
                    *ngIf="game.status === 'coming_soon'"
                  >
                    Stay tuned, Coming soon to OnePlay!
                  </p>
                  <p
                    class="yellowGradient font600"
                    *ngIf="game.status === 'maintenance'"
                  >
                    We are working diligently to ensure a smoother gameplay.
                    Game will be back soon!
                  </p>
                  <p
                    class="gradientInfoText font600"
                    *ngIf="game.status === 'updating'"
                  >
                    We're implementing important updates, game will be back
                    shortly!
                  </p>
                  <p
                    class="orangeGradient font600"
                    *ngIf="game.status === 'not_optimized'"
                  >
                    The Quality of the gameplay may vary depending on your
                    device.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 px-0 marginTopRes">
        <div class="font16 textCenterInResponsive px-2">
          <p
            class="cancelgradientText font600"
            *ngIf="game.status === 'coming_soon'"
          >
            Stay tuned, Coming soon to OnePlay!
          </p>
          <p
            class="yellowGradient font600"
            *ngIf="game.status === 'maintenance'"
          >
            We are working diligently to ensure a smoother gameplay. Game will
            be back soon!
          </p>
          <p
            class="gradientInfoText font600"
            *ngIf="game.status === 'updating'"
          >
            We're implementing important updates, game will be back shortly!
          </p>
          <p
            class="orangeGradient font600"
            *ngIf="game.status === 'not_optimized'"
          >
            The Quality of the gameplay may vary depending on your device.
          </p>
        </div>
        <hr class="borderColor hideInLarge" />
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mt-sm-4">
            <div class="row">
              <div class="col-lg-10 mt-md-0">
                <h1 class="font700 font24 text-white">About Game</h1>
                <span
                  id="description"
                  class="font17 font500 descriptionText muteText mt-2 mt-lg-4 mb-0"
                >
                  {{
                    isReadMore && shortDescLength < game.description.length
                      ? shortDesc
                      : longDesc
                  }}
                </span>
                <a
                  href="javascript:void(0)"
                  type="button"
                  class="font16 text-white font-weight-500 mt-1 mb-4"
                  [ngStyle]="{
                    display:
                      shortDescLength < game.description.length
                        ? 'inline'
                        : 'none'
                  }"
                  (click)="showText()"
                >
                  {{ isReadMore ? "...Read More" : "Read Less" }}
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div
                *ngIf="game.storesMapping.length"
                class="col-auto pr-lg-5 mt-4"
              >
                <p class="font16 font500 muteText">Store</p>
                <a
                  href="javascript:void(0)"
                  *ngFor="let store of game.storesMapping"
                  class="font600 font20 text-white p-2 pr-3 store selected"
                  [ngClass]="{ selected: store === selectedStore }"
                  (click)="selectStore(store)"
                >
                  <img
                    [src]="store.name | store"
                    height="32"
                    class="mr-2"
                    [alt]="store.name"
                    onerror="this.style.display = 'none'"
                  />
                  <input
                    type="checkbox"
                    class="checkbox"
                    [checked]="store === selectedStore"
                    (change)="selectStore(store)"
                    [disabled]="store === selectedStore ? true : null"
                  />
                </a>
              </div>
              <div class="col mt-4" *ngIf="game.developer.length">
                <p class="font16 font500 muteText mb-2">Developer</p>
                <div class="row">
                  <div
                    class="col-auto pr-0"
                    *ngFor="let dev of game.developer; let i = index"
                  >
                    <p class="font600 font18 text-white mb-0">
                      <span class="align-middle">{{ dev | titlecase }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <p class="font16 font500 muteText mb-0">Tags</p>
                <span
                  *ngFor="let genre of game.genreMappings"
                  class="badge badge-pill text-capitalize customLinearGradient font500 font14 mr-2 text-white px-3 py-0 px-sm-3 mt-3"
                  >{{ genre }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="borderColor mb-0 hideInLarge" *ngIf="_videos.length > 0" />

<div *ngIf="!initializationPage" class="overflow-hidden">
  <div *ngIf="!!game">
    <div class="row px-3 d-block d-md-none">
      <div class="col-md-6 col-12" *ngIf="_videos.length > 0">
        <h2 class="font18 font500 offWhiteText mt-4 mb-0">Top Videos</h2>
        <div
          *ngFor="let video of _videos"
          class="mt-4"
          (click)="open(modal, video)"
          style="cursor: pointer"
        >
          <img
            [src]="video.thumbnail"
            (click)="open(modal, video)"
            class="removecover img-fluid borderRadius10"
            alt=""
            height="248px"
          />
          <div class="row">
            <div
              class="col-12 mt-4 font16 font500 offWhiteText mt-3 removeWhiteSpace"
            >
              {{ video.title }}
            </div>
            <div class="col-auto mt-4">
              <img
                [src]="
                  video.creatorThumbnail
                    ? video.creatorThumbnail
                    : (video.creatorName | avatar)
                "
                class="rounded-circle"
                width="50"
                height="50"
                alt=""
              />
            </div>
            <div class="col text-truncate mt-4 pl-0">
              <p class="font16 font500 muteText mb-0">
                {{ video.creatorName }}
              </p>
              <p class="font16 font500 muteText mb-0">
                {{ video.addedAt | date }}
              </p>
            </div>
          </div>
        </div>

        <div *ngIf="videos.length >= 2" class="text-center my-4">
          <button
            class="btn btn-block text-white font16 font500 border-0 activelinear br60"
            (click)="showAllVideos = !showAllVideos"
          >
            {{ showAllVideos ? "Show Less" : "Browse more videos" }}
          </button>
        </div>
      </div>

      <div class="col-md-6 col-12 pr-lg-4" *ngIf="_liveVideos.length > 0">
        <h2 class="font18 font500 offWhiteText mt-4 mb-0">Top Live Streams</h2>
        <div
          *ngFor="let video of _liveVideos"
          class="mt-4"
          (click)="open(modal, video)"
          style="cursor: pointer"
        >
          <div class="card bgTransparent border-0 borderRadius10">
            <img
              [src]="video.thumbnail"
              (click)="open(modal, video)"
              class="card-img img-fluid removecover borderRadius10"
              alt=""
              height="248px"
            />
            <div class="card-img-overlay p-2 text-right">
              <live>LIVE</live>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 mt-4 font16 font500 offWhiteText mt-3 removeWhiteSpace"
            >
              {{ video.title }}
            </div>
            <div class="col-auto mt-4">
              <img
                [src]="video.creatorThumbnail || (video.creatorName | avatar)"
                class="rounded-circle"
                width="50"
                height="50"
                alt=""
              />
            </div>
            <div class="col text-truncate mt-4 pl-0">
              <p class="font16 font500 muteText mb-0">
                {{ video.creatorName }}
              </p>
              <p class="font16 font500 muteText mb-0">
                {{ video.addedAt | date }}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="liveVideos.length >= 2" class="text-center my-4">
          <button
            class="btn btn-block text-white font16 font500 border-0 activelinear br60"
            (click)="showAllLiveVideos = !showAllLiveVideos"
          >
            {{ showAllLiveVideos ? "Show Less" : "Browse more streams" }}
          </button>
        </div>
      </div>
    </div>
    <hr class="borderColor d-block d-md-none" />

    <div *ngIf="videos.length" class="mt-2 mt-lg-4 d-none d-md-block">
      <app-stream-card
        [title]="'Top Videos'"
        [gameId]="game.id"
        [videos]="videos"
      ></app-stream-card>
    </div>

    <div *ngIf="similarGames.length">
      <app-similar-games
        [title]="'Similar games'"
        [games]="similarGames"
      ></app-similar-games>
    </div>

    <div *ngIf="liveVideos.length" class="mt-2 mt-lg-4 d-none d-md-block">
      <app-stream-card
        [title]="'Top Live Streams'"
        [gameId]="game.id"
        [videos]="liveVideos"
      ></app-stream-card>
    </div>

    <div *ngIf="genreGames.length">
      <app-similar-games
        [title]="'From Genre'"
        [games]="genreGames"
      ></app-similar-games>
    </div>

    <div *ngIf="devGames.length">
      <app-similar-games
        [title]="'From Developer'"
        [games]="devGames"
      ></app-similar-games>
    </div>
  </div>
</div>

<ng-template #modal let-d="dismiss">
  <div class="modal-content position-relative">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github p-0 rounded-circle top-2 right-1"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </a>
    <iframe
      class="youtube-player"
      [src]="playing | safe"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</ng-template>

<!-- small modal to select resolution, vsync and fps before launching the game -->
<ng-template #smallModal>
  <div class="modal-content position-relative modalBg">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github p-0 rounded-circle top-2 right-1"
      (click)="dismissSettingsModal()"
    >
      <i class="fas fa-times"></i>
    </a>
    <div class="modal-header border-bottom borderColor w-100 text-center">
      <h2 class="text-white font600 mb-0 font18responsive">
        Select your game settings
      </h2>
    </div>
    <div class="modal-body pb-0 height300">
      <div class="row">
        <div *ngIf="game.storesMapping.length" class="col-12">
          <div
            class="alert alert-danger dangerBg border-0 p-2 text-center"
            role="alert"
          >
            <p class="mb-0 font500 font14responsive">
              To play this game, you must own it on
              <a
                [href]="selectedStore.link"
                target="_blank"
                class="d-inline-block mx-1 text-white font600"
                ><u>{{ selectedStore.name }}</u></a
              >
            </p>
          </div>
        </div>
        <div class="col-12 text-center mt-2 d-none d-sm-inline">
          <p class="garadientColor">
            <img
              src="assets/img/Dashboard/Download.svg"
              class="img-fluid"
              alt=""
            />
            <span class="ml-2">
              <a
                [href]="domain + '/download.html'"
                target="_blank"
                class="d-inline-block mx-1 font14responsive"
              >
                Oneplay client required to play
              </a>
            </span>
          </p>
        </div>
        <div class="col-12 col-md-12">
          <div class="form-group">
            <label for="resolution" class="font18 font500 lightGrayColor">
              Resolution
            </label>
            <select
              class="customFormControl form-control font18 inputBorder font500 offWhiteText"
              id="resolution"
              [formControl]="resolution"
            >
              <option *ngFor="let res of constants.RESOLUTIONS" [value]="res">
                {{ res }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group mb-3">
            <input
              type="text"
              class="customFormControl form-control border-right-0 font18 inputBorder font500 offWhiteText"
              placeholder="Vsync"
              disabled
            />
            <div class="input-group-append">
              <span
                class="input-group-text customFormControl inputBorder p-0 border-left-0"
              >
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="vsync"
                    [formControl]="vsync"
                  />
                  <label class="custom-control-label" for="vsync"></label>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <select
            class="customFormControl form-control font18 inputBorder font500 offWhiteText"
            id="fps"
            [formControl]="fps"
          >
            <option *ngFor="let f of constants.FPS" [value]="f">
              {{ f }} FPS
            </option>
          </select>
        </div>
        <div class="col-12 col-md-12 mt-3">
          <div class="form-group mb-0">
            <label class="font18 font500 lightGrayColor"
              >Bitrate ({{ bitrateInMb }} Mbps)</label
            >
            <input
              class="range"
              type="range"
              [formControl]="bitrate"
              min="5000"
              max="50000"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-1">
          <button
            class="btn btn-link btn-block font16 font500 lightGrayColor"
            (click)="openAdvanceOptions(advanced)"
          >
            <img
              src="assets/img/Dashboard/Vector.svg"
              class="img-fluid mr-2"
              alt=""
            />
            Advanced game options
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-gradient border-0 text-white py-3 font18 font14responsive font500 btn-block"
        (click)="launchFromSettings()"
      >
        Launch game
      </button>
    </div>
  </div>
</ng-template>

<!-- <ng-template #initializedModal>
  <div class="modal-content modalBg">
    <div class="modal-body p-4 text-center">
      <h2 class="offWhiteText font20 font600 mb-2 mt-2">{{ initialized }}</h2>
      <p class="muteText font500 mb-4">
        Please wait while we connect you to the game
      </p>
      <object type="image/svg+xml" class="w50" data="assets/img/Animated_Loading_Oneplay.svg"></object>
    </div>
  </div>
</ng-template> -->

<ng-template #advanced let-d="dismiss">
  <div class="modal-content position-relative modalBg">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github p-0 rounded-circle top-2 right-1"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </a>
    <div class="modal-header border-bottom borderColor w-100 text-center">
      <h2 class="text-white font600 mb-0 font18responsive">
        Advanced Game Options
      </h2>
    </div>
    <div class="modal-body pt-0">
      <form [formGroup]="advancedOptions">
        <div class="row justify-content-center pl-md-3 pr-md-3">
          <div class="col-md-12 col-sm-10 col-11">
            <div class="row justify-content-center">
              <div class="col-11 col-md-4 pl-0">
                <div
                  class="text-center customBodyColor borderRadius10 px-md-2 px-1 pt-2 py-md-3 pb-2 mt-md-4 mt-2"
                >
                  <div class="row">
                    <div class="col-md-12 col-2 align-self-center">
                      <div class="custom-control custom-switch pl-md-7">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="show_stats"
                          formControlName="show_stats"
                        />
                        <label
                          class="custom-control-label"
                          for="show_stats"
                        ></label>
                      </div>
                    </div>
                    <div class="col-md-12 col-10 pl-0 pl-md-3">
                      <p class="mb-0 font16 font500 muteText mt-md-3 px-md-4">
                        Show Stats
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-11 col-md-4 pl-0">
                <div
                  class="text-center customBodyColor borderRadius10 px-md-2 px-1 pt-2 py-md-3 pb-2 mt-md-4 mt-2"
                >
                  <div class="row">
                    <div class="col-md-12 col-2 align-self-center">
                      <div class="custom-control custom-switch pl-md-7">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="fullscreen_mode"
                          formControlName="fullscreen"
                        />
                        <label
                          class="custom-control-label"
                          for="fullscreen_mode"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 col-md-12">
                      <p class="mb-0 font16 font500 muteText mt-md-3">
                        Fullscreen Mode
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-11 col-md-4 pl-0">
                <div
                  class="text-center customBodyColor borderRadius10 px-md-2 px-1 pt-2 py-md-3 pb-2 mt-md-4 mt-2"
                >
                  <div class="row">
                    <div class="col-md-12 col-2 align-self-center">
                      <div class="custom-control custom-switch pl-md-7">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="onscreen_controls"
                          formControlName="onscreen_controls"
                        />
                        <label
                          class="custom-control-label"
                          for="onscreen_controls"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 col-md-12">
                      <p class="mb-0 font16 font500 muteText mt-md-3">
                        Onscreen Controls
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <label class="font16 font500 muteText">Audio Type</label><br />
                <div
                  class="radioBtns btn-group btn-group-toggle w-100 mt-1"
                  data-toggle="buttons"
                >
                  <label
                    class="btn customBtn width35 mr-md-4 mr-2"
                    [ngClass]="{ active: audio_type === 'stereo' }"
                  >
                    <input
                      type="radio"
                      formControlName="audio_type"
                      id="Stereo"
                      value="stereo"
                      autocomplete="off"
                      checked
                    />
                    <span>Stereo</span>
                  </label>
                  <label
                    class="btn customBtn width35"
                    [ngClass]="{ active: audio_type === '5_1' }"
                  >
                    <input
                      type="radio"
                      formControlName="audio_type"
                      id="5_1"
                      value="5_1"
                      autocomplete="off"
                    />
                    <span>5.1</span>
                  </label>
                </div>
              </div>
              <div class="col-12 mt-3">
                <label class="font16 font500 muteText">Stream Codec</label
                ><br />
                <div
                  class="radioBtns btn-group btn-group-toggle w-100 mt-1"
                  data-toggle="buttons"
                >
                  <label
                    class="btn customBtn width35 mr-md-4 mr-2"
                    [ngClass]="{ active: stream_codec === 'auto' }"
                  >
                    <input
                      type="radio"
                      formControlName="stream_codec"
                      id="Auto"
                      value="auto"
                      autocomplete="off"
                    />
                    <span>Auto</span>
                  </label>
                  <label
                    class="btn customBtn width35 mr-md-4 mr-2"
                    [ngClass]="{ active: stream_codec === 'forceh265' }"
                  >
                    <input
                      type="radio"
                      formControlName="stream_codec"
                      id="HEVC"
                      value="forceh265"
                      autocomplete="off"
                      checked
                    />
                    <span>HEVC</span>
                  </label>
                  <label
                    class="btn customBtn width35"
                    [ngClass]="{ active: stream_codec === 'neverh265' }"
                  >
                    <input
                      type="radio"
                      formControlName="stream_codec"
                      id="H.264"
                      value="neverh265"
                      autocomplete="off"
                    />
                    <span>H.264</span>
                  </label>
                </div>
              </div>
              <div class="col-12 mt-3">
                <label class="font16 font500 muteText"
                  >Video Decoder Selection</label
                ><br />
                <div
                  class="radioBtns btn-group btn-group-toggle w-100 mt-1"
                  data-toggle="buttons"
                >
                  <label
                    class="btn customBtn width35 mr-md-4 mr-2"
                    [ngClass]="{ active: video_decoder_selection === 'auto' }"
                  >
                    <input
                      type="radio"
                      formControlName="video_decoder_selection"
                      id="Auto"
                      value="auto"
                      autocomplete="off"
                      checked
                    />
                    <span>Auto</span>
                  </label>
                  <label
                    class="btn customBtn width35 mr-md-4 mr-2"
                    [ngClass]="{
                      active: video_decoder_selection === 'hardware'
                    }"
                  >
                    <input
                      type="radio"
                      formControlName="video_decoder_selection"
                      id="Hardware"
                      value="hardware"
                      autocomplete="off"
                    />
                    <span>Hardware</span>
                  </label>
                  <label
                    class="btn customBtn width35"
                    [ngClass]="{
                      active: video_decoder_selection === 'software'
                    }"
                  >
                    <input
                      type="radio"
                      formControlName="video_decoder_selection"
                      id="Software"
                      value="software"
                      autocomplete="off"
                    />
                    <span>Software</span>
                  </label>
                </div>
              </div>
              <div class="col-md-12 pt-4">
                <button
                  type="submit"
                  (click)="saveAdvanceSettings()"
                  class="btn btn-block linearGradient text-white border-0 py-3 mt-2 font18 font14responsive font500"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #launchModal let-d="dismiss">
  <div class="modal-content position-relative modalBg">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github p-0 rounded-circle top-2 right-1"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times-circle"></i>
    </a>
    <div class="modal-header py-md-4 py-3 border-bottom borderColor w-100">
      <h2 class="text-white w-100 font600 mb-0 text-center font18responsive">
        Game on!
      </h2>
    </div>
    <div class="modal-body p-3 p-md-4">
      <div class="row justify-content-center">
        <div class="col-9 col-md-11 mt-2">
          <h2 class="font16 font500 muteText text-center">
            Your game is running and ready for action!
          </h2>
        </div>
      </div>
      <div class="row text-center mt-md-2 justify-content-center">
        <div class="col-md-11 col-12 mt-md-4 mt-3">
          <button
            class="btn text-white customLinearGradient font18btn responsiveBr60 font500 p-md-3 p-2 border-left-0 border-right-0 border-top-0 btn-block"
            (click)="clickLaunchAgain()"
          >
            <div class="p-1 p-md-0">Launch Gaming Client</div>
          </button>
        </div>
        <div *ngIf="!!clientDownloadLink" class="col-12 col-md-11 mt-md-4 mt-3">
          <a
            [href]="macDownloadLink ? 'javascript:void(0)' : clientDownloadLink"
            class="btn btn-link btn-block activeBG responsiveBr60"
            (click)="macDownloadLink ? macDownload(macDownloadModal) : undefined"
          >
            <div
              class="customBtnPadding btn btn-block text-white font18btn responsiveBr60 font500 p-md-3 p-2 modalBg"
            >
              Download Gaming Client
              <img
                src="assets/img/Vector 67.svg"
                class="img-fluid align-middle ml-2"
                alt=""
              />
            </div>
          </a>
        </div>
        <div *ngIf="macDownloadLink" class="col-12 col-md-11 mt-md-4 mt-3">
          <a
            href="javascript:void(0)"
            class="btn btn-link btn-block activeBG responsiveBr60"
            (click)="macDownload(macDownloadModal)"
          >
            <div
              class="customBtnPadding btn btn-block text-white font18btn responsiveBr60 font500 p-md-3 p-2 modalBg"
            >
              Download Gaming Client
              <img
                src="assets/img/Vector 67.svg"
                class="img-fluid align-middle ml-2"
                alt=""
              />
            </div>
          </a>
        </div>
        <div class="col-12 col-md-11 mt-md-4 mt-3">
          <a
            href="javascript:void(0)"
            class="btn btn-link btn-block activeBG responsiveBr60"
            (click)="startGameWithWebRTCToken()"
          >
            <div
              class="customBtnPadding btn btn-block text-white font18btn responsiveBr60 font500 p-md-3 p-2 modalBg"
            >
              Start Your Journey on Browser
              <img
                src="assets/img/web 1.svg"
                class="img-fluid align-middle ml-2"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="modal-footer d-inline text-center border-top borderColor mt-3"
      *ngIf="!!exitCommand"
    >
      <p class="font16 font500 muteText">
        To Quit Game Press {{ exitCommand }}
      </p>
    </div>
  </div>
</ng-template>

<ng-template #reportErrorModal let-d="dismiss">
  <div class="modal-content modalBg">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github p-0 rounded-circle top-2 right-1"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </a>
    <div class="modal-body p-0">
      <h2
        class="text-white font600 text-center font18responsive border-bottom borderColor py-3"
      >
        Report Error
      </h2>
      <div class="row p-4">
        <div class="col-12">
          <textarea
            [formControl]="reportText"
            class="form-control customFormControl font18 inputBorder font500 offWhiteText h-100"
            rows="3"
            placeholder="write here..."
          ></textarea>
        </div>
        <div class="col-12 mt-4">
          <button
            class="btn btn-block customLinearGradient text-white border-0"
            [disabled]="reportText.invalid"
            (click)="reportError()"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #waitQueueModal>
  <div class="modal-content modalBg">
    <div class="modal-body p-4 text-center">
      <h2 class="text-white w-100 font600 text-center font20">
        Scouting for the Next Open Rig
      </h2>
      <p class="mb-0">
        <img src="assets/img/waitQueae.svg" class="img-fluid py-4" alt="" />
      </p>
      <span class="font38 font700 text-white borderBottomTab"
        ><span class="blink">{{ queueSequence }}</span></span
      >
      <p class="font16 font500 muteText mt-2" [innerText]="queueMessge1"></p>
      <p
        class="font16 font500 muteText my-4 mx-lg-4"
        [innerText]="queueMessge2"
      ></p>
      <button
        class="btn btn-block customLinearGradient border-0 text-white br6 responsiveBr60"
        (click)="cancelWaitQueue()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>

<ng-template #macDownloadModal let-d="dismiss">
  <div class="modal-content modalBg">
    <div class="modal-body p-4 text-center">
      <a
        href="javascript:void(0)"
        class="position-absolute btn p-0 text-white rounded-circle top-2 right-1"
        (click)="d('Cross click')"
      >
        <i class="fas fa-times-circle"></i>
      </a>
      <h5 class="modal-title font20 font600 text-white text-center mt-3">Select the version of OnePlay application that’s right for your Mac</h5>
      <div class="row">
          <div class="col-lg-6 text-center mt-4">
              <a href="https://cdn.edge-net.co/clients/latest/mac_client_intel.dmg">
                  <div class="card blackDarkBg border-0 py-lg-3 py-2">
                      <p class="mb-0 font28 font700 text-white">
                          Mac with Intel
                          <img src="assets/img/downloadIntel.svg" width="28px" class="img-fluid ml-2 h42" alt="" />
                      </p>
                  </div>
              </a>
          </div>
          <div class="col-lg-6 text-center mt-4 ps-lg-0">
            <a href="https://cdn.edge-net.co/clients/latest/mac_client_apple.dmg">
              <div class="card blackDarkBg border-0 py-lg-3 py-2">
                <p class="mb-0 font28 font700 text-white">
                  Mac with M1 & above
                  <img src="assets/img/downloadMac.svg" width="42px" class="img-fluid" alt="" />
                </p>
              </div>
            </a>
            <p class="font16 offWhiteColor mb-0 mt-1">Nov 2020 & Later</p>
          </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
