.desc {
  min-width: 450px;

  @media (max-width: 480px) {
    min-width: auto;
  }
}

.buttons {
  @media (max-width: 480px) {
    .btn-lg {
      margin-bottom: 16px;
      width: 100% !important;
    }
  }
}

.bg-gradient-banner {
  background: linear-gradient(
    261deg,
    rgba(18, 18, 18, 0) 15%,
    rgba(18, 18, 18, 0.27) 30%,
    rgba(18, 18, 18, 0.47) 45%,
    rgba(18, 18, 18, 0.92) 70%
  );
}

.text-logo {
  max-width: 300px;
  max-height: 160px;
  margin-bottom: 24px;
  @media (min-width: 1300px) {
    max-height: 100px;
  }

  @media (max-width: 480px) {
    width: 180px;
    max-height: 100px;
    margin-bottom: 14px;
  }
}

.bg-gradient-banner-bottom {
  background: linear-gradient(
    to bottom,
    rgba(18, 18, 18, 0),
    #151515 69%,
    #151515
  );
}

.small-card {
  width: max-content;
  height: max-content;
  margin-right: 8px;

  img {
    border-radius: 8px;
  }
}

live {
  background: red;
  color: #ffffff;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

#description {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff !important;
  }
}

.youtube-player {
  width: 100%;
  height: 80vh;

  @media (max-width: 768px) {
    height: 60vh;
  }

  @media (max-width: 576px) {
    height: 40vh;
  }
}

.modal-dialog {
  max-width: min-content !important;
}

.video-text {
  max-width: 100%;
  overflow-wrap: anywhere;
}

.video-image {
  width: 248px;
  height: 140px;
  border-radius: 4px !important;
  flex-shrink: 0;
  object-fit: cover;
  @media (max-width: 480px) {
    width: 100%;
    height: auto;
  }
}

.loader3 {
  width:50px;
  height:50px;
  display:inline-block;
  padding:0px;
  text-align:left;
}
.loader3 span {
  position:absolute;
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:100%;
  background:rgba(135, 211, 124,1);
  -webkit-animation:loader3 1.5s linear infinite;
  animation:loader3 1.5s linear infinite;
}
.loader3 span:last-child {
  animation-delay:-0.9s;
  -webkit-animation-delay:-0.9s;
}
@keyframes loader3 {
  0% {transform: scale(0, 0);opacity:0.8;}
  100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes loader3 {
  0% {-webkit-transform: scale(0, 0);opacity:0.8;}
  100% {-webkit-transform: scale(1, 1);opacity:0;}
}

.customOverlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.12%, rgba(0, 0, 0, 0.52) 51.58%, rgba(0, 0, 0, 0.8) 100%);
  bottom: 0;
  top: auto;
}

@media (max-width: 480px) {
  .customOverlay {
    height: 300px;
  }

  .imagesText {
    height: 300px;
    align-items: flex-end;
  }

  .custom-control-label span {
    top: 1px !important;
  }
}

.height80 {
  height: 470px;
  @media (max-width: 968px) {
    height: 450px;
  }
  @media (max-width: 480px) {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .fullWidthBtn {
    width: 100%;
    font-size: 16px !important;
    line-height: 26px;
    font-weight: 500 !important;
  }

  .height300 {
    height: 300px;
    overflow-y: scroll;
  }

  .font18responsive {
    font-size: 18px;
    line-height: 20px;
  }

  .font14responsive {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .radioBtns .customBtn {
    font-size: 12px;
    line-height: 14px;
    height: 40px;
  }

  .removePaddingContainer {
    padding: 0px !important;
  }

}

@media (max-width: 1024px) {
  .removePaddingContainer {
    padding: 0px !important;
  }
}

.borderRadius10 {
  border-radius: 10px !important;
}

.padding0 {
  padding-right: 0px !important;
}

.modalBg {
  background-color: #212123;
}

.font600 {
  font-weight: 600;
  @media (max-width: 548px) {
    font-weight: 500 !important;
  }
}

.garadientColor {
  background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 500;
}

.dangerBg {
  background-color: #E31C34;
}

.borderColor {
  border-color: #3E4246 !important;
}

.inputBorder {
  border: 2px solid #3E4246;
  border-radius: 10px;
  background-color: transparent;
  height: 52px;
}

.customFormControl:focus {
  color: #DCDCDC;
  background-color: transparent;
  border-color: #3E4246;
  outline: 0;
  box-shadow: none;
}

.custom-control-label::before {
  background-color: #363636;
}

.checkBox .custom-control-input:checked ~ .custom-control-label::before {
  background: #ffffff;
  border: none;
  box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
  border: none;
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url('../../../assets/img/Tick.svg') !important;
}

.font18 {
  font-size: 18px;
  line-height: 24px;
}

.font500 {
  font-weight: 500;
}

.offWhiteText {
  color: #DCDCDC;
}

.lightGrayColor {
  color: #959595;
}

.font16 {
  font-size: 16px;
  line-height: 26px;
  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.btn-gradient {
  background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
  border-radius: 6px !important; 
}

.btn-secondary {
  background-color: #3E4246 !important;
}

.btn-secondary:hover {
  color: #DCDCDC !important;
}

.hide-text {
  color: rgba(0, 0, 0, 0) !important;
}

.borderColor {
  border-color: 1px solid #3E4246;
}

::ng-deep .tooltip-inner {
  width: 180px;
}

.marginLeftNegative {
  margin-left: -15px;
}

.custom-control-label span {
  top: 0px;
}

.font20 {
  font-size: 20px !important;
  line-height: 34px !important;
  @media (max-width: 480px) {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .mid-screen {
    padding-top: 100px !important;
  }
}

.store {
  position: relative;
  border-radius: 6px;
}

.store.selected {
  outline: 2px solid #a83afe;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  height: 1em;
  margin: 0;
  margin-left: auto;
  flex: none;
  outline: none;
  position: relative;
  transition: all 0.2s;
  width: 1em;
  position: absolute;
  top: 2px;
  right: 8px;
  
  &:after {
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.6em;
    left: 0.35em;
    position: absolute;
    top: 0.2em;
    transform: rotate(45deg);
    width: 0.3em;
  }
  
  &:focus {
      box-shadow: 0 0 0 2px #A83AFE;
    }
  
  &:checked {
    background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
    border-color: #A83AFE;
  }
}

.activeBG {
  background: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  padding: 1.6px;
  color: #ffffff !important;
  border-radius: 6px;
}

.font18btn {
  font-size: 18px;
  line-height: 24px;
  @media (max-width: 700px) {
    font-size: 14px;
    line-height: 21px;
  }
}

// input[type=range] {
//   accent-color: #a83afe;
// }

.range {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-moz-range-progress {
  background-color: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  height: 10px;
}

.range::-moz-range-thumb  {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  cursor: pointer;
  border: 2px solid #333;
  box-shadow: -407px 0 0 400px #a83afe;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  cursor: pointer;
  border: 2px solid #333;
  box-shadow: -407px 0 0 400px #a83afe;
}