<div *ngIf="!!game" class="container-fluid customFluid paddingtop100">
  <div class="row mt-4 justify-content-center">
    <div class="col-md-11">
      <div class="card border-0 bgTransparent borderRadius10">
        <img
          class="card-img height80 borderRadius10"
          style="object-fit: cover; object-position: top"
          [src]="game.bgImage"
          (error)="$event.target.src = 'assets/img/default_bg.jpg'"
          [ngStyle]="{
            filter: game.status === 'live' ? 'none' : 'grayscale(100%)'
          }"
          alt="Card image"
        />
        <div
          class="card-img-overlay customOverlay p-lg-4 pl-lg-5 borderRadius10"
        >
          <div class="row justify-content-end">
            <div class="col-auto d-block d-sm-none customTopButton">
              <button
                *ngIf="!isInWishlist"
                (click)="addToWishlist()"
                [disabled]="loadingWishlist"
                class="btn p-0"
              >
                <img
                  src="assets/icons/Speedtest (2).svg"
                  class="img-fluid"
                  alt=""
                />
              </button>
              <button
                *ngIf="isInWishlist"
                (click)="removeFromWishlist()"
                [disabled]="loadingWishlist"
                class="btn p-0"
              >
                <img
                  src="assets/icons/Speedtest (2).svg"
                  class="img-fluid"
                  alt=""
                />
              </button>
            </div>
          </div>
          <div class="row imagesText">
            <div class="col-md-12">
              <img [src]="game.textLogo" class="text-logo" alt="" />
            </div>
            <div class="col-md-12">
              <p class="font16 font500 text-white mt-lg-4">
                {{ game.releaseDate | date : "MMM, yyyy" }} -
                {{ game.ageRating }}
                {{ game.isFree ? " - Free" : "" }}
              </p>
              <div class="row">
                <div *ngIf="game.status === 'unlive'" class="col-12 text-red mb-2">
                  **This game is not available at the moment**
                </div>
                <div class="col-auto align-self-center fullWidthBtn">
                  <button
                    *ngIf="!terminatingGame"
                    class="btn btn-lg px-5 py-lg-3 fullWidthBtn py-2 mt-3 linearGradient text-white font600 border-0 borderRadius90 position-relative"
                    [disabled]="startingGame || game.status === 'unlive'"
                    [ngClass]="{'hide-text': startingGame}"
                    (click)="playGame(smallModal)"
                  >
                    <ngx-ui-loader
                      [fgsColor]="'#c32ead'"
                      [hasProgressBar]="false"
                      [fgsSize]="14"
                      [fgsPosition]="'center-left'"
                      [text]="'Initializing...'"
                      [overlayBorderRadius]="'90px'"
                      [loaderId]="'play-loader'"
                    ></ngx-ui-loader>
                    {{ !startingGame ? action + " Now" : "Initializing..." }}
                  </button>
                  <button
                    *ngIf="action !== 'Play' && !startingGame"
                    class="btn btn-danger fullWidthBtn borderRadius90 btn-lg px-5 py-lg-3 py-2 mt-3 position-relative"
                    [disabled]="terminatingGame"
                    [ngClass]="{'hide-text': terminatingGame}"
                    (click)="terminateSession()"
                  >
                    <ngx-ui-loader
                      [fgsColor]="'#c32ead'"
                      [hasProgressBar]="false"
                      [fgsSize]="14"
                      [fgsPosition]="'center-left'"
                      [text]="'Terminating...'"
                      [overlayBorderRadius]="'90px'"
                      [loaderId]="'terminate-loader'"
                    ></ngx-ui-loader>
                    {{ !terminatingGame ? "Terminate" : "Terminating..." }}
                  </button>
                </div>
                <div class="col-auto d-none d-sm-block align-self-center">
                  <button
                    *ngIf="!isInWishlist"
                    (click)="addToWishlist()"
                    [disabled]="loadingWishlist"
                    class="btn mt-3 p-0"
                  >
                    <img
                      src="assets/icons/Speedtest (2).svg"
                      class="img-fluid"
                      alt=""
                    />
                  </button>
                  <button
                    *ngIf="isInWishlist"
                    (click)="removeFromWishlist()"
                    [disabled]="loadingWishlist"
                    class="btn mt-3 p-0"
                  >
                    <img
                      src="assets/icons/Speedtest (2).svg"
                      class="img-fluid"
                      alt=""
                    />
                  </button>
                </div>
              </div>
              <form class="pb-4">
                <div class="custom-control custom-checkbox mt-4">
                  <input
                    type="checkbox"
                    class="custom-control-input my-error"
                    id="customCheck1"
                    [formControl]="showSettings"
                  />
                  <label
                    class="custom-control-label font16 font500 text-white"
                    for="customCheck1"
                    >Show gameplay settings before launch</label
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-6 mt-5 pr-lg-5">
          <div class="row">
            <div class="col-lg-10">
              <h1 class="font700 text-white mb-0">About Game</h1>
              <p
                id="description"
                [ngClass]="{ limitTextHeight: isReadMore }"
                [innerHTML]="game.description"
                class="font20 font500 muteText mt-4 mb-0"
              ></p>
              <a
                href="javascript:void(0)"
                type="button"
                class="muteText d-inline mt-1"
                (click)="showText()"
              >
                {{ isReadMore ? "...Read More" : "Read Less" }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row mt-2 mt-lg-4">
            <div
              *ngIf="game.storesMapping.length"
              class="col-auto pr-lg-5 mt-3"
            >
              <p class="font16 font500 muteText">Store</p>
              <a
                href="{{ store.link }}"
                target="_blank"
                *ngFor="let store of game.storesMapping"
                class="font600 font20 text-white"
              >
                <img
                  [src]="store.name | store"
                  height="32"
                  class="mr-2"
                  [alt]="store.name"
                  onerror="this.style.display = 'none'"
                />
              </a>
            </div>
            <div class="col mt-3">
              <p class="font16 font500 muteText">Developer</p>
              <p class="font600 font20 text-white">
                <span
                  *ngFor="let dev of game.developer; let i = index"
                  class="align-middle mr-3"
                  >{{ dev | titlecase }}</span
                >
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="font16 font500 muteText mt-lg-3 mt-1 mb-0">Tags</p>
              <span
                *ngFor="let genre of game.genreMappings"
                class="badge badge-pill customLinearGradient font16 mr-2 text-white pl-3 pt-1 pb-1 pr-3 mt-3"
                >{{ genre }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pb-lg-8 pb-5 overflow-hidden">
  <div *ngIf="!!game">
    <div *ngIf="videos.length" class="mt-lg-5 mt-4">
      <app-stream-card
        [title]="'Top Videos'"
        [gameId]="game.id"
        [videos]="videos"
      ></app-stream-card>
    </div>

    <div *ngIf="similarGames.length" class="mt-lg-5 mt-4">
      <app-similar-games
        [title]="'Similar games'"
        [games]="similarGames"
      ></app-similar-games>
    </div>

    <div *ngIf="liveVideos.length" class="mt-lg-5 mt-4">
      <app-stream-card
        [title]="'Top Live Streams'"
        [gameId]="game.id"
        [videos]="liveVideos"
      ></app-stream-card>
    </div>

    <div *ngIf="genreGames.length" class="mt-lg-5 mt-4">
      <app-similar-games
        [title]="'From Genre'"
        [games]="genreGames"
      ></app-similar-games>
    </div>

    <div *ngIf="devGames.length" class="mt-lg-5 mt-4">
      <app-similar-games
        [title]="'From Developer'"
        [games]="devGames"
      ></app-similar-games>
    </div>
  </div>
</div>

<ng-template #modal let-d="dismiss">
  <div class="modal-content position-relative">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github rounded-circle top--4 right--6 py-3"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </a>
    <iframe
      class="youtube-player"
      [src]="playing | safe"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</ng-template>

<!-- small modal to select resolution, vsync and fps before launching the game -->
<ng-template #smallModal let-d="dismiss">
  <div class="modal-content position-relative modalBg">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github rounded-circle top--4 right--2 py-3"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </a>
    <div class="modal-header border-bottom borderColor w-100 text-center">
      <h2 class="text-white font600 mb-0 font18responsive">
        Select your game settings
      </h2>
    </div>

    <!-- <div class="row border-bottom borderColor">
      <div class="col-12 text-center">
        
      </div>
    </div> -->
    <div class="modal-body pb-0 height300">
      <div class="row">
        <div *ngIf="game.storesMapping.length" class="col-12">
          <div
            class="alert alert-danger dangerBg border-0 p-2 text-center"
            role="alert"
          >
            <p class="mb-0 mt-1 mb-1 font14responsive">
              You need to
              {{ game.isFree ? "have account" : "purchase this game" }} in
              {{ game.storesMapping.length > 1 ? "any of" : "" }}
              <a
                *ngFor="let store of game.storesMapping"
                [href]="store.link"
                target="_blank"
                class="d-inline-block mx-1 text-white"
                >{{ store.name }}</a
              >
              to play this game
            </p>
          </div>
        </div>
        <div class="col-12 text-center mt-2 d-none d-sm-inline">
          <p class="garadientColor">
            <i class="fa fa-download"></i>
            <span class="ml-2">
              <a
                [href]="domain + '/download.html'"
                target="_blank"
                class="d-inline-block mx-1 font14responsive"
              >
                Oneplay client required to play
              </a>
            </span>
          </p>
        </div>
        <div class="col-12 col-md-12">
          <div class="form-group">
            <label for="resolution" class="font18 font500 lightGrayColor">
              Resolution
            </label>
            <select
              class="customFormControl form-control font18 inputBorder font500 offWhiteText"
              id="resolution"
              [formControl]="resolution"
            >
              <option
                *ngFor="let res of constants.RESOLUTIONS"
                [value]="res"
                [disabled]="!allowedResolutions.includes(res)"
              >
                {{ res }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group mb-3">
            <input
              type="text"
              class="customFormControl form-control border-right-0 font18 inputBorder font500 offWhiteText"
              placeholder="Vsync"
            />
            <div class="input-group-append">
              <span
                class="input-group-text customFormControl inputBorder p-0 border-left-0"
              >
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="vsync"
                    [formControl]="vsync"
                  />
                  <label class="custom-control-label" for="vsync"></label>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <select
            class="customFormControl form-control font18 inputBorder font500 offWhiteText"
            id="fps"
            [formControl]="fps"
          >
            <option *ngFor="let f of constants.FPS" [value]="f">
              {{ f }} FPS
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <button
            class="btn btn-link btn-block font16 font500 lightGrayColor"
            (click)="openAdvanceOptions(advanced)"
          >
            <i class="fas fa-external-link-alt mr-2"></i>
            Advanced game options
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-gradient border-0 text-white btn-lg btn-block"
        (click)="startGame()"
      >
        Launch game
      </button>
    </div>
  </div>
</ng-template>

<ng-template #initializedModal>
  <div class="modal-content" [ngStyle]="{ display: display }">
    <div class="modal-body pl-4 pr-4 pt-4 pb-0 text-center">
      <h2 class="text-dark mb-2">{{ initialized }}</h2>
      <p class="text-muted mb-0">
        Please wait while we connect you to the game
      </p>
      <img
        src="https://miro.medium.com/max/1400/1*CsJ05WEGfunYMLGfsT2sXA.gif"
        alt=" "
        width="300px"
      />
    </div>
  </div>
</ng-template>

<ng-template #advanced let-d="dismiss">
  <div class="modal-content position-relative modalBg">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github rounded-circle top--4 right--2 py-3"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </a>
    <div class="modal-header border-bottom borderColor w-100 text-center">
      <h2 class="text-white font600 mb-0 font18responsive">
        Advanced Game Options
      </h2>
    </div>
    <div class="modal-body">
      <form [formGroup]="advancedOptions">
        <div class="row pl-lg-3 pr-lg-3">
          <div class="col-md-12">
            <div class="row">
              <div class="col-12 col-md-4">
                <div
                  class="text-center customBodyColor borderRadius10 px-lg-2 px-1 pt-lg-4 pt-2 pb-lg-3 pb-2 mt-lg-4 mt-2"
                >
                  <div class="row">
                    <div class="col-md-12 col-2 align-self-center">
                      <div class="custom-control custom-switch pl-lg-7">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="show_stats"
                          formControlName="show_stats"
                        />
                        <label
                          class="custom-control-label"
                          for="show_stats"
                        ></label>
                      </div>
                    </div>
                    <div class="col-md-12 col-10 pl-0 pl-lg-3">
                      <p class="mb-0 font16 font500 muteText mt-lg-3">
                        Show
                      </p>
                      <p class="mb-0 font16 font500 muteText">
                        Stats
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 pl-0">
                <div
                  class="text-center customBodyColor borderRadius10 px-lg-2 px-1 pt-lg-4 pt-2 pb-lg-3 pb-2 mt-lg-4 mt-2"
                >
                  <div class="row">
                    <div class="col-md-12 col-2 align-self-center">
                      <div class="custom-control custom-switch pl-lg-7">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="fullscreen_mode"
                          formControlName="fullscreen"
                        />
                        <label
                          class="custom-control-label"
                          for="fullscreen_mode"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 col-md-12">
                      <p class="mb-0 font16 font500 muteText mt-lg-3">
                        Fullscreen Mode
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 pl-0">
                <div
                  class="text-center customBodyColor borderRadius10 px-lg-2 px-1 pt-lg-4 pt-2 pb-lg-3 pb-2 mt-lg-4 mt-2"
                >
                  <div class="row">
                    <div class="col-md-12 col-2 align-self-center">
                      <div class="custom-control custom-switch pl-lg-7">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="onscreen_controls"
                          formControlName="onscreen_controls"
                        />
                        <label
                          class="custom-control-label"
                          for="onscreen_controls"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 col-md-12">
                      <p class="mb-0 font16 font500 muteText mt-lg-3">
                        Onscreen Controls
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-4">
                <label class="font16 font500 muteText">Audio Type</label><br />
                <div
                  class="radioBtns btn-group btn-group-toggle w-100 mt-1"
                  data-toggle="buttons"
                >
                  <label
                    class="btn customBtn width35 mr-4"
                    [ngClass]="{ active: audio_type === 'stereo' }"
                  >
                    <input
                      type="radio"
                      formControlName="audio_type"
                      id="Stereo"
                      value="stereo"
                      autocomplete="off"
                      checked
                    />
                    <span>Stereo</span>
                  </label>
                  <label
                    class="btn customBtn width35"
                    [ngClass]="{ active: audio_type === '5_1' }"
                  >
                    <input
                      type="radio"
                      formControlName="audio_type"
                      id="5_1"
                      value="5_1"
                      autocomplete="off"
                    />
                    <span>5.1</span>
                  </label>
                </div>
              </div>
              <div class="col-12 mt-4">
                <label class="font16 font500 muteText">Stream Codec</label
                ><br />
                <div
                  class="radioBtns btn-group btn-group-toggle w-100 mt-1"
                  data-toggle="buttons"
                >
                  <label
                    class="btn customBtn width35 mr-4"
                    [ngClass]="{ active: stream_codec === 'auto' }"
                  >
                    <input
                      type="radio"
                      formControlName="stream_codec"
                      id="Auto"
                      value="auto"
                      autocomplete="off"
                    />
                    <span>Auto</span>
                  </label>
                  <label
                    class="btn customBtn width35 mr-4"
                    [ngClass]="{ active: stream_codec === 'forceh265' }"
                  >
                    <input
                      type="radio"
                      formControlName="stream_codec"
                      id="HEVC"
                      value="forceh265"
                      autocomplete="off"
                      checked
                    />
                    <span>HEVC</span>
                  </label>
                  <label
                    class="btn customBtn width35"
                    [ngClass]="{ active: stream_codec === 'neverh265' }"
                  >
                    <input
                      type="radio"
                      formControlName="stream_codec"
                      id="H.264"
                      value="neverh265"
                      autocomplete="off"
                    />
                    <span>H.264</span>
                  </label>
                </div>
              </div>
              <div class="col-12 mt-4">
                <label class="font16 font500 muteText"
                  >Video Decoder Selection</label
                ><br />
                <div
                  class="radioBtns btn-group btn-group-toggle w-100 mt-1"
                  data-toggle="buttons"
                >
                  <label
                    class="btn customBtn width35 mr-4"
                    [ngClass]="{ active: video_decoder_selection === 'auto' }"
                  >
                    <input
                      type="radio"
                      formControlName="video_decoder_selection"
                      id="Auto"
                      value="auto"
                      autocomplete="off"
                      checked
                    />
                    <span>Auto</span>
                  </label>
                  <label
                    class="btn customBtn width35 mr-4"
                    [ngClass]="{
                      active: video_decoder_selection === 'hardware'
                    }"
                  >
                    <input
                      type="radio"
                      formControlName="video_decoder_selection"
                      id="Hardware"
                      value="hardware"
                      autocomplete="off"
                    />
                    <span>Hardware</span>
                  </label>
                  <label
                    class="btn customBtn width35"
                    [ngClass]="{
                      active: video_decoder_selection === 'software'
                    }"
                  >
                    <input
                      type="radio"
                      formControlName="video_decoder_selection"
                      id="Software"
                      value="software"
                      autocomplete="off"
                    />
                    <span>Software</span>
                  </label>
                </div>
              </div>
              <div class="col-md-12 mt-5 mb-4">
                <button
                  type="submit"
                  (click)="d('dismiss')"
                  class="btn btn-block linearGradient text-white border-0 btn-lg font18 font14responsive font500"
                >
                  Save & Launch Game
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #launchModal let-d="dismiss">
  <div class="modal-content position-relative">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github rounded-circle top--4 right--6 py-3"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </a>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <h2 class="text-dark text-center">Your game has been launched!</h2>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row">
        <div class="col-12">
          <h4 class="text-gray-dark text-center mb-4">Didn't it launch yet?</h4>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12 mb-2">
          <button
            class="btn btn-primary btn-block"
            (click)="clickLaunchAgain()"
          >
            Launch again!
          </button>
        </div>
        <div *ngIf="!!clientDownloadLink" class="col-12 mb-2">
          <code class="text-gray-dark">OR,</code>
        </div>
        <div *ngIf="!!clientDownloadLink" class="col-12">
          <a
            [href]="clientDownloadLink"
            class="btn btn-link btn-block text-danger"
          >
            Download client
            <i class="fas fa-download ml-2"></i>
          </a>
        </div>
        <div class="col-12 mb-2">
          <code class="text-gray-dark">OR,</code>
        </div>
        <div class="col-12">
          <a
            href="javascript:void(0)"
            class="btn btn-link btn-block text-info"
            (click)="startGameWithWebRTCToken()"
          >
            Play on browser
            <i class="fas fa-globe ml-2"></i>
          </a>
        </div>
      </div>
      <div *ngIf="!!exitCommand" class="dropdown-divider"></div>
      <div *ngIf="!!exitCommand" class="row">
        <div class="col-12">
          <div class="text-gray text-center">
            To Quit Game Press {{ exitCommand }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
