<div *ngIf="!!game" class="container-fluid customFluid paddingtop100">
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card border-0 bgTransparent borderRadius15">
        <img class="card-img height80 borderRadius15" [src]="game.bgImage" alt="Card image" />
        <div class="card-img-overlay customOverlay p-4 pl-5 borderRadius15">
          <img [src]="game.textLogo" class="img-fluid" alt="" />
          <p class="font16 font500 text-white mt-4">
            {{ game.releaseDate | date: "MMM, yyyy" }} - {{ game.ageRating }}
            {{ game.isFree ? " - Free" : "" }}
          </p>
          <button
            class="btn btn-lg px-5 py-3 mr-3 mt-3 linearGradient text-white font600 border-0 borderRadius90 position-relative"
            [disabled]="startingGame"
            (click)="playGame(smallModal)"
          >
            <ngx-ui-loader
              [fgsColor]="'#c32ead'"
              [hasProgressBar]="false"
              [fgsSize]="20"
              [fgsPosition]="'center-left'"
              [text]="'Initializing...'"
              [overlayBorderRadius]="'6px'"
              [loaderId]="'play-loader'"
            ></ngx-ui-loader>
            {{ !startingGame ? action + " Now" : "" }}
          </button>
          <button
          *ngIf="action !== 'Play'"
          class="btn btn-danger btn-lg position-relative"
          [disabled]="terminatingGame"
          (click)="terminateSession()"
        >
          <ngx-ui-loader
            [fgsColor]="'#c32ead'"
            [hasProgressBar]="false"
            [fgsSize]="20"
            [fgsPosition]="'center-left'"
            [text]="'Terminating...'"
            [overlayBorderRadius]="'6px'"
            [loaderId]="'terminate-loader'"
          ></ngx-ui-loader>
          {{ !terminatingGame ? "Terminate" : "" }}
        </button>
          <button *ngIf="!isInWishlist"
          (click)="addToWishlist()"
          [disabled]="loadingWishlist" class="btn mt-3">
            <img
              src="assets/icons/Speedtest (2).svg"
              class="img-fluid"
              alt=""
            />
          </button>
          <button *ngIf="isInWishlist"
          (click)="removeFromWishlist()"
          [disabled]="loadingWishlist" class="btn mt-3">
            <img
              src="assets/icons/Speedtest (2).svg"
              class="img-fluid"
              alt=""
            />
          </button>
          <form class="pb-4">
            <div class="custom-control custom-checkbox mt-4">
              <input
                type="checkbox"
                class="custom-control-input my-error"
                id="customCheck1"
                [formControl]="showSettings"
              />
              <label
                class="custom-control-label font16 font500 text-white"
                for="customCheck1"
                >Show gameplay settings before launch</label
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4 pr-lg-5">
      <div class="row">
        <div class="col-lg-10">
          <h1 class="font700 text-white mb-0">About Game</h1>
          <p
            id="description"
            [ngClass]="{ limitTextHeight: isReadMore }"
            [innerHTML]="game.description"
            class="font20 font500 muteText mt-4 mb-0"
          ></p>
          <a type="button" class="text-white d-inline" (click)="showText()">
            {{ isReadMore ? "Read More" : "Read Less" }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div *ngIf="game.storesMapping.length" class="col-auto pr-lg-5 mt-4">
          <p class="font16 font500 muteText">Store</p>
          <a
            href="{{ store.link }}"
            target="_blank"
            *ngFor="let store of game.storesMapping"
            class="font600 font20 text-white"
          >
            <img
              [src]="store.name | store"
              height="32"
              class="mr-2"
              [alt]="store.name"
              onerror="this.style.display = 'none'"
            />
          </a>
        </div>
        <div class="col-auto mt-4">
          <p class="font16 font500 muteText">Developer</p>
          <p class="font600 font20 text-white">
            <span
              *ngFor="let dev of game.developer; let i = index"
              class="align-middle mr-3"
              >{{ dev | titlecase }}</span
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="font16 font500 muteText mt-4 mb-0">Tags</p>
          <span
            *ngFor="let genre of game.genreMappings"
            class="badge badge-pill customLinearGradient font16 mr-2 text-white pl-3 pr-3 mt-3"
            >{{ genre }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding0 pb-6 overflow-hidden">
  <div *ngIf="!!game">
    <div *ngIf="videos.length" class="mt-5">
      <app-stream-card
        [title]="'Top Videos'"
        [gameId]="game.id"
        [videos]="videos"
      ></app-stream-card>
    </div>
  
    <div *ngIf="similarGames.length" class="mt-5">
      <app-similar-games
        [title]="'Similar games'"
        [games]="similarGames"
      ></app-similar-games>
    </div>

    <div *ngIf="liveVideos.length" class="mt-5">
      <app-stream-card
        [title]="'Top Live Streams'"
        [gameId]="game.id"
        [videos]="liveVideos"
      ></app-stream-card>
    </div>
  
    <div *ngIf="genreGames.length" class="mt-5">
      <app-similar-games
        [title]="'From Genre'"
        [games]="genreGames"
      ></app-similar-games>
    </div>
  
    <div *ngIf="devGames.length" class="mt-5">
      <app-similar-games
        [title]="'From Developer'"
        [games]="devGames"
      ></app-similar-games>
    </div>
  </div>
</div>

<ng-template #modal let-d="dismiss">
  <div class="modal-content position-relative">
    <div
      class="position-absolute btn btn-github rounded-circle top--4 right--6 py-3"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </div>
    <iframe
      class="youtube-player"
      [src]="playing | safe"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</ng-template>

<!-- small modal to select resolution, vsync and fps before launching the game -->
<ng-template #smallModal let-d="dismiss">
  <div class="modal-content position-relative modalBg">
    <!-- <div
      class="position-absolute btn btn-github rounded-circle top--4 right--6 py-3"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </div> -->
    <div class="modal-body">
      <div class="row border-bottom borderColor">
        <div class="col-12 text-center">
          <h2 class="text-white font600 mb-4">Select your game settings</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div *ngIf="game.storesMapping.length" class="col-12">
          <div class="alert alert-danger dangerBg border-0 p-1 text-center" role="alert">
            <span>
              You need to
              {{ game.isFree ? "have account" : "purchase this game" }} in
              {{ game.storesMapping.length > 1 ? "any of" : "" }}
              <a
                *ngFor="let store of game.storesMapping"
                [href]="store.link"
                target="_blank"
                class="d-inline-block mx-1 text-white"
                >{{ store.name }}</a
              >
              to play this game
            </span>
          </div>
        </div>
        <div class="col-12 text-center mt-2">
          <p class="garadientColor">
            <i class="fa fa-download"></i>
            <span class="ml-2">
              <a
                href="https://www.oneplay.in/download.html"
                target="_blank"
                class="d-inline-block mx-1"
              >
                Oneplay client required to play
              </a>
            </span>
          </p>
        </div>
        <div class="col-12 col-md-12">
          <div class="form-group">
            <label for="resolution" class="font18 font500 lightGrayColor"> Resolution </label>
            <select
              class="customFormControl form-control font18 inputBorder font500 offWhiteText"
              id="resolution"
              [formControl]="resolution"
            >
              <option
                *ngFor="let res of constants.RESOLUTIONS"
                [value]="res"
                [disabled]="!allowedResolutions.includes(res)"
              >
                {{ res }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group mb-3">
            <input type="text" class="customFormControl form-control border-right-0 font18 inputBorder font500 offWhiteText" placeholder="Vsync" >
            <div class="input-group-append">
              <span class="input-group-text customFormControl inputBorder p-0 border-left-0">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="vsync" [formControl]="vsync">
                  <label class="custom-control-label" for="vsync"></label>
                </div>
              </span>
              <!-- <select class="customFormControl form-control font18 inputBorder font500 offWhiteText" id="vsync" [formControl]="vsync">
                <option *ngFor="let v of constants.VSYNC" [value]="v.value">
                  {{ v.label }}
                </option>
              </select> -->
              <!-- <span class="input-group-text customFormControl inputBorder font500 offWhiteText border-left-0">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                  <label class="custom-control-label" for="customSwitch1">
                  </label>
                </div>
              </span> -->
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <select class="customFormControl form-control font18 inputBorder font500 offWhiteText" id="fps" [formControl]="fps">
            <option *ngFor="let f of constants.FPS" [value]="f">
              {{ f }} FPS
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-4 mt-3">
          <button
            class="btn btn-link btn-block font16 font500 lightGrayColor"
            (click)="openAdvanceOptions(advanced)"
          >
            <i class="fas fa-external-link-alt mr-2"></i>
            Advanced game options
            
          </button>
        </div>
        <div class="col-12">
          <button class="btn btn-gradient border-0 text-white btn-lg btn-block" (click)="startGame()">
            Launch game
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #initializedModal>
  <div class="modal-content" [ngStyle]="{ display: display }">
    <div class="modal-body pl-4 pr-4 pt-4 pb-0 text-center">
      <h2 class="text-dark mb-2">{{ initialized }}</h2>
      <p class="text-muted mb-0">
        Please wait while we connect you to the game
      </p>
      <img
        src="https://miro.medium.com/max/1400/1*CsJ05WEGfunYMLGfsT2sXA.gif"
        alt=" "
        width="300px"
      />
    </div>
  </div>
</ng-template>

<ng-template #advanced let-d="dismiss">
  <div class="modal-content position-relative modalBg">
    <div class="modal-body">
      <div class="row border-bottom borderColor">
        <div class="col-12 text-center">
          <h2 class="text-white font600 mb-4">Select your game settings</h2>
        </div>
      </div>
      <form [formGroup]="advancedOptions">
        <div class="row pl-3 pr-3">
          <div class="col-md-12">
            <div class="row">
              <div class="col-4">
                <div class="text-center customBodyColor borderRadius10 px-2 pt-4 pb-3 mt-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="mouse_mode" formControlName="absolute_mouse_mode">
                    <label class="custom-control-label" for="mouse_mode"></label>
                  </div>
                  <p class="mb-0 font16 font500 muteText mt-3">Absolute Mouse Mode</p>
                </div>
              </div>
              <div class="col-4">
                <div class="text-center customBodyColor borderRadius10 px-2 pt-4 pb-3 mt-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="touch_mode" formControlName="absolute_touch_mode">
                    <label class="custom-control-label" for="touch_mode"></label>
                  </div>
                  <p class="mb-0 font16 font500 muteText mt-3">Absolute Touch Mode</p>
                </div>
              </div>
              <div class="col-4">
                <div class="text-center customBodyColor borderRadius10 px-2 pt-4 pb-3 mt-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="background_gamepad" formControlName="background_gamepad">
                    <label class="custom-control-label" for="background_gamepad"></label>
                  </div>
                  <p class="mb-0 font16 font500 muteText mt-3">Background Gamepad</p>
                </div>
              </div>
              <div class="col-12 mt-4">
                <label class="font16 font500 muteText">Audio Type</label><br/>
                <div class="radioBtns btn-group btn-group-toggle w-100 mt-1" data-toggle="buttons">
                  <label class="btn btn-secondary width35 active mr-4">
                    <input type="radio" formControlName="audio_type" id="Stereo" value="stereo" autocomplete="off" checked> <span>Stereo</span>
                  </label>
                  <label class="btn btn-secondary width35">
                    <input type="radio" formControlName="audio_type" id="5_1" value="5_1" autocomplete="off"> <span>5.1</span>
                  </label>
                </div>
              </div>
              <div class="col-12 mt-4">
                <label class="font16 font500 muteText">Stream Codec</label><br/>
                <div class="radioBtns btn-group btn-group-toggle w-100 mt-1" data-toggle="buttons">
                  <label class="btn btn-secondary width35 active mr-4">
                    <input type="radio" formControlName="stream_codec" id="Auto" value="auto" autocomplete="off"> <span>Auto</span>
                  </label>
                  <label class="btn btn-secondary width35 mr-4">
                    <input type="radio" formControlName="stream_codec" id="HEVC" value="forceh265" autocomplete="off" checked> <span>HEVC</span>
                  </label>
                  <label class="btn btn-secondary width35">
                    <input type="radio" formControlName="stream_codec" id="H.265" value="neverh265" autocomplete="off"> <span>H.265</span>
                  </label>
                </div>
              </div>
              <div class="col-12 mt-4">
                <label class="font16 font500 muteText">Video Decoder Selection</label><br/>
                <div class="radioBtns btn-group btn-group-toggle w-100 mt-1" data-toggle="buttons">
                  <label class="btn btn-secondary width35 active mr-4">
                    <input type="radio" formControlName="video_decoder_selection" id="Auto" value="auto" autocomplete="off" checked> <span>Auto</span>
                  </label>
                  <label class="btn btn-secondary width35 mr-4">
                    <input type="radio" formControlName="video_decoder_selection" id="Hardware" value="hardware" autocomplete="off"> <span>Hardware</span>
                  </label>
                  <label class="btn btn-secondary width35">
                    <input type="radio" formControlName="video_decoder_selection" id="Software" value="software" autocomplete="off"> <span>Software</span>
                  </label>
                </div>
              </div>
              <div class="col-md-12 mt-5 mb-4">
                <input type="submit" (click)="d('dismiss')" class="btn btn-block linearGradient text-white border-0 btn-lg h56 font18 font500" value="Save & Launch Game" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>



    <!-- <form [formGroup]="advancedOptions" class="modal-body">
      <div class="form-group custom-control custom-switch">
        <input
          id="mouse_mode"
          type="checkbox"
          class="custom-control-input"
          formControlName="absolute_mouse_mode"
        />
        <label class="custom-control-label" for="mouse_mode"
          >Absolute Mouse Mode</label
        >
      </div>
      <div class="form-group custom-control custom-switch">
        <input
          id="touch_mode"
          type="checkbox"
          class="custom-control-input"
          formControlName="absolute_touch_mode"
        />
        <label class="custom-control-label" for="touch_mode"
          >Absolute Touch Mode</label
        >
      </div>
      <div class="form-group custom-control custom-switch">
        <input
          id="background_gamepad"
          type="checkbox"
          class="custom-control-input"
          formControlName="background_gamepad"
        />
        <label class="custom-control-label" for="background_gamepad"
          >Background Gamepad</label
        >
      </div>
      <div class="form-group row">
        <label class="col-12 col-md-4">Audio Type:</label>
        <div class="col-12 col-md-8">
          <select
            formControlName="audio_type"
            class="form-control form-control-sm"
          >
            <option value="stereo">Stereo</option>
            <option value="5_1">5.1</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12 col-md-5">Stream Codec:</label>
        <div class="col-12 col-md-7">
          <select
            formControlName="stream_codec"
            class="form-control form-control-sm"
          >
            <option value="auto">Auto</option>
            <option value="forceh265">HEVC</option>
            <option value="neverh265">H.264</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12 col-md-7">Video Decoder Selection:</label>
        <div class="col-12 col-md-5">
          <select
            formControlName="video_decoder_selection"
            class="form-control form-control-sm"
          >
            <option value="auto">Auto</option>
            <option value="software">Software</option>
            <option value="hardware">Hardware</option>
          </select>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="d('dismiss')">OK</button>
    </div> -->
  </div>
</ng-template>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
