
.desc {
  min-width: 450px;

  @media (max-width: 480px) {
    min-width: auto;
  }
}

.buttons {
  @media (max-width: 480px) {
    .btn-lg {
      margin-bottom: 16px;
      width: 100% !important;
    }
  }
}

.bg-gradient-banner {
  background: linear-gradient(
    261deg,
    rgba(18, 18, 18, 0) 15%,
    rgba(18, 18, 18, 0.27) 30%,
    rgba(18, 18, 18, 0.47) 45%,
    rgba(18, 18, 18, 0.92) 70%
  );
}

.text-logo {
  max-height: 150px;
  @media (max-width: 1200px) {
    height: 100px;
  }
  @media (max-width: 480px) {
    max-height: 90px;
  }
}
.header {
  font-size: 40px;
  font-weight: 600;
  top: 10px;
  @media (max-width: 1000px) {
    top: 0px !important;
  }
  @media (max-width: 1200px) {
    font-size: 30px !important;
  }
  @media (max-width: 480px) {
    font-size: 22px !important;
  }
}
.truncate-line-clamp {
  -webkit-line-clamp: 3 !important;
  @media (max-width: 475px) {
    -webkit-line-clamp: 2 !important;
  }
}

.bg-gradient-banner-bottom {
  background: linear-gradient(
    to bottom,
    rgba(18, 18, 18, 0),
    #151515 69%,
    #151515
  );
}

.small-card {
  width: max-content;
  height: max-content;
  margin-right: 8px;

  img {
    border-radius: 8px;
  }
}

live {
  background: red;
  color: #ffffff;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

#description {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff !important;
  }
}

.youtube-player {
  width: 100%;
  height: 80vh;

  @media (max-width: 768px) {
    height: 60vh;
  }

  @media (max-width: 576px) {
    height: 40vh;
  }
}

.modal-dialog {
  max-width: min-content !important;
}

.video-text {
  max-width: 100%;
  overflow-wrap: anywhere;
}

.video-image {
  width: 248px;
  height: 140px;
  border-radius: 4px !important;
  flex-shrink: 0;
  object-fit: cover;
  @media (max-width: 480px) {
    width: 100%;
    height: auto;
  }
}

.loader3 {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
}
.loader3 span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: rgba(135, 211, 124, 1);
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}
.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}
@keyframes loader3 {
  0% {
    transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

.cardOverlay {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 23.36%,
    rgba(0, 0, 0, 0) 77.23%
  );
}

.customOverlay {
  bottom: 0;
  top: auto;
}

@media (max-width: 480px) {
  .customOverlay {
    height: 260px;
  }

  .imagesText {
    height: 350px;
    align-items: center;
    z-index: 1024;
  }

  .custom-control-label span {
    top: 1px !important;
  }

  .marginTopRes {
    margin-top: 4rem;
  }
  .updateMarginTopRes {
    margin-top: 9rem !important;
  }
}

.height80 {
  height: 470px;
  @media (max-width: 800px) {
    height: 350px;
  }
  @media (max-width: 480px) {
    height: 244px;
  }
}

.height330 {
  height: 470px;
  @media (max-width: 800px) {
    height: 350px;
  }
  @media (max-width: 480px) {
    height: 330px;
  }
}
.height430 {
  @media screen and (max-width: 475px) {
    height: 420px !important;
  }
}
.height410 {
  @media screen and (max-width: 475px) {
    height: 410px !important;
  }
}

@media (min-width: 480.1px) {
  .marginTopRes {
    display: none;
  }
}

@media (min-width: 481px) {
  .hideInLarge {
    display: none;
  }
}
.adjustHeight {
  @media (min-width: 480px) and (max-width: 600px) {
    margin: 0px !important;
    p {
      margin-bottom: 5px !important;
    }
  }
  @media (min-width: 780px) and (max-width: 800px) {
    margin: 0px !important;
    p {
      margin-bottom: 5px !important;
    }
  }
}

@media (max-width: 480px) {
  .hideInMobile {
    display: none !important;
  }

  .fullWidthBtn {
    width: 100%;
    font-size: 16px !important;
    line-height: 26px;
    font-weight: 500 !important;
  }

  .height300 {
    height: 330px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;
  }

  .font18responsive {
    font-size: 18px;
    line-height: 20px;
  }

  .font14responsive {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .radioBtns .customBtn {
    font-size: 12px;
    line-height: 14px;
    height: 40px;
  }

  .removePaddingContainer {
    padding: 0px !important;
  }
}

@media (max-width: 1024px) {
  .removePaddingContainer {
    padding: 0px !important;
  }
}

.borderRadius10 {
  border-radius: 10px !important;
}

.padding0 {
  padding-right: 0px !important;
}

.modalBg {
  background-color: #212123;
}

.font600 {
  font-weight: 600;
  @media (max-width: 548px) {
    font-weight: 500 !important;
  }
}

.garadientColor {
  background: linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 500;
}

.dangerBg {
  background-color: #e31c34;
}

.borderColor {
  border-color: #3e4246 !important;
}

.inputBorder {
  border: 2px solid #3e4246;
  border-radius: 10px;
  background-color: transparent;
  height: 52px;
}

.customFormControl:focus {
  color: #dcdcdc;
  background-color: transparent;
  border-color: #3e4246;
  outline: 0;
  box-shadow: none;
}

.custom-control-label::before {
  background-color: #363636;
}

.checkBox .custom-control-input:checked ~ .custom-control-label::before {
  background: #ffffff;
  border: none;
  box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background: linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
  border: none;
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../../../assets/img/Tick.svg") !important;
}

.font18 {
  font-size: 18px !important;
  line-height: 24px;
}

.font500 {
  font-weight: 500;
}

.offWhiteText {
  color: #dcdcdc;
}

.lightGrayColor {
  color: #959595;
}

.font16 {
  font-size: 16px;
  line-height: 26px;
  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.btn-gradient {
  background: linear-gradient(300.3deg, #0575e6 9.6%, #ff0cf5 92.85%);
  border-radius: 6px !important;
}

.btn-secondary {
  background-color: #3e4246 !important;
}

.btn-secondary:hover {
  color: #dcdcdc !important;
}

.hide-text {
  color: rgba(0, 0, 0, 0) !important;
}

.borderColor {
  border-color: 1px solid #3e4246;
}

.marginLeftNegative {
  margin-left: -15px;
}

.custom-control-label span {
  top: 0px;
}

.font20 {
  font-size: 18px !important;
  line-height: 30px !important;
  @media (max-width: 480px) {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

.store {
  position: relative;
  border-radius: 6px;
}

.store.selected {
  outline: 2px solid #a83afe;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  height: 1em;
  margin: 0;
  margin-left: auto;
  flex: none;
  outline: none;
  transition: all 0.2s;
  width: 1em;
  position: absolute;
  top: 2px;
  right: 8px;

  &:after {
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.6em;
    left: 0.35em;
    position: absolute;
    top: 0.2em;
    transform: rotate(45deg);
    width: 0.3em;
  }

  &:focus {
    box-shadow: 0 0 0 2px #a83afe;
  }

  &:checked {
    background: linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
    border-color: #a83afe;
  }
}

.activeBG {
  background: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  padding: 1.6px;
  color: #ffffff !important;
  border-radius: 6px;
}

.font18btn {
  font-size: 18px;
  line-height: 24px;
  @media (max-width: 700px) {
    font-size: 14px;
    line-height: 21px;
  }
}

// input[type=range] {
//   accent-color: #a83afe;
// }
.removePadding {
  padding: 0px !important;
}

.range {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-moz-range-progress {
  background-color: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  height: 10px;
}

.range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  cursor: pointer;
  border: 2px solid #333;
  box-shadow: -407px 0 0 400px #a83afe;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  cursor: pointer;
  border: 2px solid #333;
  box-shadow: -407px 0 0 400px #a83afe;
}

.font24 {
  font-size: 24px;
  line-height: 34px;
}

.font14 {
  font-size: 14px;
  line-height: 21px;
}

.w50 {
  width: 50px;
}

.font17 {
  font-size: 17px;
  line-height: 27px;
}

.blink {
  animation: blink-animation 1.5s steps(20, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(20, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@media (min-width: 480.1px) {
  .customResponsiveWidth {
    width: 100%;
  }
}

.blackColor {
  background-color: #151515 !important;
  @media (max-width: 480px) {
    border: 2px solid #616161 !important;
  }
}

@media (max-width: 480.9px) {
  .textCenterInResponsive {
    text-align: center;
  }

  .font16 {
    font-size: 14px !important;
    line-height: 21px;
  }
}

.height100px {
  height: 150px;
  align-items: end;
  @media (max-width: 1200px) {
    height: 100px;
  }
}
.adjustHeightWidth {
  height: auto !important;
  width: 40% !important;
  @media (max-width: 475px) {
    width: 80% !important;
  }
}

.blackBbg {
  background-color: #151515 !important;
}

.blackDarkBg {
  background-color: #0e0e0e !important;
  border-radius: 12px !important;
}

.blackDarkBg:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    linear-gradient(270deg, #a83afe 0%, #6e59fe 100%) !important;
}

.h42 {
  height: 42px !important;
}

.textBox {
  color: #dcdcdc;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 10px !important;
  background: #ffffff26 !important;
}

.inputFocus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595 !important;
  opacity: 0.5; /* Firefox */
}

.inputFocus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #959595 !important;
}

.inputFocus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #959595 !important;
}

.textBox {
  height: 100px;
  resize: none;
}

.textBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

.textBox::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.textBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
}

.display-hide {
  display: none;
}

.tagText {
  font-size: 12px;
  font-weight: 700;
  border-radius: 6px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.freeOnStoreIcon {
  flex-direction: column;
  width: 18px;
  height: 17px;
  gap: 10px;
}

.redMessage {
  color: #ff5151;
}

.warning-message {
  position: absolute;
  top: 12px;
  right: 32px;
  padding-right: 8px;
  cursor: pointer;
}

.warning-message-mob {
  position: absolute;
  top: 20px;
  left: 24px;
  cursor: pointer;
}

::ng-deep .tooltip.show {
  opacity: 1 !important;
}

.warning-message-container {
  ::ng-deep .tooltip-inner {
    max-width: 265px !important;
    width: auto !important;
    background: #151515 !important;
    padding: 8px !important;
    text-align: start !important;
    border-radius: 10px !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
}
@media (min-width: 320px) and (max-width: 475px) {
  .term-n-condition-modal {
    padding: 5px !important;
    .modal-content {
      padding: 5px !important;
      .modal-body {
        margin-top: 5px !important;
      }
    }
  }
}
.term-n-condition-modal {
  padding: 3px !important;
  position: relative;
  border-radius: 10px;
  // padding-top: 4px !important;
  background: linear-gradient(270deg, #0575E6 0%, #FF0CF5 100%);
  .termConditionCrossIcon {
    color: white;
    position: absolute;
    top: -10px;
    right: -5px;
    z-index: 1;
    img {
      border-radius: 40%;
      background-color: gray;
      height: 22px;
      width: 22px;
    }
  }
  .modal-content {
    background-color: #212123 !important;
    padding: 10px !important;

    .modal-body {
      background-color: #151515 !important;
      padding-bottom: 0px;
      margin-top: 10px;
    }

    .modal-footer {
      padding: 0px;
      padding-bottom: 10px;
      background-color: #151515;
    }

   
  }

  .modal-footer {
    display: flex;
    justify-content: center !important;
  }

  .term-condition-content {
    height: 50vh;
    overflow: auto;

    &::-webkit-scrollbar-track {
      display: none;
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // border-radius: 10px;
      // background-color: transparent;
    }

    &::-webkit-scrollbar {
      display: none;
      // width: 3px;
      // background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
      // border-radius: 10px;
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // background-color: #dcdcdc;
    }
  }
}

.removeOnMob {
  @media (min-width: 320px) and (max-width: 700px) {
    display: none !important;
  }
}
.term-condition-btn {
  width: 180px;
  border-radius: 3px;
  padding: 5px 10px;

  @media (min-width: 320px) and (max-width: 700px) {
    width: 120px !important;
  }
}

@media (min-width: 475px) and (max-width: 1200px) {
 
  .bgImage {
    object-position: right !important;
  } 
}

.licenseRequired {
  padding: 5px;
  border-radius: 5px;
  background-color: #576068;
  color: white;
  width: 140px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin: 5px 0px;
  @media (max-width: 475px) {
    margin: 5px auto !important;
  }
}
.dobInput {
  background: transparent !important;
  border-radius: 0px !important;
  border: none;
  border-bottom: 1px solid lightgray !important;
  font-size: 18px !important;
  width: 95% !important;
}

.blink-animation {
  animation: blinkingAnimation 1.5s linear infinite; 
}
.full-opcaity {
  transform: scale(1) !important;
  animation-play-state: paused !important;
}
// @keyframes blinkingAnimation { 
//   0% { 
//       opacity: 0; 
//   } 

//   50% { 
//       opacity: 1; 
//   } 

//   100% { 
//       opacity: 0; 
//   } 
// }

// .full-opcaity {
//   opacity: 1 !important;
// }
@keyframes blinkingAnimation { 
  0% { transform: scale(1); }
  35% { transform: scale(0); }
  70% { transform: scale(1); }
  100% { transform: scale(1); }
}
.height65 {
  height: 65px !important;
}

.streamContainerHeader {
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
}
.streamConfigBtn {
  width: 100%;
  border-radius: 3px;
  padding: 12px;
  border: none;
  color: white;
}
.streamModalBody {
  &::-webkit-scrollbar-track {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
  }
  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #DCDCDC;
  }
}
.btnGradient {
  background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
}
.streams > div {
  background-color: #151515 !important;
}
.streamsInput input {
  background-color: #151515 !important;
}
.customInput {
  border-radius: 5px !important;
  overflow: hidden;
}
.disabled-btn {
  background: gray !important;
}
.success-toast-config {
  background-color: #151515;
  border-radius: 25px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 10px auto;
}
.customButton {
  width: 200px;
  border-radius: 20px;
  margin: auto;
}

.info-sec {
  background-color: #15151594;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  width: fit-content;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: normal;
  text-align: center;
}

.specialStoreOffer {
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(39 39 39 / 67%);
}
.normalPrice {
  text-decoration:line-through;
  font-size: small;
  position: relative;
  top: 3px;
}
.percentDiscount {
  font-size: large;
}
.borderLeft {
  border-top: 2px dashed transparent;
  border-image: linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
  border-image-slice: 1;
  margin-right: 2px;
  width: 20px;
  position: relative;
  top: 12px;
}
.borderRight {
  width: auto;
  border-top: 2px solid linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
}
.discountPrice {
  text-decoration: underline !important;
  font-weight: 600;
  position: relative;
  font-size: large;
}
.discountPrice::after {
  content: "";
  position: absolute;
  bottom: 5px; /* Adjust as needed */
  left: 1px;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, #3aa0fe 0%, #59fef4 100%); /* Adjust the color as needed */
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with clicks */
}