.fixedIcon {
    bottom: 8px !important;
}

::ng-deep .customTooltip .tooltip-inner {
    max-width: 90%;
    width: 90%; 
    margin: 1px auto;
}

.border-bottomInput {
    border-bottom: 2px solid #434343 !important;
}

.borderRadius0 {
    border-radius: 0px !important;
}

.offWhiteColor {
    color: #95959595 !important;
}