.fixedIcon {
    bottom: 13px !important;
}

.customBorder0 {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
}

.inputBorder {
    border: 2px solid #3e4246 !important;
    border-radius: 10px !important;
    background-color: transparent !important;
    height: 52px !important;
}
.height70 {
    height: 70px !important;
    @media (min-width: 475px) and (max-width: 1200px) {
        height: 85px !important;
    }
    @media (max-width: 475px) {
        height: 100px !important;
    }
}
.extraNegMargin {
    margin-top: -15px;
    @media (max-width: 475px) {
        margin-top: -35px !important;
    }
}
.extraPosition {
    position: relative;
    top: 4px;
}
.extraContent {
    @media (min-width: 475px) and (max-width: 1200px) {
        max-width: 290px;
    }
    @media (max-width: 475px) {   
        max-width: 250px;   
    }
}

@media (min-width: 475px) and (max-width: 700px) {
    .adjustWidth {
        width: 70% !important;
    }
}

@media (min-width: 750px) and (max-width: 1200px) {
    .mainContainer {
        display: flex;
        align-items: center;

        .font500 {
            font-size: 14px !important;
        }

    }
}
.borderRadiusCustom {
    width: 40%;
    margin: auto;
    border-radius: 40px !important;
}