<!-- <div class="card bg-dark">
  <div class="card-header bg-dark border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0 text-white">Login and Security</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="form-control-label text-white">Password</label>

        <div class="input-group input-group-alternative bg-darker">
          <input
            type="password"
            class="form-control bg-darker"
            placeholder="New Password"
            [formControl]="password"
          />
          <div class="input-group-prepend">
            <a
              *ngIf="password.disabled"
              (click)="password.enable()"
              class="input-group-text bg-transparent"
              >Change</a
            >
            <a
              *ngIf="!password.disabled"
              (click)="updatePassword()"
              class="input-group-text bg-transparent"
              >Save</a
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label text-white">Phone Number</label>

        <div class="input-group input-group-alternative bg-darker">
          <input
            type="text"
            class="form-control bg-darker"
            placeholder="Phone number"
            [formControl]="phone"
          />
          <div class="input-group-prepend">
            <a
              *ngIf="phone.disabled"
              (click)="phone.enable()"
              class="input-group-text bg-transparent"
              >Change</a
            >
            <a
              *ngIf="!phone.disabled"
              (click)="updatePhone()"
              class="input-group-text bg-transparent"
              >Save</a
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label text-white">Email</label>

        <div class="input-group input-group-alternative bg-darker">
          <input
            type="email"
            class="form-control bg-darker"
            placeholder="Email address"
            [formControl]="email"
          />
          <div class="input-group-prepend">
            <a
              *ngIf="email.disabled"
              (click)="email.enable()"
              class="input-group-text bg-transparent"
              >Change</a
            >
            <a
              *ngIf="!email.disabled"
              (click)="updateEmail()"
              class="input-group-text bg-transparent"
              >Save</a
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="row mb-5">
  <div class="col-md-10 col-lg-8 mt-4">
    <p class="font18 font500 text-white mb-2 mt-2">Contact</p>
    <form autocomplete="on">
      <div class="row">
        <div class="col-md-12 mt-3">
          <label class="font16 font500 offWhiteText">Email</label>
          <div class="input-group">
            <input type="email" class="form-control height52 font18 font500 text-white border-0 lightBg" placeholder="nidhi@oneplay.in" />
            <div class="input-group-append">
              <span class="input-group-text lightBg border-0"><i class="fas fa-pen-fancy text-white"></i></span>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <label class="font16 font500 offWhiteText">Phone number</label>
          <input type="number"[formControl]="phone" class="form-control height52 font18 font500 text-white border-0 lightBg" placeholder="9999999999"/>
        </div>
        <div class="col-md-12 mt-4">
          <p class="font18 font500 text-white mb-2 mt-2">Security</p>
        </div>
        <div class="col-md-12 mt-3">
          <label class="font16 font500 offWhiteText">Update Password</label>
          <div class="input-group">
            <input type="password"[formControl]="password" class="form-control height52 font18 font500 text-white border-0 lightBg" />
            <div class="input-group-append">
              <span class="input-group-text lightBg border-0"><i class="fas fa-pen-fancy text-white"></i></span>
            </div>
          </div>
          <span class="font16 font500 muteText">at least 8 characters</span>
        </div>
        <!-- <div class="col-md-12 mt-3">
          <label class="font16 font500 offWhiteText">Re-type Password</label>
          <input type="password" class="form-control height52 font18 font500 text-white border-0 lightBg"/>
        </div> -->
        <div class="col-md-12 mt-4 text-right">
          <input type="submit" class="btn mutedBg text-white borderRadius10 border-0 pl-4 pr-4 font18 font500 " value="Save Changes" />
        </div>
      </div>
    </form>
  </div>
</div>