.virtualScrollWH {
  height: 70vh;
  width: 100%;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
}
