<div class="row mt-4">
  <div class="col-md-10 col-lg-10">
    <div class="row">
      <div class="col-md-4 col-4 align-self-center pr-0">
        <p class="font18 font500 text-white mb-0">
          Device History
        </p>
      </div>
      <div class="col-md-8 col-8">
        <span class="float-right">
          <button
            class="btn mutedBg text-white borderRadius10 border-0 pl-lg-4 pr-lg-4 font18 font500"
            (click)="LogoutAlert(LogoutAllModal)"
          >
            Logout from all devices
          </button>
        </span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="customTable table w-100 mt-4">
        <thead>
          <tr>
            <th scope="col" class="pl-0">Device</th>
            <th scope="col">Location</th>
            <th scope="col" class="text-center">Activity</th>
            <th scope="col" class="text-right">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let session of sessions">
            <td class="align-middle py-3 pl-0" scope="row">
              {{ session.browser }}
              <p class="customTableText mb-0">{{ session.os }}</p>
            </td>
            <td class="align-middle py-3">
              {{ getLocation(session.ip)[0] }}
              <p class="customTableText mb-0">{{ getLocation(session.ip)[1] }}</p>
            </td>
            <td
              class="align-middle text-center py-3"
              [ngClass]="{ activeGradientText: isActive(session) }"
            >
              {{
                isActive(session) ? "Active Now" : (session.timestamp | time_ago)
              }}
            </td>
            <td class="align-middle py-3 text-right">
              <button
                class="btn btn-link customgradientText p-0"
                (click)="LogoutAlert(LogoutModal)"
              >
                Logout
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #LogoutAllModal let-d="dismiss">
  <div class="modal-content position-relative modalBG">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-9 text-center">
          <img src="assets/img/Logout.svg" width="40" class="img-fluid py-4" alt="" />
          <p class="font16 font500 offWhiteText pb-3">Do you want to logout from all devices?</p>
          <button
            [disabled]="loggingOut"
            (click)="logoutAll()"
            class="btn btn-block linearGradient text-white font16 font500 borderRadius60 border-0 my-3"
          >
            Yes
          </button>
          <button
            (click)="d('Cross click')"
            class="btn btn-block text-white font16 font500 borderRadius60 border-0"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #LogoutModal let-d="dismiss">
  <div class="modal-content position-relative modalBG">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-9 text-center">
          <img src="assets/img/Logout.svg" width="40" class="img-fluid py-4" alt="" />
          <p class="font16 font500 offWhiteText pb-3">Do you want to logout?</p>
          <button
            [disabled]="loggingOut"
            (click)="deleteSession(session)"
            class="btn btn-block linearGradient text-white font16 font500 borderRadius60 border-0 my-3"
          >
            Yes
          </button>
          <button
            (click)="d('Cross click')"
            class="btn btn-block text-white font16 font500 borderRadius60 border-0"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>