<div class="d-flex flex-column" style="height: 100vh">
  <div class="d-flex align-items-center p-3 bg-gray-dark">
    <button class="btn bg-transparent" (click)="goBack.emit()">
      <i class="fas fa-chevron-left text-white text-xs"></i>
    </button>
    <div class="text-white">Your parties</div>
  </div>

  <div class="p-3">
    <a
      class="nav-link d-flex"
      style="background-color: rgba(243, 20, 64, 0.1); cursor: pointer"
      (click)="goToInvites.emit()"
    >
      <i class="fas fa-envelope text-danger" style="font-size: 36px"></i>
      <div class="ml-2">
        <div class="text-danger text-xs">
          You have {{ invites }} party invites
        </div>
        <div class="text-white text-xs">Click to view ></div>
      </div>
    </a>
  </div>

  <div class="bg-gray-dark" style="height: 1px"></div>

  <ul class="navbar-nav flex-grow-1 px-3 overflow-auto">
    <li
      *ngFor="let party of parties"
      class="media mb-1 align-items-center my-3"
      style="cursor: pointer"
      (click)="onSelectParty(party)"
    >
      <img
        [src]="party.name | avatar"
        class="rounded-circle mr-2"
        width="36"
        height="36"
        alt=""
      />
      <div>
        <div class="text-white small">{{ party.name }}</div>
        <div class="text-warning text-xs">{{ party.type }}</div>
      </div>
    </li>
  </ul>

  <div class="p-3">
    <button class="btn btn-block btn-primary" (click)="goToCreateParty.emit()">
      Create a new party
    </button>
  </div>
</div>
