.input-group-text {
  cursor: pointer;
}

textarea {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
textarea::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.profile-image {
  div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .profileImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .editProfileIcon {
    bottom: 0px;
    right: 0px;
  }

  // &:hover {
  //   div {
  //     visibility: visible;
  //     opacity: 1;
  //   }
  // }
}
