.input-group-text {
  cursor: pointer;
}

textarea {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
textarea::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.profile-image {
  div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  &:hover {
    div {
      visibility: visible;
      opacity: 1;
    }
  }
}
