<div class="row mb-5">
  <div class="col-md-10 col-lg-8 mt-4">
    <p class="font18 font500 text-white">Profile Settings</p>
    <form>
      <div class="row mt-2">
        <div class="col-auto">
          <input
            type="file"
            class="d-none"
            id="editProfile"
            (change)="onFileChanged($event)"
          />
          <label for="editProfile" class="d-flex mb-0">
            <div class="card transparentBg cursorPointer profile-image">
              <img
                class="card-img rounded-circle wh48"
                [src]="photo || 'assets/img/defaultUser.svg'"
                alt=""
                (error)="onUserError($event)"
              />
              <div class="card-img-overlay transparentBlackBg pl-3 pt-2">
                <i class="fas fa-pen-fancy text-white mt-2"></i>
              </div>
            </div>
          </label>
        </div>
        <div class="col align-self-center pl-0">
          <div class="align-middle font16 font500 muteText">
            Edit profile picture.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-4">
          <label class="font16 font500 offWhiteText required">
            Username
            <i
              class="fas fa-info-circle ml-1"
              ngbTooltip="Minimum 3, Maximum 12 characters. Must start with a letter. Special characters and spaces are not allowed."
              placement="bottom"
              triggers="click:blur"
            >
            </i>
          </label>
          <span
            *ngIf="username.touched && username.invalid"
            class="font16 font500 errorGradientColor float-right"
            >*invalid username</span
          >
          <div class="input-group">
            <input
              type="text"
              [formControl]="username"
              class="form-control height52 font18 font500 text-white border-0 lightBg"
              placeholder="username"
              [ngClass]="{
                errorBorder: username.touched && username.invalid,
                'border-0': username.valid
              }"
            />
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <label class="font16 font500 offWhiteText required">Full Name</label
          ><span
            *ngIf="name.touched && name.invalid"
            class="font16 font500 errorGradientColor float-right"
            >*invalid name</span
          >
          <input
            type="text"
            [formControl]="name"
            class="form-control height52 font18 font500 text-white lightBg"
            placeholder="Your name"
            [ngClass]="{
              errorBorder: name.touched && name.invalid,
              'border-0': name.valid
            }"
          />
        </div>
        <div class="col-md-12 mt-4">
          <label class="font16 font500 offWhiteText">Bio</label>
          <span
            *ngIf="bio.touched && bio.invalid"
            class="font16 font500 errorGradientColor float-right"
            >* You have exhausted the bio limit</span
          >
          <textarea
            [formControl]="bio"
            class="form-control font18 font500 text-white border-0 lightBg"
            rows="3"
            placeholder="Write a short bio in under 300 characters"
            [ngClass]="{
              errorBorder: bio.touched && bio.invalid,
              'border-0': bio.valid
            }"
          ></textarea>
        </div>
        <div class="col-md-12 mt-4 text-right">
          <input
            type="submit"
            (click)="saveChanges()"
            [disabled]="saveProfileLoder || !isValid"
            class="btn text-white activelinear borderRadius10 border-0 pl-4 pr-4 font18 font500"
            value="Save Changes"
          />
        </div>
      </div>
    </form>
  </div>
</div>
