<div class="card bg-dark mb-3">
  <div class="card-header bg-dark border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0 text-white">Profile Settings</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="form-control-label text-white">Username</label>
        <div class="input-group input-group-alternative bg-darker">
          <input
            type="text"
            class="form-control bg-transparent"
            placeholder="Type a username..."
            [formControl]="username"
          />
          <div class="input-group-prepend">
            <a
              *ngIf="username.disabled"
              (click)="username.enable()"
              class="input-group-text bg-transparent"
              >Change</a
            >
            <a
              *ngIf="!username.disabled"
              (click)="updateUsername()"
              class="input-group-text bg-transparent"
              >Save</a
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label text-white">First Name</label>

        <div class="input-group input-group-alternative bg-darker">
          <input
            type="text"
            class="form-control bg-darker"
            placeholder="Your first name..."
            [formControl]="firstName"
          />
          <div class="input-group-prepend">
            <a
              *ngIf="firstName.disabled"
              (click)="firstName.enable()"
              class="input-group-text bg-transparent"
              >Change</a
            >
            <a
              *ngIf="!firstName.disabled"
              (click)="updateFirstName()"
              class="input-group-text bg-transparent"
              >Save</a
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label text-white">Last Name</label>

        <div class="input-group input-group-alternative bg-darker">
          <input
            type="text"
            class="form-control bg-darker"
            placeholder="Your last name..."
            [formControl]="lastName"
          />
          <div class="input-group-prepend">
            <a
              *ngIf="lastName.disabled"
              (click)="lastName.enable()"
              class="input-group-text bg-transparent"
              >Change</a
            >
            <a
              *ngIf="!lastName.disabled"
              (click)="updateLastName()"
              class="input-group-text bg-transparent"
              >Save</a
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label text-white">Bio</label>

        <div class="input-group input-group-alternative bg-darker">
          <input
            type="text"
            class="form-control bg-darker"
            placeholder="Write a short bio..."
            [formControl]="bio"
          />
          <div class="input-group-prepend">
            <a
              *ngIf="bio.disabled"
              (click)="bio.enable()"
              class="input-group-text bg-transparent"
              >Change</a
            >
            <a
              *ngIf="!bio.disabled"
              (click)="updateBio()"
              class="input-group-text bg-transparent"
              >Save</a
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
