<section class="d-flex">
    <img [src]="game.textBgImage" height="150px" width="150px" alt="" class="game-img">
    <div class="d-flex flex-column ml-4 mt-1">
        <h3 class="text-white truncate-line-clamp ">{{ game.title }}</h3>
        <div class="gameTagsContianer">
            <ng-container *ngFor="let genre of game.genreMappings; let idx = index">
              <span class="d-block gameGenre" *ngIf="idx < 2">{{ genre }}</span>
            </ng-container>
        </div>
    </div>
</section>