
<section class="parallexContainer">
    <div class="parallexBackground" [style.backgroundImage]="'url('+ getBackgroundImage +')'"></div>
    <div class="logo">
        <img src="assets/img/Dashboard/parallex_logo.png" alt="">
    </div>
    <div class="characterContainer">
        <div class="leftCharacter" [style.marginLeft.px]="marginValue">
            <img src="assets/img/Dashboard/parallex_character_1.png" alt="">
        </div>
        <div class="rightCharacter" [style.marginRight.px]="marginValue">
            <img src="assets/img/Dashboard/parallex_character_2.png" alt="">
        </div>
    </div>
    <div class="row scrollGame scrollGameHeight scrollListing">
        <ng-container *ngFor="let game of gamesFeed.games">
            <app-special-banner-card [game]="game"></app-special-banner-card>
        </ng-container>


    <button
            *ngIf="showLeftArrow"
            class="btn position-absolute h-100 arrowPaddingLeft pr-2"
            (click)="scrollLeft()"
        >
            <img src="assets/img/arrow-left.svg" height="30px" alt="" />
        </button>

        <button
            *ngIf="showRightArrow"
            class="btn position-absolute h-100 arrowPaddingright pl-2"
            (click)="scrollRight()"
        >
            <img src="assets/img/arrow-right.svg" height="30px" alt="" />
        </button>
    </div>
</section>