.h100 {
    height: 100vh;
    overflow-y: scroll;
}

.customBG {
    background-color: #151515;
}

.tvQRBg {
    background-image: url('../../../assets/img/singup-login/image 23.svg');
    background-repeat: no-repeat;
}