.h100 {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;
}

.h100::-webkit-scrollbar {
    background: transparent;
    width: 0px;
    height: 0px;
}

.customBG {
    background-color: #151515;
}

.tvQRBg {
    // background-image: url('../../../assets/img/singup-login/image 23.svg');
    background-repeat: no-repeat;
}
.background-image {
    background-image: url('../../../assets/img/singup-login/image 23.svg');
}
.linear-gradient {

    background: rgb(36,47,70);
    background: linear-gradient(90deg, rgba(36,47,70,0.5970763305322129) 0%, rgba(36,46,70,1) 39%, rgba(70,36,64,1) 100%);
}