.h100 {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;
}

.h100::-webkit-scrollbar {
    background: transparent;
    width: 0px;
    height: 0px;
}

.customBG {
    background-color: #151515;
}

.tvQRBg {
    background-image: url('../../../assets/img/singup-login/image 23.svg');
    background-repeat: no-repeat;
}