#nav-buttons {
  @media (max-width: 756px) {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .font20 {
      font-size: 14px !important;
      line-height: 21px !important;
  }

  .height91vh {
    height: 84vh !important;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .height91vh {
    height: 87vh !important;
  }
}

@media (min-width: 1700px) and (max-width: 1999px) {
  .height91vh {
    height: 90vh !important;
  }
}

@media (min-width: 2000px) and (max-width: 2600px) {
  .height91vh {
    height: 92vh !important;
  }
}

.signupBg {
  background-image: url('../../../assets/img/singup-login/login_signup_Illustration.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.height91vh {
  height: 91vh;
}

.offWhiteColor {
color: #959595;
}

.offWhiteColor:hover {
color: #959595;
}

.font18 {
font-size: 18px;
line-height: 30px;
}

.font500 {
font-weight: 500;
}

.font20 {
font-size: 20px;
line-height: 34px;
}

.h60 {
height: 60px;
}

.removeFocus:focus {
box-shadow: none;
}

.linearGradient {
background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
}

.borderRadius60 {
border-radius: 60px;
}

.footerWhiteColor a {
/* color: #E1E1E1; */
color: #959595;
}

.footerWhiteColor {
color: #E1E1E1;
}

.font16 {
font-size: 16px;
line-height: 26px;
}

.gradientAnchor a {
background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.font50 {
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 2%;
  font-weight: 800;
}