<!-- <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
  <div class="container px-4">
    <a class="navbar-brand" href="https://oneplay.in">
      <img  class="img-fluid" src="assets/img/brand/Group 134.svg" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="sidenav-collapse-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >

      <div class="navbar-collapse-header d-md-none" style="width: 100%">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="assets/img/brand/logo.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul id="nav-buttons" class="navbar-nav ml-lg-auto">
        <li class="nav-item nav-link">
          <a
            class="btn btn-md btn-outline-light btn-block"
            routerLinkActive="active"
            [routerLink]="['/register']"
          >
            <span class="nav-link-inner--text">Sign up</span>
          </a>
        </li>
        <li class="nav-item nav-link">
          <a
            class="btn btn-md btn-outline-light btn-block"
            routerLinkActive="active"
            [routerLink]="['/login']"
          >
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="row">
  <div class="col-lg-12">
    <div class="container height91vh">
      <div class="row">
        <div class="col-6 mt-4">
          <a href="https://oneplay.in">
            <img src="assets/img/singup-login/Group 133.svg" class="img-fluid" alt="logo" />
          </a> 
        </div>
        <div class="col-6 mt-4 align-self-center text-right">
          <span class="offWhiteColor font18 font500">Need help?<span class="gradientAnchor"><a href="#"> Browse FAQ</a></span></span>
        </div>
      </div>
    </div>
    <div class="row pl-3 pr-3">
      <div class="col-md-5 align-self-center">
        <a href="./download.html" class="btn btn-lg font20 text-white h60 pr-5 pl-0 font500 removeFocus linearGradient align-middle borderRadius60 pt-0"><img src="assets/img/singup-login/Group 124.svg" class="img-fluid h60 me-4" alt="app" /> Get the app</a>
      </div>
      <div class="col-md-7 text-right align-self-center">
        <p class="font16 font500 footerWhiteColor mb-0">© 2022 RainBox Media Pvt Ltd. All Rights Reserved.</p>
        <p class="font16 font500 gradientAnchor">
          <a href="privacy.html" class="anchor">Privacy Policy</a> <span class="footerWhiteColor">.</span>
          <a href="./tnc.html" class="anchor">Terms & Conditions</a>
        </p>
      </div>
    </div>
  </div>
</div>
