<div class="row signupBg">
  <div class="col-lg-12">
    <div class="container height91vh">
      <div class="row">
        <div class="col-6 mt-4">
          <a [href]="domain" (click)="logoGuard($event)">
            <img
              src="assets/img/brand/brandLogo.svg"
              class="img-fluid"
              alt="logo"
            />
          </a>
        </div>
        <div class="col-6 mt-4 align-self-center text-right">
          <span class="offWhiteColor font18 font500"
            >Need help?<span class="gradientAnchor"
              ><a  [href]="domain + '/FAQs.html'" target="_blank">
                Browse FAQ</a
              > 
              </span
            ></span
          >
        </div>
      </div>
      <!-- <div class="row justify-content-center mt-5">
        <div class="col-md-12">
          <h1 class="text-center text-white font50 mb-0">
            Enjoy Uninterrupted
          </h1>
          <h1 class="text-center text-white font50">Gaming</h1>
        </div>
      </div> -->
    </div>
    <div class="row pl-3 pr-3 pb-3">
      <div class="align-self-center" style="margin-top: -20px;">
        <a
          [href]="domain + '/download.html'"
          target="_blank"
          class="btn btn-lg font20 text-white h60 pr-5 pl-0 font500 removeFocus linearGradient align-middle borderRadius60 pt-0"
          ><img
            src="assets/img/singup-login/Group 124.svg"
            class="img-fluid h60 me-4"
            alt="app"
          />
          Get the app</a
        >
        <p class="mt-1 font16 font500 footerWhiteColor mb-0">
          © 2023 RainBox Media Pvt Ltd. All Rights Reserved.
        </p>
      </div>
      <div class="col-md-7 text-right align-self-center pl-0">
        <!-- <p class="font16 font500 footerWhiteColor mb-0">
          © 2023 RainBox Media Pvt Ltd. All Rights Reserved.
        </p> -->
        <!-- <p class="font16 font500 gradientAnchor mb-0">
          <a
            [href]="domain + '/privacy.html'"
            target="_blank"
            class="anchor"
            >Privacy Policy</a
          >
          <span class="footerWhiteColor ml-2 mr-2">.</span>
          <a
            [href]="domain + '/tnc.html'"
            target="_blank"
            class="anchor"
            >Terms & Conditions</a
          >
        </p> -->
      </div>
    </div>
  </div>
</div>
