<div class="container-fluid max-width1500">
  <div class="mt-3 row">
    <div class="col-auto align-self-center">
      <h3 class="font700 font28 text-white mb-0">My Library</h3>
    </div>
    <div class="col p-0 align-self-center">
      <button
        class="btn p-0 customToopTip"
        placement="right"
        ngbTooltip="Add to Library"
        (click)="selectGame()"
      >
        <img
          src="assets/icons/Speedtest (2).svg"
          class="img-fluid"
          alt=""
          width="41px"
          height="41px"
        />
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div
      *ngFor="let gamecard of selectedGames"
      class="col-6 col-sm-4 col-md-4 col-lg-3 mb-3 px-2"
    >
      <div class="zoom">
        <ng-container *ngIf="!gamecard.isInstallAndPlay">
        <app-game-card [game]="gamecard"></app-game-card>
      </ng-container>
      <ng-container *ngIf="gamecard.isInstallAndPlay">
        <app-install-play-game [game]="gamecard" [calledFrom]="'LIBRARY'" [showBottomLabel]="false"></app-install-play-game>
      </ng-container>
      </div>
    </div>
  </div>
</div>
