.zoom {
  transition: transform 0.2s;

  @media (min-width: 768px) {
    &:hover {
      transform: scale(1.1) translateZ(0px);
    }
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: -7px;
  }
}

@media (min-width: 992px)
{
  .col-lg-3 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .colLG {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 2000px) {
  .col-xxl-3 {
    max-width: 20% !important;
    flex: 0 0 20% !important;
  }
}

@media (min-width: 2500px) {
  .col-xxxl-3 {
    max-width: 14.2% !important;
    flex: 0 0 15% !important;
  }
}

::ng-deep .tooltip-inner {
  width: auto !important;
}

.customBtnBg {
  background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
}

@media (max-width: 1200px) {
  .navbar-search .form-control {
    width: 186px !important;
  }
}