<div class="container-fluid max-width1500">
  <div class="container-fluid mt-2">
    <div class="d-flex justify-content-between">
      <h3 class="font700 font28 text-white">My Library</h3>
    </div>
    <div class="pb-4 pt-2 row">
      <div *ngFor="let game of games" class="col-6 col-sm-4 col-md-4 col-lg-3 mb-3 px-2">
        <div class="zoom">
          <app-game-card [game]="game"></app-game-card>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-3 mx-2 align-self-center">
        <button class="btn mx-2 p-0" ngbTooltip="Add to Library">
          <img
            src="assets/icons/Speedtest (2).svg"
            class="img-fluid"
            alt=""
            width="41px"
            height="41px"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #selectGameModal let-d="dismiss">
  <div class="modal-header bg-dark d-inline">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 align-self-center">
        <h2 class="text-white mb-0">Select The Games</h2>
      </div>
      <div class="col-lg-6 col-md-12 mt-2 mt-lg-0 navbar-search">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative border-0 bg-darker">
            <input
              class="form-control"
              placeholder="Search Games"
              type="text"
              [formControl]="query"
              (keydown)="onSearch()"
            />
            <div class="input-group-prepend">
              <a
                href="javascript:void(0)"
                class="input-group-text"
                (click)="onSearch()"
                ><i class="fas fa-search"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body bg-dark pt-0">
    <div
      class="row"
      infinite-scroll
      [infiniteScrollDistance]="5"
      [infiniteScrollThrottle]="200"
      (scrolled)="onScroll()"
    >
      <div *ngFor="let game of games" class="col-lg-3 col-md-4 col-6 mt-4">
        <div class="card bg-dark text-white">
          <app-select-game-card [game]="game" (selectClick)="checkedValue(game)" [isChecked]="isChecked(game)"></app-select-game-card>
        </div>
      </div>
      <div class="position-relative col-12">
        <ngx-ui-loader
          [fgsColor]="'#c32ead'"
          [loaderId]="'scroll'"
          [hasProgressBar]="false"
        ></ngx-ui-loader>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-dark">
    <button
      type="submit"
      class="btn customBtnBg border-left-0 border-right-0 border-top-0 text-white"
      [disabled]="selectedGameIds.length < 1"
      (click)="closeSelectGame()"
    >
      Done
    </button>
  </div>
</ng-template>