.inputBorder {
    border: 2px solid #3e4246 !important;
    border-radius: 10px !important;
    background-color: transparent !important;
    height: 52px !important;
}

.customBorder0 {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
}

.w70h61 {
    width: 39px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    border-bottom: 5px solid #3e4246;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
    @media (max-width: 371px) {
        width: 30px;
        height: 30px;
    }
}
  
.mutedColor {
    color: #3e4246 !important;
    font-size: 40px;
}
  
.font20 {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #959595;
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}