<footer class="footer" style="background-color: #121212;">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="font-weight-bold ml-1" target="_blank">
          <img src="assets/img/brand/white.png" width="150" alt="">
        </a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.oneplay.in/contact.html" class="nav-link" target="_blank">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="https://www.oneplay.in/about.html" class="nav-link" target="_blank">About Us</a>
        </li>
        <li class="nav-item">
          <a href="https://medium.com/@oneplay_gaming" class="nav-link" target="_blank">Blogs</a>
        </li>
        <li class="nav-item">
          <a href="https://www.oneplay.in/tnc.html" class="nav-link" target="_blank">Terms & Conditions</a>
        </li>
        <li class="nav-item">
          <a href="https://www.oneplay.in/privacy.html" class="nav-link" target="_blank">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
