<footer
  class="footer d-none d-sm-block py-0"
  style="
    background-color: #151515;
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
  "
>
  <div class="row align-items-center justify-content-xl-between mt-4 mb-4">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <a
          href="javascript:void(0)"
          [routerLink]="['home']"
          class="font-weight-bold ml-1"
        >
          <img src="assets/img/brand/brandLogo.svg" class="img-fluid" alt="" />
        </a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a [href]="domain + '/contact.html'" class="nav-link" target="_blank"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a [href]="domain + '/about.html'" class="nav-link" target="_blank"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://medium.com/@oneplay_gaming"
            class="nav-link"
            target="_blank"
            >Blogs</a
          >
        </li>
        <li class="nav-item">
          <a [href]="domain + '/tnc.html'" class="nav-link" target="_blank"
            >Terms & Conditions</a
          >
        </li>
        <li class="nav-item">
          <a [href]="domain + '/privacy.html'" class="nav-link" target="_blank"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
