<div class="main-content"
  [style.overflow]="stopOverflow ? 'hidden' : 'auto'"
  [style.height]="stopOverflow ? '100vh' : ''"
>
  <app-chat-bottom-sheet
    *ngIf="isAuthenticated"
    [isCollapsed]="friendsCollapsed"
    (toggleCollapse)="toggleFriendsCollapsed($event)"
  ></app-chat-bottom-sheet>
  <!-- <app-navbar
    *ngIf="isAuthenticated"
    (toggleFriends)="toggleFriendsCollapsed($event)"
  ></app-navbar> -->
  <app-navbar
    (toggleFriends)="toggleFriendsCollapsed($event)"
  ></app-navbar>
  <div
    class="container-fluid"
    style="
      padding-left: 0px !important;
      padding-right: 0px !important;
      overflow-x: hidden;
    "
  >
    <router-outlet></router-outlet>
  </div>
  <app-bottom-nav
    (toggleFriends)="toggleFriendsCollapsed()"
  ></app-bottom-nav>
</div>

<app-onboarding-modals *ngIf="showOnboardingPopup"></app-onboarding-modals>