.main-content {
    background: #151515;
    margin-left: 0 !important;
    min-height: 100vh;
}
.container-fluid {
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        display: none;
    }
}
.welcome-message {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    position: absolute;
    z-index: 1000;
    top: 21%;
    left: 45%;
    box-shadow: -6px -3px 8px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    @media screen and (max-width: 475px) {
        left: 33% !important;
    }
}