.main-content {
    background: #151515;
    margin-left: 0 !important;
    min-height: 100vh;
}
.container-fluid {
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        display: none;
    }
}
.welcome-message-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-message {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: -6px -3px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 65px;
}