
<div class="welcome-message-container" *ngIf="showWelcomeMessage">
  <div class="welcome-message bg-gray-dark font500">Welcome back {{ username }}</div>
</div>
<div class="main-content"
  [style.overflow]="stopOverflow ? 'hidden' : 'auto'"
  [style.height]="stopOverflow ? '100vh' : ''"
>
  <app-chat-bottom-sheet
    *ngIf="isAuthenticated"
    [isCollapsed]="friendsCollapsed"
    (toggleCollapse)="toggleFriendsCollapsed($event)"
  ></app-chat-bottom-sheet>
  <!-- <app-navbar
    *ngIf="isAuthenticated"
    (toggleFriends)="toggleFriendsCollapsed($event)"
  ></app-navbar> -->
  <app-navbar
    (toggleFriends)="toggleFriendsCollapsed($event)"
  ></app-navbar>
  <div
    class="container-fluid"
    style="
      padding-left: 0px !important;
      padding-right: 0px !important;
      overflow-x: hidden;
    "
  >
    <router-outlet></router-outlet>
  </div>
  <div class="container-fluid" [style.backgroundColor]="isHomePage && '#020F1B'">
    <div class="height130">
      <app-footer></app-footer>
    </div>
  </div>
  <app-bottom-nav
    (toggleFriends)="toggleFriendsCollapsed()"
  ></app-bottom-nav>
</div>
<app-onboarding-modals *ngIf="showOnboardingPopup"></app-onboarding-modals>