.main-content {
    background: #151515;
    margin-left: 0 !important;
    min-height: 100vh;
    // overflow-x: hidden;
}

.height130 {
    height: 103px;
    @media (max-width: 1200px) {
        height: 68px;
    }
}

.darkText {
    color: #212123;
}