<div class="main-content">
  <app-friends
    [isCollapsed]="friendsCollapsed"
    (toggleCollapse)="toggleFriendsCollapsed()"
  ></app-friends>
  <!-- Top navbar -->
  <app-navbar (toggleFriends)="toggleFriendsCollapsed()"></app-navbar>
  <!-- Pages -->
  <div class="container-fluid" style="padding-left: 0px !important; padding-right: 0px !important;">
    <router-outlet></router-outlet>
  </div>
  <div class="container-fluid" *ngIf="!isApp">
    <div class="height130">
      <app-footer></app-footer>
    </div>
  </div>
  <app-bottom-nav (toggleFriends)="toggleFriendsCollapsed()"></app-bottom-nav>
</div>

<app-onboarding-modals *ngIf="showOnboardingPopup"></app-onboarding-modals>

