<div class="main-content">
  <app-friends
    [isCollapsed]="friendsCollapsed"
    (toggleCollapse)="toggleFriendsCollapsed()"
  ></app-friends>
  <!-- Sidenav -->
  <app-sidebar (toggleFriends)="toggleFriendsCollapsed()"></app-sidebar>
  <!-- Top navbar -->
  <app-navbar (toggleFriends)="toggleFriendsCollapsed()"></app-navbar>
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid pb-5 pb-lg-0" *ngIf="!isApp">
    <app-footer></app-footer>
  </div>
  <app-bottom-nav></app-bottom-nav>
</div>
