<nav
  class="navbar navbar-expand-md navbar-dark d-none d-md-flex"
  id="navbar-main"
  style="background-color: #1c1c1c"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a
      class="navbar-brand"
      routerLinkActive="active"
      [routerLink]="['/home']"
    >
      <img style="height: 43px; width: 150px" src="assets/img/brand/logo.png" />
    </a>

    <!-- Links -->
    <ul class="navbar-nav d-none d-md-flex">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['/home']" class="nav-link"
          >Home</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          routerLinkActive="active"
          [routerLink]="['/streams']"
          class="nav-link"
          >Streams</a
        >
      </li> -->
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['/store']" class="nav-link"
          >Store</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          routerLinkActive="active"
          [routerLink]="['/library']"
          class="nav-link"
          >Library</a
        >
      </li> -->
    </ul>

    <!-- Form -->
    <form class="navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto" (submit)="search()">
      <div class="form-group mb-0" [ngClass]="{ focused: focus === true }">
        <div class="input-group input-group-alternative border-0 bg-darker">
          <input
            class="form-control"
            placeholder="Search"
            type="text"
            [formControl]="query"
            (focus)="focus = true"
            (blur)="focus = false"
          />
          <div class="input-group-prepend">
            <a
              [routerLink]="['/search']"
              [queryParams]="{ q: query.value }"
              class="input-group-text"
              ><i class="fas fa-search"></i
            ></a>
          </div>
        </div>
      </div>
    </form>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="assets/img/theme/avatar.png" />
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">{{ title }}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <!-- <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div> -->
          <!-- <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a> -->
          <!-- <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a> -->
          <!-- <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a> -->
          <a
            routerLinkActive="active"
            [routerLink]="['/user-profile']"
            class="dropdown-item"
          >
            <i class="ni ni-settings"></i>
            <span>Settings</span>
          </a>
          <a
            routerLinkActive="active"
            [routerLink]="['/dashboard']"
            class="dropdown-item"
          >
            <i class="ni ni-laptop"></i>
            <span>Your PC</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">
            <i class="ni ni-button-power"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
