<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top navbarBg xsborderBottom"
  id="navbar-main"
>
  <div
    class="container-fluid p-0"
    style="padding-left: 1% !important; padding-right: 2% !important"
  >
    <div class="search">
      <span class="bgTransparent offWhiteColor font16 font500">
        <a
          href="javascript:void(0)"
          routerLinkActive="active"
          [routerLink]="['/search']"
          ><i class="fas fa-search text-white"></i
        ></a>
      </span>
    </div>

    <!-- Brand -->
    <a href="javascript:void(0)" class="navbar-brand" [routerLink]="['/home']">
      <img
        class="img-fluid w120"
        src="assets/img/brand/brandLogo.svg"
        alt=" "
      />
    </a>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto pl-md-4 pl-lg-0 ml-auto">
        <li class="nav-item">
          <a
            href="javascript:void(0)"
            routerLinkActive="active"
            [routerLink]="['/home']"
            class="nav-link p-0 mt-2 pt-1 mr-4"
            (click)="headerNavOnClick('homeClicked')"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href="javascript:void(0)"
            routerLinkActive="active"
            [routerLink]="['/store']"
            class="nav-link p-0 mt-2 pt-1 mr-4"
            (click)="headerNavOnClick('gamesClicked')"
            >Games</a
          >
        </li>
        <li class="nav-item">
          <a
            href="javascript:void(0)"
            routerLinkActive="active"
            [routerLink]="['/streams']"
            class="nav-link p-0 mt-2 pt-1 mr-3"
            (click)="headerNavOnClick('streamsClicked')"
            >Streams</a
          >
        </li>
        <li class="nav-item position-relative">
          <img
            src="assets/img/navbar/new-label.svg"
            class="position-absolute"
            style="right: 25px; top: -8px; z-index: 1"
            alt="casual gaming"
            *ngIf="showCasualGamingLabel"
          />
          <a 
              href="javascript:void(0)"
              routerLinkActive="active"
              [routerLink]="['/gamezop']"
              class="nav-link p-0 mt-2 pt-1 mr-3"
              (click)="headerNavOnClick('gamezopClicked')"
            >Level 1</a
          >
        </li>
        <li class="d-none d-lg-inline ml-2">
          <form
            class="navbar-search form-inline d-none d-md-flex mt-md-3 mt-lg-0 ml-lg-auto position-relative"
          >
            <div
              class="form-group mb-0"
              [ngClass]="{ focused: (isFocused | async) === true }"
            >
              <input
                #search
                class="form-control font18 font500 width200 border-0 modalBG"
                placeholder="Search for games or friends"
                type="text"
                [formControl]="query"
                (focus)="onFocus()"
                (blur)="onBlur()"
                (click)="headerNavOnClick('searchClicked')"
                (keyup.enter)="results.length === 3 ? search.blur() : ''"
              />
              
              <span
                class="bgTransparent fixedIcon offWhiteColor font16 font500"
              >
                <a href="javascript:void(0)"
                  ><i class="fas fa-search text-white"></i
                ></a>
              </span>
            </div>
            <div
              *ngIf="!isMenuCollapsed"
              class="position-absolute w-100 bg-dark list-group border-0 searchDropdown"
              style="top: calc(100% + 8px); max-height: calc(99vh - 79px)"
            >
              <div
                *ngFor="let game of results"
                class="row gameRowHover py-2 mx-1 searchListing"
                style="cursor: pointer"
                (click)="viewGameFromSearch(game)"
              >
              <div *ngIf="!game.isInstallAndPlay" class="d-flex w-100">
                <div class="col-auto align-self-center pr-0">
                  <div class="card border-0 bg-dark">
                    <img
                      [src]="game.textBgImage"
                      (error)="onImgError($event)"
                      class="br6"
                      width="125"
                      height="80"
                      alt=""
                    />
                    <div class="card-img-overlay p-0">
                      <span
                        *ngIf="game.isFree && game.status !== 'coming_soon'"
                        class="freeTag px-2 free tagText"
                      >
                        FREE ON
                        <img
                          src="assets/img/store/store.svg"
                          class="freeOnStoreIcon"
                          alt="store"
                      /></span>
                      <span
                        *ngIf="game.status === 'coming_soon'"
                        class="redGradient px-1 free tagText"
                        >COMING SOON</span
                      >
                      <div
                        class="row h-100 align-items-end justify-content-center"
                      >
                        <div
                          *ngIf="game.status === 'maintenance'"
                          class="col-auto"
                        >
                          <span class="orangeGradientBg text-white px-1 tagText"
                            >MAINTENANCE</span
                          >
                        </div>
                        <div
                          *ngIf="game.status === 'updating'"
                          class="col-auto"
                        >
                          <span class="updatingGradient text-white px-1 tagText"
                            >UPDATING</span
                          >
                        </div>
                        <div
                          *ngIf="game.status === 'not_optimized'"
                          class="col-auto"
                        >
                          <span class="darkredGradient text-white px-1 tagText"
                            >NOT OPTIMIZED</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center pr-0">
                  <p class="font16 font500 offWhitecolor mb-0">
                    <span class="truncate-line-clamp text-wrap">{{ game.title }}</span>
                  </p>
                  <p class="font14 font500 mb-0 mutedTextColor">
                    {{ game.releaseDate.getFullYear() }}
                  </p>
                </div>
              </div>
              <div *ngIf="game.isInstallAndPlay" class="d-flex w-100">
                <div class="col-auto align-self-center pr-0">
                  <div class="card border-0 bg-dark">
                    <img
                      [src]="game.installPlaySearchImg"
                      (error)="onImgError($event)"
                      class="br6"
                      width="125"
                      height="80"
                      alt=""
                      style="object-fit: contain;"
                    />
                  </div>
                 
                  <div class="d-flex mt-1">
                    <ng-container *ngFor="let store of game.storesMapping">
                      <img [src]="store.store_image" height="18" width="18" alt="" class="mr-1">
                    </ng-container>
                  </div>
                </div>
                <div class="col-6 pr-0">
                  <p class="font16 font500 offWhitecolor mb-0 text-wrap">
                    <span class="gameTitle truncate-line-clamp">{{ game.title }}</span>
                  </p>
                  <p class="font500 mb-0 mutedTextColor" style="font-size: 12px;">
                    {{ game.releaseDate.getFullYear() }} . {{ game.developer.join(", ").length > 13 ? game.developer.join(", ").substr(0, 13) + "..." : game.developer.join(", ") }} 
                  </p>
                  <div class="_card-img-overlay_ p-0">
                    <span *ngIf="(game.isFree && game.status !== 'coming_soon'); else canShowOtherTags" class="freeTag px-2 secondaryTag text-white tagText">
                      FREE ON <img src='assets/img/store/store.svg' class="freeOnStoreIcon" alt="store" /></span>
                    <ng-template #canShowOtherTags>
                      <span *ngIf="game.status === 'coming_soon'" class="redGradient px-1 secondaryTag text-white tagText">COMING SOON</span>
                      <span *ngIf="game.status === 'maintenance'"  class="orangeGradientBg text-white px-1 secondaryTag tagText">MAINTENANCE</span>
                      <span *ngIf="game.status === 'updating'" class="updatingGradient text-white px-1 secondaryTag tagText">UPDATING</span>
                      <span *ngIf="game.status === 'not_optimized'" class="darkredGradient text-white px-1 secondaryTag tagText">NOT
                        OPTIMIZED</span>
                    </ng-template>
                  </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="results.length === 3"
                class="text-center bg-dark py-3"
              >
                <button
                  class="btn btn-block muteText font500 font16 border-0 borderRadius0 borderTop"
                  (click)="searchNavigate('games')"
                >
                  See more games
                </button>
              </div>
              <div
                *ngFor="let user of uResults"
                class="row bg-dark border-0 searchListing mx-1 py-2"
              >
                <div class="col-auto align-self-center">
                  <img
                    (error)="onUsersError($event, user)"
                    [src]="user.photo || 'assets/img/defaultUser.svg'"
                    class="rounded-circle profileImgCover"
                    width="48"
                    height="48"
                    alt=""
                  />
                </div>
                <div class="col p-0 align-self-center text-truncate">
                  <div class="">
                    <p class="font16 font500 offWhitecolor mb-0 truncate-line-clamp">
                      {{ user.name.length > 30 ? user.name.substr(0, 30) + '...' : user.name }}
                    </p>
                  </div>
                  <p class="font14 font500 mb-0 mutedTextColor">
                    {{ user.username }}
                  </p>
                </div>
                <div
                  *ngIf="user.id != userId"
                  class="col-auto d-flex align-items-baseline pr-0"
                >
                  <ng-container
                    *ngFor="let key of getActions(user); index as i"
                  >
                    <div *ngIf="i > 0" class="action-divider"></div>
                    <img
                      (click)="actions[key].action(user)"
                      src="assets/img/chat/{{ actions[key].icon }}.svg"
                      class="img-fluid m-2"
                      [ngClass]="{ cursorPointer: actions[key].action != null }"
                      alt=""
                    />
                  </ng-container>
                </div>
              </div>
              <div
                *ngIf="uResults.length === 3"
                class="text-center bg-dark py-3"
              >
                <button
                  class="btn btn-block muteText font500 font16 border-0 borderRadius0 borderTop"
                  (click)="searchNavigate('users')"
                >
                  See more users
                </button>
              </div>
              <div
                *ngIf="results.length === 0 && uResults.length === 0"
                class="font16 font500 offWhitecolor mx-3 py-2"
              >
                Sorry, No Results Found!
                <p class="mb-0 font14 font500 mutedTextColor">
                  Please try different keywords.
                </p>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <!-- User -->
    <ul class="navbar-nav pl-md-4 pl-lg-0">
      <li class="nav-item">
        <div class="row">
          <div
            class="col-auto align-self-center pl-0 d-none d-lg-inline hideIcon"
          >
            <a
              href="javascript:void(0)"
              class="nav-link p-0 br50"
              (click)="toggleFriendsList()"
            >
              <img
                *ngIf="hasUnread"
                src="assets/img/chat/in-game.svg"
                class="img-fluid position-absolute"
                style="right: 12px; z-index: 1"
                alt=""
              />
              <span class="nav-chat">
                <!-- <i class="fas fa-user-friends"></i> -->
                <img src="assets/img/navbar/chat-icon.svg" alt="" />
              </span>
            </a>
          </div>
          <div
            class="col-auto align-self-center pl-0 d-none d-lg-inline hideIcon"
          >
            <a
              href="javascript:void(0)"
              class="nav-link p-0"
              (click)="viewGame()"
              ngbTooltip="{{ gamePlayTooltip }}"
            >
              <img
                *ngIf="isGameRunning && isUserLive"
                src="assets/img/Dashboard/Speedtest.svg"
                class="img-fluid br50"
                alt=""
                aria-hidden="true"
                width="36px"
                height="36px"
              />
              <span *ngIf="isGameRunning && isUserLive" id="live">LIVE</span>
              <img
                *ngIf="isGameRunning && !isUserLive"
                src="assets/img/Dashboard/resumeSpeedtest.svg"
                class="img-fluid br50"
                alt=""
                aria-hidden="true"
                width="36px"
                height="36px"
              />
              <img
                *ngIf="!isGameRunning"
                src="assets/img/Dashboard/inactiveGame.svg"
                class="img-fluid br50"
                alt=""
                aria-hidden="true"
                width="36px"
                height="36px"
              />
            </a>
          </div>
          <div
            class="col-auto align-self-center pr-3 pl-0 removeFocusVisible position-relative">
            <div class="notification-container-container text-center font800 p-1" *ngIf="unseenNotificationCount > 0">
              <div class="new-notification-count text-white">{{unseenNotificationCount > 9 ? '9+' : unseenNotificationCount}}</div>
            </div>
              <a
                href="javascript:void(0)"
                class="nav-link p-0 br50"
                role="button"
                (click)="goToNotificationScreen()"
              >
                <img
                  alt=""
                  width="25px"
                  height="25px"
                  class="rounded-circle profileImgCover"
                  src="assets/icons/notification-icon.svg"
                />
             </a>
            
             <div class="position-absolute notificationList" [ngClass]="{'notificationListing': showMultiNotificationList}">
                <ng-container *ngFor="let notification of notificationData; let i = index">
                  <app-notification-alert *ngIf="notification && i < 4" [notification]="notification" [index]="i" [isMultiNotificationList]="notificationData.length > 0" [isLast]="notificationData.length === (i+1)" ></app-notification-alert>
                </ng-container>
              </div>
          </div>
          <div
            class="col-auto align-self-center pr-3 pl-0 removeFocusVisible"
            ngbDropdown
            placement="bottom-right"
          >
            <a
              href="javascript:void(0)"
              class="nav-link p-0 br50"
              role="button"
              (click)="headerNavOnClick('profileClicked')"
              ngbDropdownToggle
            >
              <img
                alt=""
                width="36px"
                height="36px"
                class="rounded-circle profileImgCover"
                [src]="photo || 'assets/img/defaultUser.svg'"
                (error)="onUserError($event)"
              />
            </a>
            <div class="dropdown-bug">
              <div
                class="dropdown-menu-arrow menudropdown dropdown-menu-right"
                ngbDropdownMenu
              >
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0 text-white">{{ title }}</h6>
                </div>
                <a
                  href="javascript:void(0)"
                  routerLinkActive="active"
                  [routerLink]="['wishlist']"
                  class="dropdown-item"
                  (click)="logDropdownEvent('myLibraryClicked')"
                >
                  <i class="ni ni-favourite-28 font14 align-middle"></i>
                  <span class="align-middle">My Library</span>
                </a>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="goToSubscriptionPage()"
                >
                  <i class="ni ni-credit-card font14 align-middle"></i>
                  <span class="align-middle">Subscription</span>
                </a>
                <!-- <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="open(share)"
                >
                  <i class="fa fa-user-plus font14 align-middle" aria-hidden="true"></i>
                  <span class="align-middle">Refer</span>
                </a>  -->

                <a
                  (click)="logDropdownEvent('speedTestClicked')"
                  href="javascript:void(0)"
                  routerLinkActive="active"
                  [routerLink]="['speed-test']"
                  class="dropdown-item"
                >
                  <i class="fas fa-tachometer-alt font14 align-middle"></i>
                  <span class="align-middle">Speed Test</span>
                </a>

                <div class="dropdown-divider borderColor"></div>
                <a
                  [href]="domain + '/download.html'"
                  class="dropdown-item d-none d-sm-inline"
                  (click)="logDropdownEvent('downloadsClicked')"
                >
                  <i class="ni ni-cloud-download-95 font14 align-middle"></i>
                  <span class="align-middle">Downloads</span>
                </a>
                <a
                  href="javascript:void(0)"
                  routerLinkActive="active"
                  (click)="openSetting()"
                  class="dropdown-item"
                  (click)="logDropdownEvent('settingsClicked')"
                >
                  <i class="ni ni-settings font14 align-middle"></i>
                  <span class="align-middle">Settings</span>
                </a>
                <!-- <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="switchSearchPrivacy()"
                >
                  <img
                    src="assets/icons/privacy.svg"
                    class="img-fluid mr-3 privacy"
                    alt=""
                  />
                  <span>Turn {{ isPrivate ? "off" : "on" }} privacy</span>
                </a>
                <div class="dropdown-divider borderColor"></div>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="deleteSessionData()"
                >
                  <img
                    src="assets/icons/Pie_Chart.svg"
                    width="16px"
                    height="16px"
                    class="img-fluid mr-3 session"
                    alt=""
                  />
                  <span>Delete Session Data</span>
                </a>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  [routerLink]="['/tv']"
                  (click)="logDropdownEvent('tvSignInClicked')"
                >
                  <i class="fas fa-tv font14 align-middle"></i>
                  <span>TV Sign in</span>
                </a>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="LogoutAlert(LogoutModal)"
                >
                  <img
                    src="assets/icons/Logout.svg"
                    class="img-fluid mr-3 logout"
                    alt=""
                  />
                  <span>Log out</span>
                </a>
                <a href="javascript:void(0)" class="dropdown-item btn disabled">
                  Version <span class="ml-1">{{ appVersion }}</span>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<ng-template #share let-d="dismiss">
  <div class="modal-content position-relative modalBorderGradient">
    <div class="modal-body modalBG">
      <a
        href="javascript:void(0)"
        class="position-absolute btn modalBG rounded-circle right-0 top-2"
        style="padding: 5px 10px"
        (click)="d('Cross click')"
      >
        <i class="fas fa-times-circle text-white" style="font-size: 20px"></i>
      </a>
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-11 col-sm-11 col-12 text-center mt-4">
          <img
            src="assets/img/refer/image 31.svg"
            class="img-fluid height180"
            alt=""
          />
          <p class="customWhite font800 mb-3 font24 mt-4">Refer a Friend</p>
          <p class="font16 font500 muteText mt-2 mb-0">
            Enjoy one month of Free OnePlay Subscription when you invite someone
          </p>
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="middleBorder82 my-3"></div>
            </div>
          </div>
          <share-buttons
            [url]="link"
            [include]="[
              'facebook',
              'twitter',
              'linkedin',
              'telegram',
              'whatsapp',
              'email',
              'copy'
            ]"
            theme="circles-dark"
            show="11"
          ></share-buttons>
          <div class="text-center mt-3">
            <u
              ><a
                href="javascript:void(0)"
                (click)="TermsConditions(TermsAndConditions)"
                class="font16 font500 offWhiteText"
                >T&C Applicable</a
              ></u
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #TermsAndConditions let-d="dismiss">
  <div class="modal-content position-relative modalBorderGradient">
    <div class="modal-body modalBG">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-10 col-11 text-center">
          <p class="font16 font500 offWhiteText mb-4">Terms and Conditions</p>
          <p class="font16 font500 muteText mt-4 mb-0">
            Offer is valid only when your friend successfully signs up OnePlay
            platform using your referral link.
          </p>
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="middleBorder82 my-4"></div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10 col-md-8 mt-2">
              <button
                (click)="d('Cross click')"
                class="btn btn-block linearGradient text-white font16 font500 borderRadius60 border-0 mb-4"
              >
                Okay
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
