<nav
  class="navbar navbar-expand-lg navbar-dark navbarBg xsborderBottom"
  id="navbar-main"
>
  <div
    class="container-fluid p-0"
    style="padding-left: 1% !important; padding-right: 2% !important"
  >
    <!-- Brand -->
    <a href="javascript:void(0)" class="navbar-brand" [routerLink]="['/home']">
      <img
        class="img-fluid w120"
        src="assets/img/brand/brandLogo.svg"
        alt=" "
      />
      <!-- <img
        class="img-fluid d-inline d-sm-none"
        width="70px"
        height="70px"
        src="assets/img/brand/Beta_Logo.webp"
        alt=" "
      /> -->
    </a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <!-- <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button> -->

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto pl-md-4 pl-lg-0 ml-auto">
        <li class="nav-item">
          <a
            href="javascript:void(0)"
            routerLinkActive="active"
            [routerLink]="['/home']"
            class="nav-link p-0 mt-2 pt-1 mr-4"
            (click)="isMenuCollapsed = true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href="javascript:void(0)"
            routerLinkActive="active"
            [routerLink]="['/store']"
            class="nav-link p-0 mt-2 pt-1 mr-4"
            (click)="isMenuCollapsed = true"
            >Games</a
          >
        </li>
        <li class="nav-item">
          <a
            href="javascript:void(0)"
            routerLinkActive="active"
            [routerLink]="['/streams']"
            class="nav-link p-0 mt-2 pt-1 mr-3"
            (click)="isMenuCollapsed = true"
            >Streams</a
          >
        </li>
        <li class="d-none d-lg-inline ml-2">
          <form
            class="navbar-search form-inline d-none d-md-flex mt-md-3 mt-lg-0 ml-lg-auto position-relative"
        >
            <div
              class="form-group mb-0"
              [ngClass]="{ focused: (isFocused | async) === true }"
            >
              <input
                #search
                class="form-control font18 font500 width200 border-0 modalBG"
                placeholder="Search"
                type="text"
                [formControl]="query"
                (focus)="onFocus()"
                (blur)="onBlur()"
                (click)="isMenuCollapsed = true"
                (keyup.enter)="results.length === 3 ? search.blur() : ''"
              />
              <span
                class="bgTransparent fixedIcon offWhiteColor font16 font500"
              >
                <a href="javascript:void(0)"
                  ><i class="fas fa-search text-white"></i
                ></a>
              </span>
            </div>
            <div
              *ngIf="results.length || uResults.length"
              class="position-absolute w-100 bg-dark list-group border-0"
              style="top: calc(100% + 8px); overflow: auto; max-height: calc(99vh - 79px);"
            >
              <div
                *ngFor="let game of results"
                class="row gameRowHover py-2 mx-1 searchListing"
                [routerLink]="['/view/' + (game | glink)]"
                [queryParams]="keywordQuery"
                style="cursor: pointer"
                (click)="isMenuCollapsed = true"
              >
                <div class="col-6 align-self-center">
                  <img
                    [src]="game.textBgImage"
                    (error)="onImgError($event)"
                    [ngStyle]="{
                      filter:
                        game.status === 'live' ? 'none' : 'grayscale(100%)'
                    }"
                    class="br6"
                    width="125"
                    height="80"
                    alt=""
                  />
                </div>
                <div class="col-6 align-self-center p-0">
                  <p class="font16 font500 offWhitecolor mb-0">
                    <span class=" truncate-line-clamp">{{ game.title }}</span>
                  </p>
                  <p class="font14 font500 mb-0 mutedTextColor">
                    {{ game.releaseDate.getFullYear() }}
                  </p>
                </div>
              </div>
              <div
                *ngIf="results.length === 3"
                class="text-center bg-dark p-3"
                (click)="isMenuCollapsed = true"
              >
                <button
                  class="btn btn-block activelinear text-white border-0 mt-2"
                  (click)="searchNavigate('games')"
                >
                  See more games
                </button>
              </div>
              <div
                *ngFor="let user of uResults"
                class="row bg-dark border-0 searchListing mx-1 py-2"
                (click)="isMenuCollapsed = true"
              >
                <div class="col-auto align-self-center">
                  <img
                    (error)="onUsersError($event, user)"
                    [src]="user.photo || (user.name | avatar)"
                    class="rounded-circle profileImgCover"
                    width="48"
                    height="48"
                    alt=""
                  />
                </div>
                <div class="col p-0 align-self-center text-truncate">
                  <div class="">
                    <p class="font16 font500 offWhitecolor mb-0">
                      {{ user.name }}
                    </p>
                  </div>
                  <p class="font14 font500 mb-0 mutedTextColor">
                    {{ user.username }}
                  </p>
                </div>
                <div class="col-auto align-self-center pr-0">
                  <button type="button" class="btn" (click)="addFriend(user)">
                    <i
                      class="fas {{ getFriendAddIcon(user) }} offWhitecolor"
                    ></i>
                  </button>
                </div>
              </div>
              <div
                *ngIf="uResults.length === 3"
                class="text-center bg-dark p-3"
              >
                <button
                  class="btn btn-block activelinear text-white border-0"
                  (click)="searchNavigate('users')"
                >
                  See more users
                </button>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <!-- User -->
    <ul class="navbar-nav pl-md-4 pl-lg-0 mt-md-3 mt-lg-0">
      <li class="nav-item">
        <div class="row">
          <div
            class="col-auto align-self-center pl-0 d-none d-lg-inline hideIcon"
          >
            <a
              href="javascript:void(0)"
              class="nav-link p-0"
              (click)="toggleFriendsList()"
            >
              <span class="avatar avatar-sm rounded-circle bg-gray-dark">
                <i class="fas fa-user-friends"></i>
              </span>
            </a>
          </div>
          <div
            class="col-auto align-self-center pl-0 d-none d-lg-inline hideIcon"
          >
            <a
              href="javascript:void(0)"
              class="nav-link p-0"
              [routerLink]="gameLink"
              ngbTooltip="{{ gamePlayTooltip }}"
            >
              <img
                *ngIf="isGameRunning && isUserLive"
                src="assets/img/Dashboard/Speedtest.svg"
                class="img-fluid"
                alt=""
                aria-hidden="true"
                width="36px"
                height="36px"
              />
              <span *ngIf="isGameRunning && isUserLive" id="live">LIVE</span>
              <img
                *ngIf="isGameRunning && !isUserLive"
                src="assets/img/Dashboard/resumeSpeedtest.svg"
                class="img-fluid"
                alt=""
                aria-hidden="true"
                width="36px"
                height="36px"
              />
              <img
                *ngIf="!isGameRunning"
                src="assets/img/Dashboard/inactiveGame.svg"
                class="img-fluid"
                alt=""
                aria-hidden="true"
                width="36px"
                height="36px"
              />
            </a>
          </div>
          <!-- notifications dropdown -->
          <!-- <div
            class="col-auto align-self-center p-1"
            ngbDropdown
            placement="bottom-rigth"
          >
            <a
              href="javascript:void(0)"
              class="nav-link pr-0 mt-2"
              role="button"
              ngbDropdownToggle
            >
              <button class="btn text-white p-0">
                <i class="fas fa-bell font20 mr-0"></i>
                <span
                  class="badge badge-danger ml-0 notificationBadge text-white pl-2 pr-2"
                  >9+</span
                >
              </button>
            </a>
            <div
              class="dropdown-menu-arrow menudropdown dropdown-menu-right"
              ngbDropdownMenu
            >
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0 text-white">Notifications</h6>
              </div>
              <div class="dropdown-divider borderColor"></div>
              <a
                href="javascript:void(0)"
                *ngFor="let notification of notifications"
                class="dropdown-item"
                [routerLink]="['/view/' + (notification.game | glink)]"
              >
                <div class="notification-content"></div>
              </a>
            </div>
          </div> -->
          <div
            class="col-auto align-self-center pr-3 pl-0"
            ngbDropdown
            placement="bottom-right"
          >
            <a
              href="javascript:void(0)"
              class="nav-link p-0"
              role="button"
              ngbDropdownToggle
            >
              <img
                alt=""
                width="36px"
                height="36px"
                class="rounded-circle profileImgCover"
                [src]="photo || (title | avatar)"
                (error)="onUserError($event)"
              />
            </a>
            <div class="dropdown-bug">
              <div
                class="dropdown-menu-arrow menudropdown dropdown-menu-right"
                ngbDropdownMenu
              >
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0 text-white">{{ title }}</h6>
                </div>
                <a
                  href="javascript:void(0)"
                  routerLinkActive="active"
                  [routerLink]="['wishlist']"
                  class="dropdown-item"
                >
                  <i class="ni ni-favourite-28 font14 align-middle"></i>
                  <span class="align-middle">My Library</span>
                </a>
                <a [href]="domain + '/subscription.html'" class="dropdown-item">
                  <i class="ni ni-credit-card font14 align-middle"></i>
                  <span class="align-middle">Subscription</span>
                </a>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="open(share)"
                >
                  <i class="fa fa-user-plus font14 align-middle" aria-hidden="true"></i>
                  <span class="align-middle">Refer</span>
                </a>
                <a [href]="domain + '/speed-test/run'" class="dropdown-item">
                  <i class="fas fa-tachometer-alt font14 align-middle"></i>
                  <span class="align-middle">Speed Test</span>
                </a>

                <div class="dropdown-divider borderColor"></div>
                <a
                  [href]="domain + '/download.html'"
                  class="dropdown-item d-none d-sm-inline"
                >
                  <i class="ni ni-cloud-download-95 font14 align-middle"></i>
                  <span class="align-middle">Downloads</span>
                </a>
                <a
                  href="javascript:void(0)"
                  routerLinkActive="active"
                  [routerLink]="['settings', 'profile']"
                  class="dropdown-item"
                >
                  <i class="ni ni-settings font14 align-middle"></i>
                  <span class="align-middle">Settings</span>
                </a>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="switchSearchPrivacy()"
                >
                  <svg width="16" height="16" viewBox="0 0 20 20">
                    <path class="navbarSvg" fill-rule="evenodd" clip-rule="evenodd" d="M1.46744 10.4868L1.19145 6.071C1.07828 4.26044 2.19774 2.60041 3.91875 2.02675L9.05081 0.316059C9.66661 0.110792 10.3324 0.110793 10.9482 0.31606L16.0803 2.02675C17.8013 2.60042 18.9207 4.26043 18.8076 6.07099L18.5316 10.4867C18.5102 10.8286 18.4727 11.1691 18.3793 11.4986C18.1029 12.474 17.2624 14.7369 14.9995 16.9998C11.9995 19.9998 9.99949 19.9998 9.99949 19.9998C9.99949 19.9998 7.99949 19.9998 4.99949 16.9998C2.73654 14.7369 1.89608 12.4739 1.6197 11.4986C1.52633 11.1691 1.48881 10.8286 1.46744 10.4868ZM12.9995 7.99983C12.9995 9.30605 12.1647 10.4173 10.9995 10.8291V12.9998C10.9995 13.5521 10.5518 13.9998 9.99949 13.9998C9.44721 13.9998 8.99949 13.5521 8.99949 12.9998V10.8291C7.8343 10.4173 6.99949 9.30605 6.99949 7.99983C6.99949 6.34298 8.34264 4.99983 9.99949 4.99983C11.6563 4.99983 12.9995 6.34298 12.9995 7.99983Z" />
                  </svg>
                  <span>Turn {{ isPrivate ? "off" : "on" }} privacy</span>
                </a>
                <div class="dropdown-divider borderColor"></div>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="deleteSessionData()"
                >
                  <svg width="16" height="16" viewBox="0 0 20 20">
                    <path d="M19.8878 5.8002C18.8242 4.01359 17.3102 2.53755 15.4972 1.5197C13.6841 0.501858 11.6356 -0.0221133 9.55651 0.000195444H9.37526C9.25302 0.000955172 9.13242 0.0284682 9.02194 0.0808023C8.91146 0.133136 8.81377 0.209023 8.73575 0.303132C8.65772 0.397241 8.60124 0.507291 8.57028 0.625554C8.53931 0.743816 8.53462 0.867424 8.55651 0.987695L10.0878 8.9502C10.1124 9.06657 10.1614 9.17641 10.2315 9.27252C10.3016 9.36862 10.3913 9.44881 10.4946 9.50783C10.5978 9.56685 10.7124 9.60336 10.8308 9.61497C10.9492 9.62658 11.0687 9.61303 11.1815 9.5752L19.4003 7.0002C19.5193 6.96446 19.6288 6.9025 19.7207 6.81886C19.8126 6.73523 19.8846 6.63205 19.9313 6.51692C19.9781 6.4018 19.9985 6.27765 19.9909 6.15361C19.9834 6.02957 19.9481 5.90881 19.8878 5.8002Z" />
                    <path d="M17.9688 9.4937L9.6875 12.0875C9.57508 12.1232 9.45643 12.1352 9.33912 12.1227C9.2218 12.1101 9.10839 12.0733 9.00609 12.0145C8.9038 11.9557 8.81487 11.8762 8.74495 11.7812C8.67504 11.6862 8.62567 11.5776 8.6 11.4625L7.04375 3.34995C7.01881 3.2271 6.96719 3.11121 6.89255 3.0105C6.81791 2.90978 6.72206 2.82668 6.61178 2.76706C6.5015 2.70745 6.37947 2.67278 6.25432 2.66551C6.12917 2.65823 6.00395 2.67852 5.8875 2.72495C4.18328 3.35095 2.70861 4.47841 1.65767 5.95887C0.606732 7.43934 0.0288085 9.20337 0 11.0187C0 15.9812 4.275 20 9.55625 20C14.8375 20 19.1125 15.9812 19.1125 11.0187C19.1125 10.7437 19.1125 10.4687 19.0688 10.1937C19.0537 10.0699 19.0114 9.95104 18.9449 9.84558C18.8784 9.74012 18.7894 9.6507 18.6842 9.58376C18.579 9.51683 18.4603 9.47403 18.3366 9.45846C18.2129 9.44289 18.0872 9.45492 17.9688 9.4937Z" />
                  </svg>
                  <span>Delete Session Data</span>
                </a>
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  (click)="LogoutAlert(LogoutModal)"
                >
                  <svg width="16" height="22" viewBox="0 0 20 22">
                    <g clip-path="url(#clip0_1984_1296)">
                    <path d="M12.2213 13.3829V15.6175C12.2213 16.0269 11.984 16.1255 11.6953 15.8354L7.39136 11.5259C7.10267 11.2358 7.10267 10.7625 7.39136 10.4724L11.6953 6.16432C11.984 5.87424 12.2213 5.97278 12.2213 6.38222V8.61678C12.2213 9.02622 12.5558 9.36209 12.9653 9.36209H19.9243C19.1429 4.61678 15.0291 0.99707 10.0673 0.99707C4.54889 0.99707 0.0742188 5.4759 0.0742188 10.9998C0.0742188 16.5238 4.54889 21.0026 10.0673 21.0026C15.0291 21.0026 19.1429 17.3829 19.9243 12.6376H12.9653C12.5558 12.6376 12.2213 12.9735 12.2213 13.3829Z"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1984_1296">
                    <rect width="20" height="20.0056" fill="white" transform="translate(0 0.99707)"/>
                    </clipPath>
                    </defs>
                  </svg>                
                  <span>Log out</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<ng-template #share let-d="dismiss">
  <div class="modal-content position-relative modalBorderGradient">
    <div class="modal-body modalBG">
      <a
        href="javascript:void(0)"
        class="position-absolute btn modalBG rounded-circle right-0 top-2"
        style="padding: 5px 10px"
        (click)="d('Cross click')"
      >
        <i class="fas fa-times-circle text-white" style="font-size: 20px"></i>
      </a>
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-11 col-sm-11 col-12 text-center mt-4">
          <img src="assets/img/refer/image 31.svg" class="img-fluid" alt="" />
          <p class="customWhite font800 mb-3 font24 mt-4">Refer a Friend</p>
          <p class="font16 font500 muteText mt-4 mb-0">
            Enjoy one month of Free OnePlay Subscription when you invite someone
          </p>
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="middleBorder82 my-4"></div>
            </div>
          </div>
          <share-buttons
            [url]="link"
            [include]="[
              'facebook',
              'twitter',
              'linkedin',
              'telegram',
              'whatsapp',
              'email',
              'copy'
            ]"
            theme="circles-dark"
            show="11"
          ></share-buttons>
          <div class="text-center mt-4">
            <u
              ><a
                href="javascript:void(0)"
                (click)="TermsConditions(TermsAndConditions)"
                class="font16 font500 offWhiteText"
                >T&C Applicable</a
              ></u
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #TermsAndConditions let-d="dismiss">
  <div class="modal-content position-relative modalBorderGradient">
    <div class="modal-body modalBG">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-10 col-11 text-center">
          <p class="font16 font500 offWhiteText mb-4">Terms and Conditions</p>
          <p class="font16 font500 muteText mt-4 mb-0">
            Offer is valid only when your friend successfully signs up OnePlay
            platform using your referral link.
          </p>
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="middleBorder82 my-4"></div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10 col-md-8 mt-2">
              <button
                (click)="d('Cross click')"
                class="btn btn-block linearGradient text-white font16 font500 borderRadius60 border-0 mb-4"
              >
                Okay
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #LogoutModal let-d="dismiss">
  <div class="modal-content position-relative modalBG">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-9 text-center">
          <img src="assets/img/Logout.svg" width="40" class="img-fluid py-4" alt="" />
          <p class="font16 font500 offWhiteText pb-3">Do you want to Logout?</p>
          <button
            (click)="logout()"
            class="btn btn-block linearGradient text-white font16 font500 borderRadius60 border-0 my-3"
          >
            Yes
          </button>
          <button
            (click)="d('Cross click')"
            class="btn btn-block text-white font16 font500 borderRadius60 border-0"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>