<div class="container-fluid fontFamilyPoppins bodyBg">
  <div class="row justify-content-center">
    <div class="col-lg-7 desktopView d-none d-lg-block">
      <app-auth-navbar></app-auth-navbar>
    </div>
    <div class="col-lg-5">
      <div class="d-block d-lg-none">
        <div class="text-center fixed-top bodyBg">
          <a [href]="domain">
            <img
              src="assets/img/brand/oneplay-logo.svg"
              class="img-fluid mt-3 mb-0"
              width="130px"
              alt="logo"
            />
          </a>
        </div>
      </div>
      <div class="row justify-content-center height100vh py-4 position-relative">
        <div class="col-auto width520 mt-auto">
          <div class="row justify-content-center">
            <div class="col-auto routing-container">
              <router-outlet></router-outlet>
            </div>
            <!-- <div class="col-auto d-block d-lg-none d-md-none d-sm-none">
              <div class="text-center">
                <div class="col-12">
                  <hr class="mt-2 mb-4 borderBottom" />
                  <span class="offWhiteColor font16 font500"
                    >Need help?<span class="purpleGradient"
                      ><a
                        [href]="domain + '/FAQs.html'"
                        target="_blank"
                      >
                        Browse FAQ</a
                      ></span
                    ></span
                  >
                </div>
                <div class="col-12 my-2">
                  <p class="font14 font500 footerWhiteColor mb-0">
                    © 2023 RainBox Media Pvt Ltd.
                  </p>
                  <p class="font14 font500 footerWhiteColor mb-0">
                    All Rights Reserved.
                  </p>
                  <p class="font14 font500 purpleGradient">
                    <a
                      [href]="domain + '/privacy.html'"
                      target="_blank"
                      class="anchor"
                      >Privacy Policy</a
                    >
                    <span class="footerWhiteColor ml-1 mr-1">.</span>
                    <a
                      [href]="domain + '/tnc.html'"
                      target="_blank"
                      class="anchor"
                      >Terms & Conditions</a
                    >
                  </p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <p class="font18 font500 offWhiteColor position-relative bottom-0 footer-link"  [style.bottom]="seriousNotificationPresent ? '-30px !important' : ''">
          By continuing you agree to Oneplay's
          <span class="purpleGradient"><a [href]="domain + '/tnc.html'" target="_blank" class="anchor text-underline">Terms & Conditions</a></span>
          and
          <span class="purpleGradient"><a [href]="domain + '/privacy.html'" target="_blank" class="anchor text-underline">Privacy Policy</a></span>
        </p>
      </div>
    </div>
  </div>
</div>
