@media (max-width: 768px) {
  .desktopView {
    display: none;
  }
}

.bodyBg {
  background-color: #151515;
}

.height100vh {
  height: 100vh;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.width450 {
  width: 450px !important;
}

.borderBottom {
  border-bottom: 1px solid #3e4246;
}

.offWhiteColor {
  color: #959595 !important;
}

.offWhiteColor:hover {
  color: #959595 !important;
}

.purpleGradient {
  background: linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footerWhiteColor {
  color: #e1e1e1;
}
