@media (max-width: 768px) {
  .desktopView {
    display: none;
  }
}

.bodyBg {
  background-color: #151617;
  overflow: hidden;
  position: relative;
}

.height100vh {
  height: calc(100vh - 35px);
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none;
  
  @media (max-width: 475px) {
    padding-top: 0px !important;
    align-items: unset !important;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.width520 {
  width: 500px !important;
  @media (max-width: 1370px) {
    width: 400px !important;
  }
  @media (max-width: 1920px) {
    width: 520px !important;
  }
  @media (min-width: 475px) and (max-width: 1200px)  {
    width: 520px !important;
    position: relative;
    top: -60px;
  }
  @media (max-width: 430px) {
    width: 320px !important;
  }
}

.routing-container {
  @media (max-width: 475px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.borderBottom {
  border-bottom: 1px solid #3e4246;
}

.offWhiteColor {
  color: #959595 !important;
}

.offWhiteColor:hover {
  color: #959595 !important;
}

.purpleGradient {
  background: linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footerWhiteColor {
  color: #e1e1e1;
}

.footer-link {
  color: #959595 !important;
  padding: 15px;
  line-height: 30px;
  text-align: center;
  margin-top: auto;
   @media screen and (min-width: 1200px) {
      position: absolute !important;
      bottom: -30px;
   }
}