
  
.customBtnBg {
  background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
}

.customOffWhite {
  color: #959595;
}

.increateZIndex {
  z-index: 5;
}

.borderRadius60 {
  border-radius: 60px;
}

.modalHeading {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #DCDCDC;
  letter-spacing: 0.02em;
  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.borderBottomColor {
  border-bottom: 1px solid #3E4246;
}

.bordertopColor {
  border-top: 1px solid #3E4246;
}

.font700 {
  font-weight: 700;
}

.font16 {
  font-size: 16px;
  line-height: 26px;
}

.font500 {
  font-weight: 500;
}

.customColor a {
  background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.customColor {
  color: #959595;
}

.modalBG {
  background-color: #212123;
}

.form-check input[type=checkbox] {
  accent-color: #959595;
}

.display-hide {
  display: none;
}

@media (max-width: 500px) {
  .navbar-search .form-control {
    width: 186px !important;
  }
}

@media (max-width: 991px) {
  .textCenterMobile {
    text-align: center !important;
  }
}

.hoverdisabled:hover {
  background-color: transparent;
  color: #ffffff;
}

.font18 {
  font-size: 18px;
  line-height: 20px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }
}