<ng-template #onboardingUserModal let-d="dismiss">
  <div class="modal-body modalBG customOffWhite pt-0">
    <div class="row customOffWhite borderBottomColor py-3">
      <div class="col-md-12 text-center">
        <h2 class="modalHeading mb-0">Before you start</h2>
      </div>
    </div>
    <div class="row">
      <div class="col align-self-center">
        <div class="row justify-content-center">
          <div class="col-md-10 col-8 mt-4 text-center">
            <img
              src="assets/img/onboarding-img/Group 294.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 d-inline d-sm-none">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12 col-11">
            <div class="mt-5 text-center">
              <h4 class="text-center font700 customOffWhite">Step 1</h4>
              <p class="font16 font500 customColor">
                You need to have 3rd party login in order to use OnePlay
                Services.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col align-self-center">
        <div class="row justify-content-center">
          <div class="col-md-10 col-8 mt-4 text-center">
            <img
              src="assets/img/onboarding-img/image 3.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col align-self-center tabScreen">
        <div class="row justify-content-center">
          <div class="col-md-10 col-8 mt-4 text-center">
            <img
              src="assets/img/onboarding-img/image 1.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-none d-sm-inline">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-11 col-11">
            <div class="mt-5 text-center">
              <h4 class="text-center font700 customOffWhite">Step 1</h4>
              <p class="font16 font500 customColor">
                You need to have 3rd party login in order to use OnePlay
                Services.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12 col-11">
            <div class="mt-5 text-center">
              <h4 class="text-center font700 customOffWhite">Step 2</h4>
              <p class="font16 font500 customColor">
                You’ve to own the games you are trying to play on those 3rd
                party applications.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col tabScreen">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-11 col-11">
            <div class="mt-5 text-center">
              <h4 class="text-center font700 customOffWhite">Step 3</h4>
              <p class="font16 font500 customColor">
                Install OnePlay Client 
                <a [href]="domain + '/download.html'" target="_blank" class="text-white pl-1 pr-1"><u>here</u></a>. 
                Skip if already downloaded.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bordertopColor">
      <div class="col-lg-7 col-md-6 col-12 col-12 mt-3 textCenterMobile pr-0 align-self-center">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="checked"
            id="inlineCheckbox1"
            value=""
          />
          <label
            class="form-check-label font16 font500 customColor ml-1"
            for="inlineCheckbox1"
          >
            <span class="d-none d-lg-inline-block">I understand and agree to these steps.</span>
            <span class="d-block d-lg-none">I agree to these steps.</span>
          </label
          >
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-12 col-12 mt-3 textCenterMobile text-right">
        <button
          class="btn text-white customBtnBg borderRadius60 border-0"
          [disabled]="!checked"
          (click)="closeonboardingGame()"
        >
          Agree & Continue
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #selectGameModal let-d="dismiss">
  <div class="modal-header d-inline py-2">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 align-self-center">
        <h2 class="text-white mb-0">Select The Games</h2>
      </div>
      <div class="col-lg-6 col-md-12 mt-2 mt-lg-0 navbar-search">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative border-0 bg-darker">
            <input
              class="form-control"
              placeholder="Search Games"
              type="text"
              [formControl]="query"
              (keyup)="onSearch()"
            />
            <div class="input-group-prepend">
              <a
                href="javascript:void(0)"
                class="input-group-text"
                (click)="onSearch()"
                ><i class="fas fa-search"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body py-0 height50vh">
    <div
      class="row"
      infinite-scroll
      [infiniteScrollDistance]="5"
      [infiniteScrollThrottle]="200"
      (scrolled)="onScroll()"
    >
      <div *ngFor="let game of orderedGames" class="col-lg-3 col-md-4 col-sm-4 col-6 my-2 px-2">
        <div class="card bg-dark border-0 text-white">
          <app-select-game-card [game]="game" (selectClick)="checkedValue(game)" [isChecked]="isChecked(game)"></app-select-game-card>
        </div>
      </div>
      <div
        *ngIf="games.length === 0"
        class="col-12 font16 font500 offWhitecolor mx-3 py-2 text-center"
      >
        Sorry, No Results Found!
        <p class="mb-0 font14 font500 mutedTextColor">Please try different keywords.</p>
      </div>
      <div class="position-relative col-12">
        <ngx-ui-loader
          [fgsColor]="'#c32ead'"
          [loaderId]="'scroll'"
          [hasProgressBar]="false"
          logoSize = 120
        ></ngx-ui-loader>
      </div>
    </div>
  </div>
  <div class="modal-footer py-2">
    <button
      type="submit"
      class="btn customBtnBg border-left-0 border-right-0 border-top-0 text-white"
      [disabled]="selectedGames.length < 1 && wishlist.length < 1"
      (click)="closeSelectGame()"
    >
      Done
    </button>
  </div>
</ng-template>