<h1 class="text-white text-center">Enter Security Code</h1>
<div>
    <p class="mutedTextColor font500 mb-0 text-center">A security code has been sent to your mobile number</p>
    <div class="row">
        <div class="col-12 my-3">
            <!-- <span class="font16 font500 errorGradientColor float-right">*invalid
                OTP</span> -->
            <form [formControl]="codeForm">
                <div class="row justify-content-center">
                    <div class="col-auto p-1 otpInput" *ngFor="let input of formInput; index as i">
                        <input #formRow type="text" class="form-control w70h61 p-1" maxlength="1"
                            (input)="jump($event, i)" (keydown)="jumpPrev($event, i)" />
                    </div>
                </div>
            </form>

        </div>
        <div class="col text-center align-self-center">
            <p class="font16 font500 mb-0 darkGrey">Didn't Receive code? <span class="offWhiteText"
                    (click)="resendOTP()">Resend in : {{
                    display
                    }} </span>
            </p>
        </div>
        <div class="col-12 mt-4">
            <button type="button"
                class="btn btn-block linearGradient border-0 borderRadius10 font16 font500 text-white">
                Verify
            </button>
        </div>
    </div>
</div>