<div class="container-fluid">
    <div class="row justify-content-center h100">
        <div class="col-11 col-sm-9 col-md-6 col-lg-4 py-4">
            <div class="card lightBg border-0">
                <div class="card-header lightBg borderColor">
                    <p class="mb-0 text-white font500 font18 text-center">SETUP ONEPLAY TO PLAY</p>
                </div>
                <div class="card-body py-3">
                    <div class="row">
                        <div class="col-auto align-self-center">
                            <i class="fas fa-external-link-alt offWhiteText font28"></i>
                        </div>
                        <div class="col font16 pl-1">
                            <p class="gradientInfoText font500 mb-0">Step 1:</p>
                            <p class="offWhiteText mb-0">Tap to 'share' button on the tool bar</p>
                        </div>
                    </div>
                    <hr class="borderColor my-3"/>
                    <div class="row">
                        <div class="col-auto align-self-center">
                            <i class="fas fa-plus-square offWhiteText font28"></i>
                        </div>
                        <div class="col pl-1">
                            <p class="gradientInfoText font500 mb-0">Step 2:</p>
                            <p class="offWhiteText mb-0">Swipe up and select 'Add to Home Screen' from the menu</p>
                            <span class="offWhiteText font14 mb-0">Having trouble? <a [href]="domain + '/contact.html'" class="gradientInfoText">Get Help</a></span>
                        </div>
                    </div>
                    <hr class="borderColor my-3"/>
                    <div class="row pb-3 mb-3 borderBottomTab">
                        <div class="col-auto align-self-center pr-1">
                            <img
                                src="assets/img/brand/favicon.png"
                                class="img-fluid"
                                alt="logo"
                                width="30px"
                            />
                        </div>
                        <div class="col">
                            <p class="gradientInfoText font500 mb-0">Step 3:</p>
                            <p class="offWhiteText mb-0">Launch Oneplay from your home screen</p>
                        </div>
                    </div>
                    <p class="mb-0 text-center"><small class="offWhiteText">Have questions? Read <a [href]="domain + '/FAQs.html'" class="gradientInfoText">FAQs</a></small></p>
                </div>
            </div>
        </div>
    </div>
</div>
