.h100 {
    height: calc(100vh - 180px);
    align-items: center;
    overflow-y: scroll;
    @media (max-width: 1200px) {
        height: calc(100vh - 80px);
    }
}

.h100::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}