<div class="container-fluid pt-7">
  <div class="row container-fluid">
    <div class="col-3 d-none d-md-block">
      <a
        class="card bg-dark mb-3"
        *ngFor="let route of commonRoutes"
        [routerLink]="['/store/' + route]"
      >
        <div class="p-3 text-white">{{ route }}</div>
      </a>
      <h3 class="text-white-50 my-4 px-3">Filter By Stores</h3>
      <a
        class="card bg-dark mb-3"
        *ngFor="let route of storeRoutes"
        [routerLink]="['/store/' + route]"
      >
        <div class="p-3 text-white">{{ route }}</div>
      </a>
      <h3 class="text-white-50 my-4 px-3">Filter By Genres</h3>
      <a
        class="card bg-dark mb-3"
        *ngFor="let route of genreRoutes"
        [routerLink]="['/store/' + route]"
      >
        <div class="p-3 text-white">{{ route }}</div>
      </a>
      <h3 class="text-white-50 my-4 px-3">Filter By Developers</h3>
      <a
        class="card bg-dark mb-3"
        *ngFor="let route of developerRoutes"
        [routerLink]="['/store/' + route]"
      >
        <div class="p-3 text-white">{{ route }}</div>
      </a>
      <h3 class="text-white-50 my-4 px-3">Filter By Publishers</h3>
      <a
        class="card bg-dark mb-3"
        *ngFor="let route of publisherRoutes"
        [routerLink]="['/store/' + route]"
      >
        <div class="p-3 text-white">{{ route }}</div>
      </a>
    </div>

    <div class="col-12 d-flex overflow-auto py-3 d-md-none">
      <a
        class="btn btn-outline-light btn-sm mr-2"
        *ngFor="let route of routes"
        [routerLink]="['/store/' + route]"
        style="white-space: nowrap"
        >{{ route }}</a
      >
    </div>

    <div class="col-12 col-md-9">
      <div class="d-flex justify-content-between">
        <h1 class="text-white">{{ heading }}</h1>

        <!-- <div class="row text-white-50 align-items-center">
          <div class="col">Sort by</div>
          <div class="col" ngbDropdown>
            <button class="btn btn-outline-white btn-icon" ngbDropdownToggle>
              <span class="text-sm">Popularity </span>
              <i class="ni ni-bold-down"></i>
            </button>
            <div ngbDropdownMenu>
              <a ngbDropdownItem>Action</a>
              <a ngbDropdownItem>Another action</a>
              <a ngbDropdownItem>Something else here</a>
            </div>
          </div>
        </div> -->
      </div>

      <div
        class="py-5 row"
        infinite-scroll
        [infiniteScrollDistance]="5"
        [infiniteScrollThrottle]="200"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let game of games" class="col-6 col-lg-4 mb-4">
          <div class="zoom">
            <app-game-card [game]="game"></app-game-card>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <ngx-ui-loader
          [fgsColor]="'#c32ead'"
          [loaderId]="'scroll'"
          [hasProgressBar]="false"
        ></ngx-ui-loader>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
