<div class="container-fluid pt-8">
  <div class="row container-fluid">
    <div class="col-12 col-md-3">
      <a [routerLink]="['/store']" class="card bg-dark">
        <div class="p-3 text-white">Show all games</div>
      </a>
      <h3 class="text-white mt-4">Best</h3>
      <a [routerLink]="['/store/Best 0f 2021']" class="card bg-dark mb-3">
        <div class="p-3 text-white">Best 0f 2021</div>
      </a>
      <a [routerLink]="['/store/Best of 2020']" class="card bg-dark mb-3">
        <div class="p-3 text-white">Best of 2020</div>
      </a>
      <a [routerLink]="['/store/Top 100']" class="card bg-dark">
        <div class="p-3 text-white">Top 100</div>
      </a>
      <h3 class="text-white mt-4">New Releases</h3>
      <a [routerLink]="['/store/Last 30 days']" class="card bg-dark mb-3">
        <div class="p-3 text-white">Last 30 days</div>
      </a>
      <a [routerLink]="['/store/Last week']" class="card bg-dark mb-3">
        <div class="p-3 text-white">Last week</div>
      </a>
      <a [routerLink]="['/store/Next week']" class="card bg-dark">
        <div class="p-3 text-white">Next week</div>
      </a>
    </div>

    <div class="col-12 col-md-9">
      <div class="d-flex justify-content-between">
        <h1 class="text-white">{{heading}}</h1>

        <div class="row text-white-50 align-items-center">
          <div class="col">Sort by</div>
          <div class="col" ngbDropdown>
            <button class="btn btn-outline-white btn-icon" ngbDropdownToggle>
              <span class="text-sm">Popularity </span>
              <i class="ni ni-bold-down"></i>
            </button>
            <div ngbDropdownMenu>
              <a ngbDropdownItem>Action</a>
              <a ngbDropdownItem>Another action</a>
              <a ngbDropdownItem>Something else here</a>
            </div>
          </div>
        </div>
      </div>

      <div class="py-5 row">
        <div
          *ngFor="let game of games"
          class="col-sm-12 col-md-6 col-lg-4 mb-4"
        >
          <a
            [routerLink]="['/view/' + (game | glink)]"
            class="card card-block border-0"
          >
            <video
              #video
              class="mask"
              style="border-radius: 4px; height: 100%; object-fit: cover"
            >
              <source [src]="game.video" />
            </video>
            <img
              #image
              class="card-img"
              style="z-index: 1"
              [src]="game | gameAsset: 'textBgImage'"
              height="170"
              alt=""
            />
            <div
              class="mask"
              style="z-index: 2"
              (mouseover)="playVideo(video, image, game)"
              (mouseout)="pauseVideo(video, image, game)"
            ></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
