<div class="container-fluid max-width1500">
  <div class="row mt-2">
    <div class="col-lg-3 d-none d-lg-block">
      <h3 class="tabHeading">Games</h3>
      <div class="row">
        <div class="col-auto pr-0">
          <a
            href="javascript:void(0)"
            class="card bg-dark bgColor mb-3 mutedColor"
            [ngClass]="{activeBG: !genreSelected}"
            [routerLink]="['/store/']"
          >
            <div class="bgColor customPaddign">All Games</div>
          </a>
        </div>
        <div class="col-auto pr-0" *ngFor="let route of commonRoutes">
          <a
            href="javascript:void(0)"
            class="card bg-dark bgColor mb-3 mutedColor"
            routerLinkActive="activeBG"
            [routerLink]="['/store/' + route]"
          >
            <div class="customPaddign bgColor">{{ route }}</div>
          </a>
        </div>
      </div>
      
      <h3 class="tabHeading">Stores</h3>
      <div class="row">
        <div class="col-auto pr-0" *ngFor="let route of storeRoutes">
          <a
            href="javascript:void(0)"
            class="card bg-dark bgColor mb-3 mutedColor"
            routerLinkActive="activeBG"
            [routerLink]="['/store/' + route]"
          >
            <div class="customPaddign bgColor">{{ route }}</div>
          </a>
        </div>
      </div>
      
      <h3 class="tabHeading">Top Genres</h3>
      <div class="row">
        <div class="col-auto pr-0" *ngFor="let route of genreRoutes">
          <a
            href="javascript:void(0)"
            class="card bg-dark bgColor mb-3 mutedColor"
            routerLinkActive="activeBG"
            [routerLink]="['/store/' + route]"
          >
            <div class="customPaddign bgColor">{{ route }}</div>
          </a>
        </div>
      </div>
      
      <h3 class="tabHeading">Top Developers</h3>
      <div class="row">
        <div class="col-auto pr-0" *ngFor="let route of developerRoutes">
          <a
            href="javascript:void(0)"
            class="card bg-dark bgColor mb-3 mutedColor"
            routerLinkActive="activeBG"
            [routerLink]="['/store/' + route]"
          >
            <div class="customPaddign bgColor">{{ route }}</div>
          </a>
        </div>
      </div>
      
      <h3 class="tabHeading">Top Publishers</h3>
      <div class="row">
        <div class="col-auto pr-0" *ngFor="let route of publisherRoutes">
          <a
            href="javascript:void(0)"
            class="card bg-dark bgColor mb-3 mutedColor"
            routerLinkActive="activeBG"
            [routerLink]="['/store/' + route]"
          >
            <div class="customPaddign bgColor">{{ route }}</div>
          </a>
        </div>
      </div>
      
    </div>

    <div class="col-12 d-lg-none pt-4 pt-md-2">
      <div class="row scrollGame">
        <div class="col-auto pr-0 gameCard">
          <a
            href="javascript:void(0)"
            class="card bgColor mb-3 mutedColor"
            [ngClass]="{activeBG: !genreSelected}"
            [routerLink]="['/store/']"
          >
            <div class="px-3 py-2 bgColor">All Games</div>
          </a>
        </div>
        <div class="col-auto pr-0 gameCard pr-0" *ngFor="let route of routes">
          <a
            href="javascript:void(0)"
            class="card bgColor mb-3 mutedColor"
            routerLinkActive="activeBG"
            
            [routerLink]="['/store/' + route]"
            style="white-space: nowrap"
            >
            <div class="px-3 py-2 bgColor">{{ route }}</div>
            </a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <h3 class="font700 font28 text-white">{{ heading }}</h3>
      <div
        class="pt-2 row"
        infinite-scroll
        [infiniteScrollDistance]="5"
        [infiniteScrollThrottle]="200"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let game of games" class="col-6 col-sm-4 col-md-4 col-lg-4 mb-3 px-2">
          <div class="zoom">
            <app-game-card [game]="game"></app-game-card>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <ngx-ui-loader
          [fgsColor]="'#c32ead'"
          [loaderId]="'scroll'"
          [hasProgressBar]="false"
        ></ngx-ui-loader>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
