<section [ngClass]="{'mt-4': isInstallAndPlayList && calledFrom.includes('STORE')}" style="position: relative;">
    <div class="d-flex text-center position-absolute freeToPlayTab w-100" style="z-index: 1; top: -12px"
        *ngIf="calledFrom !== 'STORE_OTHER' && calledFrom !== 'LIBRARY'">
        <span *ngIf="game.isFree && game.status !== 'coming_soon'" class="freeTag px-2 tagText text-white">
            FREE ON <img src='assets/img/store/store.svg' class="freeOnStoreIcon" alt="store" /></span>
    </div>
    <a href="javascript:void(0)" class="card card-block border-0 shadow-1 position-relative h-100 overflow-hidden"
        (click)="onGameClick()"
        [ngClass]="{'adjustHeight': calledFrom=='HOME'}">

        <img [src]="game.installPlayRailImg" height="100%" width="100%" alt="">
        <div class="h-100 w-100 d-flex flex-column justify-content-between p-2 position-absolute mainContainer">

            <h4 class="game-title w-100 text-wrap truncate-line-clamp"
                >{{ game.title }}</h4>
            <div class="d-flex align-items-center justify-content-between" *ngIf="!calledFrom.includes('LIBRARY')">
                <div class="d-flex flex-column w-100">
                    <span style="color: #DCDCDC" class="developerListDesktop">
                        {{ game.developer | trimBySeperator }}
                    </span>
                    <div class="w-100 d-flex align-items-end justify-content-between store-list">
                        <div class="mt-1" *ngIf="calledFrom !== 'STORE_OTHER'">
                            <ng-container *ngFor="let store of game.storesMapping">
                                <img [src]="store.store_image" height="20" width="20" alt=""
                                    (error)="onImgError($event)" class="mr-1">
                            </ng-container>
                        </div>
                        <div class="d-flex h-100 flex-column justify-content-end secondaryTagOne">
                            <span *ngIf="game.isFree && game.status !== 'coming_soon'; else showSecondaryTags"
                                class="freeTag px-2 tagText text-white freeToPlayDesktop">
                                FREE ON <img src='assets/img/store/store.svg' class="freeOnStoreIcon"
                                    alt="store" /></span>
                            <span class="freeToPlayTab">
                                <img src='assets/img/store/store.svg' class="freeOnStoreIcon" alt="store" />
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </a>
    <div class="" *ngIf="!(game.isFree && game.status !== 'coming_soon'); else showSecondaryTags"></div>
    <div class="developerListTab mt-2" *ngIf="isInstallAndPlayList || calledFrom === 'HOME'">
        <span style="color: #DCDCDC">
            {{ game.developer | trimBySeperator }}
        </span>
    </div>
</section>

<ng-template #showSecondaryTags>
    <div class="secondaryTags d-flex justify-content-end mt-1 position-absolute" *ngIf="calledFrom != 'STORE_OTHER' && calledFrom != 'LIBRARY'">
        <div *ngIf="game.status === 'coming_soon' || game.status === 'upcoming'">
            <span class="redGradient px-2 tagText text-white">COMING SOON</span>
        </div>
        <div *ngIf="game.status === 'maintenance'">
            <span class="orangeGradientBg px-2 tagText text-white">MAINTENANCE</span>
        </div>
        <div *ngIf="game.status === 'updating'" class="col-auto bottomTag"><span
                class="updatingGradient px-2 tagText text-white">UPDATING</span></div>
        <div *ngIf="game.status === 'not_optimized'" class="col-auto bottomTag"><span
                class="darkredGradient px-2 tagText text-white">NOT OPTIMIZED</span></div>
    </div>
</ng-template>