.card {
  background: none !important;
  cursor: pointer;

  .card-img {
    object-position: center;
  }
  @media (max-width: 475px) {
    
    height: 100% !important;
    width: 100% !important;
  }

  .game-title {
    color: #ffffff;
  }
}
.secondaryTagOne {
  margin-left: auto !important;
}
.bottomTag {
  padding-right: 0px !important;
}


.adjustHeightStore {
  .truncate-line-clamp {
    -webkit-line-clamp: 2 !important;
  }
}

.truncate-line-clamp {
  -webkit-line-clamp: 3 !important;
}


._truncate-line-clamp {
  @media (min-width: 476px) {
    -webkit-line-clamp: 3 !important;
  }
  @media (max-width: 475px) {
    -webkit-line-clamp: 2 !important;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .card {
    // width: 150px;
    height: 121px;
  }
}

@media (min-width: 755px) and (max-width: 770px) {
  .card {
    height: 140px !important;
  }
}

@media (max-width: 320px) {
  .card {
    // width: 150px;
    height: 140px !important;
  }
}


@media (min-width: 1300px) {
  .card {
    // width: 150px;
    height: 150px !important;
  }
}

@media (min-width: 768px) {
  .card {
    // width: 150px;
    height: 130px !important;
  }
}
@media (min-width: 1300px) {
  .card {
    // width: 150px;
    height: 150px !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .card {
    // width: 150px;
    height: 121px !important;
  }
}
.adjustHeightLib {
  @media (min-width: 320px) and (max-width: 480px) {
    height: 95px !important;
  }
}

.md-status {
  display: none;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .md-status {
    display: block;
  }

  .secondaryTagOne {
    display: none !important;
    margin-left: auto !important;
  }
  .secondaryTags {
    position: absolute;
    margin-top: -17px !important;
    justify-content: center !important;
    z-index: 1;
    width: 100%;
  }

  .developerListDesktop,
  .freeToPlayDesktop {
    display: none !important;
  }

  .developerListTab {
    text-align: center !important;
    font-weight: 600;
    position: absolute;
    width: 100%;
  }

  .freeToPlayTab {
    display: block !important;
  }

  .store-list {
    justify-content: center !important;
  }

  .game-title {
    text-align: center;
  }

  .mainContainer {
    padding-top: 15px !important;
    padding-bottom: 20px !important;
  }
}

.secondaryTags {
  width: 100%;
  margin-left: auto;
}
@media (max-width: 480px) {
  .card {
    // width: 150px;
    height: 140px !important;
  }
  .adjustHeightStore {
    height: 92px !important;
  }
}
@media (min-width: 475px) and (max-width: 750px) {
  .adjustHeight {
    height: 140px !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card {
    // width: 150px;
    height: 130px !important;
  }

  .adjustHeight {
    height: 150px !important;
  }
}

@media (min-width: 1201px) {

  .freeToPlayTab,
  .developerListTab {
    display: none !important;
  }

  .freeToPlayDesktop {
    display: block !important;
  }

  // .card {
  //   // width: 150px;
  //   height: 150px !important;
  // }
  .adjustHeight {
    height: 150px !important;
  }
}

.freeOnStoreIcon {
  flex-direction: column;
  width: 16px;
  height: 16px;
  gap: 10px;
}

.gameTags {
  position: absolute;
  left: 8px;
  bottom: 5px;

  .tagText {
    color: white;
    font-size: 11px;
    border-radius: 3px;
    padding:2px 5px !important;
  }

  .freeTagTriangle {
    clip-path: polygon(79% 0, 100% 49%, 81% 100%, 0 100%, 0 0);
    padding-right: 20px !important;
  }
}