<div class="d-flex flex-column" style="height: 100vh">
  <div class="d-flex align-items-center p-3 bg-gray-dark">
    <div class="flex-grow-1 d-flex align-items-center">
      <span class="text-white">Your status</span>
      <div
        class="rounded-circle bg-success mx-1"
        style="width: 8px; height: 8px"
      ></div>
      <span class="text-success">Online</span>
    </div>
    <button
      class="btn btn-github rounded-circle py-2 px-3"
      (click)="toggle.emit()"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="p-3">
    <button class="btn btn-block btn-github" (click)="goToParties.emit()">
      View your parties
    </button>
  </div>

  <div class="bg-gray-dark" style="height: 1px"></div>

  <div class="p-3">
    <a
      class="nav-link d-flex"
      style="background-color: rgba(243, 20, 64, 0.1); cursor: pointer"
      (click)="goToMail.emit()"
    >
      <i class="fas fa-envelope text-danger" style="font-size: 36px"></i>
      <div class="ml-2">
        <div class="text-danger text-xs">You have 10 unread messages</div>
        <div class="text-white text-xs">Click to view ></div>
      </div>
    </a>
  </div>

  <div class="bg-gray-dark" style="height: 1px"></div>

  <h5 class="text-white m-3">Online friends ({{ friends.length }})</h5>

  <ul class="navbar-nav flex-grow-1 px-3 overflow-auto">
    <li
      *ngFor="let friend of friends"
      class="media mb-1 align-items-center mb-3"
      style="cursor: pointer"
      (click)="onChat(friend)"
    >
      <img
        [src]="friend.name | avatar"
        class="rounded-circle mr-2"
        width="36"
        height="36"
        alt=""
      />
      <div>
        <div class="text-white small">{{ friend.name }}</div>
        <!-- <div class="text-warning text-xs">Playing GTA V</div> -->
      </div>
    </li>
  </ul>
</div>
