.borderLeftColor {
  border-left: 1px solid #3E4246;
}

.mutedColorDark {
  color: #576068;
}

.friends-list {
  height: calc(80vh - 130px);
  width: 100%;
  overflow-y: auto;
}

.emptyContainer {
  height: calc(80vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.friends-list::-webkit-scrollbar {
  display: none;
}

.friends-list::-webkit-scrollbar-thumb {
  display: none;
}

.friends-list::-webkit-scrollbar-track {
  display: none;
}