.borderLeftColor {
    border-left: 1px solid #3E4246;
}

.mutedColorDark {
    color: #576068;
}

.menudropdown {
    background-color: #151515 !important;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; 
    z-index: 1;
    border-radius: 10px;
}

.dropdown-menu {
    min-width: 0rem !important;
}