.streamContainer {
  cursor: pointer;
}

.game-title {
  color: #DCDCDC;
  width: 100%;
  max-height: 50px;
  overflow: hidden;
  font-size: 16px;
  margin-top: 5px;
  text-wrap: balance;
}

.card-img {
  object-fit: cover;
  height: 235px;
  width: 100%;
  border-radius: 10px;

  @media screen and (max-width: 600px) {
    height: 165px;
  }

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    height: 190px;
  }
}

.game-secondary-title {
  color: gray;
  width: 100%;
  max-height: 50px;
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.date {
  color: gray;
}

.videoChannelContainer {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  gap: 10px;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;

  img {
    border-radius: 50%;
  }
}

.viewCount {
  background-color: rgb(21, 22, 23) !important;
  margin: 5px 0px;
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
}

.gameTags {
  position: absolute;
  left: 10px;
  bottom: 2px;

  .tagText {
    color: white;
    font-size: 14px;
    border-radius: 3px;
  }

  .freeTagTriangle {
    height: 20px;
    width: 20px;
    display: block;
  }
}

.gameTagsContianer {
  display: flex;
  gap: 10px;
}

.gameGenre {
  background-color: #212123;
  padding: 5px 10px;
  color: #DCDCDC;
  width: fit-content;
  border-radius: 20px;
}