.width410 {
    width: 390px !important;
  }
  
.height100vh {
    height: 100vh;
    @media (max-width: 991.9px) {
      height: 90vh;
    }
    align-items: center;
}

@media (max-width: 548px) and (max-width: 991.9px) {

    .font20 {
      font-size: 16px !important;
      line-height: 26px !important;
    }
  
    .margintop20 {
      margin-top: 20px !important;
    }
  
    .textCenterCustom {
      text-align: center;
    }
  
    .font18 {
      font-size: 16px;
      line-height: 26px;
    }
}

.loginBg {
    background-color: #151515;
}

.customOffWhite {
    color: #DCDCDC !important;
}

.offWhiteColor {
    color: #959595;
}

.bgTransparent {
    background-color: transparent;
}

.inputFocus:focus {
    background-color: transparent;
    box-shadow: none;
    color: #DCDCDC !important; 
}


.inputFocus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8898aa !important;
    opacity: 0.5; /* Firefox */
}

.inputFocus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8898aa !important;
}

.inputFocus::-ms-input-placeholder { /* Microsoft Edge */
    color: #8898aa !important;
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}

::placeholder {
    color: #DCDCDC !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #DCDCDC !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #DCDCDC !important;
}

.border-bottomInput {
    border-bottom: 2px solid #434343 !important;
}

.borderRadius0 {
    border-radius: 0px !important;
}

.font20 {
    font-size: 20px;
    line-height: 34px;
    @media (max-width: 1121px) {
        font-size: 16px;
        line-height: 26px;
    }
} 

::ng-deep .customTooltip .tooltip-inner {
    max-width: 90%;
    width: 90%; 
    margin: 1px auto;
}