<div class="row justify-content-center">
  <div class="col-lg-9 col-md-9">
    <div class="row mt-4">
      <div class="cpl-4 col-12">
        <h1 class="font50 text-white text-center">
          Sign In / Sign Up
        </h1>
    </div>
    <div class="row mt-6">
      <div class="col-5">
        <h1 class="font38 text-white">
          Scan the QR code with your Mobile's camera
        </h1>
        <div class="pt-2 d-flex justify-content-center">
          <qrcode
            [qrdata]="signInQrCode"
            [width]="qrCodeWidth"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
      </div>

      <div class="col-1 d-flex flex-column align-items-center">
        <div class="divider"></div>
        <div class="text-white font500 font20">OR</div>
        <div class="divider"></div>
      </div>
      <div class="col-6">
        <h1 class="font38 text-white">
          Follow these steps on your computer or mobile device
        </h1>
        <div class="row mt-5">
          <div class="col-auto">
            <p class="steps text-center mb-0">1</p>
          </div>
          <div class="col pl-0">
            <p class="mb-0 font20">
              Paste this link on your browser:
            </p>
            <h2 class="font28 text-white mt-2">{{ tvURL }}</h2>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-auto">
            <p class="steps text-center mb-0">2</p>
          </div>
          <div class="col pl-0">
            <p class="mb-0 font20">Enter sign-in code:</p>
            <h2 class="text-white font28 mt-2">{{ code }}</h2>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-auto">
            <p class="steps text-center mb-0">3</p>
          </div>
          <div class="col pl-0 align-self-center">
            <p class="mb-0 font20">
              Sign in to Oneplay. Your TV will be ready to watch!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container mt-6">
    <h2 class="font32 text-white text-center">
      Already a Oneplay User ?
    </h2>
    <p class="text-center text-white">
      Go to Main Menu -> Settings -> Login & Security -> TV Sign In -> Enter code displayed on your TV
    </p>
  </div>
</div>

<!-- <div class="row justify-content-center">
  <div class="col-lg-9 col-md-9">
    <div class="row mt-4">
      <div class="col-md-9 pl-4">
        <h1 class="font38 text-white">
          Follow these steps on your computer or mobile device
        </h1>
        <div class="row mt-5">
          <div class="col-auto">
            <p class="steps text-center mb-0">1</p>
          </div>
          <div class="col pl-0">
            <p class="mb-0 font20">
              Scan the symbol with your phone's camera or go to:
            </p>
            <h2 class="font28 text-white mt-2">{{ tvURL }}</h2>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-auto">
            <p class="steps text-center mb-0">2</p>
          </div>
          <div class="col pl-0">
            <p class="mb-0 font20">Enter sign-in code:</p>
            <h2 class="text-white font28 mt-2">{{ code }}</h2>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-auto">
            <p class="steps text-center mb-0">3</p>
          </div>
          <div class="col pl-0 align-self-center">
            <p class="mb-0 font20">
              Sign in to Oneplay from the device
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 pt-8">
        <qrcode
          [qrdata]="signInQrCode"
          [width]="qrCodeWidth"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
      </div>
    </div>
    <div class="customBorderColor mt-5"></div>
    <div class="row mt-5">
      <div class="col align-self-center pr-0">
        <p class="font20 mutedColor mb-0">
          or enter your email and password
        </p>
      </div>
      <div class="col-auto text-end">
        <a
          href="javascript:void(0)"
          class="btn btn-md borderRadius10 text-white activelinear"
          (click)="goToLogin()"
        >
          <span class="nav-link-inner--text">Sign in with details</span>
        </a>
      </div>
    </div>
  </div>
</div> -->

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
