<ng-template #paymentModal let-d="dismiss">
  <div class="modal-content position-relative modalBG stripeModal">
    <a
      href="javascript:void(0)"
      class="position-absolute btn btn-github p-0 rounded-circle top-2 right-1"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times-circle"></i>
    </a>
    <div class="modal-body text-center">
      <h1 class="modalHeading text-white">Choose your payment method</h1>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mt-3 ">
          <a href="javascript:void(0)" (click)="handlePayWithBilldesk()">
            <div class="card border-0 cardBG p-4">
              <span class="freeTag px-2 recommended tagText">RECOMMENDED</span>
              <img
                src="assets/img/payment/Group 5.svg"
                class="height60"
                alt=""
              />
            </div>
          </a>
          <p class="subHeading my-2">
            Debit Card, Credit Card, UPI, Netbanking
          </p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mt-3">
          <a href="javascript:void(0)" (click)="handlePayWithStripe()">
            <div class="card border-0 cardBG p-4">
              <img
                src="assets/img/payment/Vector.svg"
                class="height60"
                alt=""
              />
            </div>
          </a>
          <p class="subHeading my-2">Debit Card & Credit Card</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mt-3">
          <a href="javascript:void(0)" (click)="handlePayWithUPI()">
            <div class="card border-0 cardBG p-4">
              <span class="skyBgGradient px-2  recommended tagText">BETA</span>
              <img
                src="assets/img/payment/UPI-Logo.svg"
                class="height60"
                alt=""
              />
            </div>
          </a>
          <p class="subHeading my-2">
            Pay through any UPI app
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #upiPaymentModal let-d="dismiss">
  <div class="modal-content position-relative modalBG stripeModal">
    <div class="borderBottomTab p-3 text-center">
      <h1 class="modalHeading text-white mb-0">Scan to Pay!</h1>
      <a
        href="javascript:void(0)"
        class="position-absolute btn p-0 rounded-circle top-2 right-1"
        (click)="d('Cross click')"
      >
        <i class="fas fa-times-circle text-white"></i>
      </a>
    </div>
    <div class="modal-body text-center">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="font16 font500 text-white br6 redBtn p-2 blink_bg">
            To begin your subscription, send your payment screenshot and oneplay username to <a href="mailto:support@oneplay.in" class="text-white text-underline">support@oneplay.in</a> or share them in our <a href="https://discord.com/invite/Cg4ZskStE2" class="text-white text-underline">Discord channel</a>.
          </div>
          <div class="row mt-4 justify-content-center">
            <div class="col-lg-4 col-md-5 col-sm-9 col-10 bg-white borderRadius50 p-3">
              <img src="assets/img/payment/scanner.jpg" class="img-fluid" alt="" />
            </div>
          </div>
          <button class="btn linearGradient border-top-0 border-left-0 border-right-0 text-white px-5 mt-4" (click)="d('Cross click')">OK</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #stripeModal let-c="cose">
  <div class="modal-content position-relative modalBG stripeModal">
    <form (submit)="onPay()">
      <div class="modal-body borderBottomTab">
        <div class="row borderBottomTab pb-3 mb-3">
          <div class="col align-self-center">
            <p class="font500 offWhiteText mb-0">Total Amount</p>
          </div>
          <div class="col-auto">
            <h2 class="font800 text-white mb-0 text-right">
              {{ currentamount | currency : (currency | uppercase) }}
            </h2>
          </div>
        </div>
        <div id="stripe-card"></div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn linearGradient text-white border-0"
          [disabled]="stripeLoad"
        >
          {{ stripeLoad ? "Proccessing..." : "Confirm Payment" }}
        </button>
        <button
          type="button"
          (click)="closeStripeModal()"
          class="btn mutedBg text-white border-0"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>
