<div class="row mb-5">
  <div class="col-md-11 col-lg-12 mt-4">
    <!-- <p *ngIf="totalTokens !== undefined" class="font18 font500 text-white">
      Subscription Usage
    </p>
    <div *ngIf="totalTokens !== undefined" class="py-3">
      <div class="outerRange">
        <div class="innerRange"></div>
      </div>
      <p>
        <img src="assets/img/Alarm.svg" class="img-fluid mr-2" alt="" />
        <span class="text-muted font700">Total Playtime : </span
        ><span class="offWhiteText font700">{{ totalTokens | tokens }}</span>
      </p>
      <p>
        <img src="assets/img/Alarm.svg" class="img-fluid mr-2" alt="" />
        <span class="text-muted font700">Remaining Playtime : </span
        ><span class="offWhiteText font700">{{
          remainingTokens | tokens
        }}</span>
      </p>
    </div> -->
    <div class="row mb-3">
      <div class="col-6 align-self-center">
        <p *ngIf="currentSubscriptions.length" class="font18 font500 text-white mb-0">
          Current Subscription
        </p>
      </div>
      <div *ngIf="totalTokens !== undefined" class="col-6 pl-0">
        <div class="row justify-content-end">
          <div class="col-auto pl-0">
            <p class="mb-0 font16 font500 text-white">Play Time Remaining</p>
            <div class="outerRange">
              <div class="innerRange" [ngStyle]="{width: calculatePercentage(remainingTokens, totalTokens)}"></div>
            </div>
            <div class="row">
              <div class="col">
                <p class="mb-0 font16 font500 muteText">0</p>
              </div>
              <div class="col text-center">
                <p class="mb-0 font16 font500 muteText">10</p>
              </div>
              <div class="col text-right">
                <p class="mb-0 font16 font500 muteText">30</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentSubscriptions.length" class="row">
      <div *ngFor="let sub of currentSubscriptions" class="col-md-12 mt-2">
        <div class="card lightBg borderRadius10 p-2">
          <div class="card-body p-lg-4 p-md-4 p-0">
            <div class="row">
              <div class="col-md-9 col-8">
                <p class="font16 font500 muteText mb-2">
                  {{ sub.planName }} ({{ sub.planType | titlecase }} Plan)
                </p>
                <h2 class="font38 font700 text-white">
                  ₹ {{ sub.amount }}
                </h2>
              </div>
              <div
                *ngIf="sub.planType === 'base'"
                class="col-md-3 col-4 align-self-center text-right pl-0"
              >
                <button
                  [routerLink]="['/settings/subscription']"
                  [queryParams]="{ subscribe: sub.planId }"
                  class="btn pl-lg-4 pr-lg-4 border-0 text-white linearGradient borderRadius10"
                >
                  Renew
                </button>
              </div>
              <div class="col-12">
                <img src="assets/img/Alarm.svg" class="img-fluid mr-2" alt="" />
                <span class="font18 font500 offWhiteText"
                  >{{ sub.tokens | tokens }}/{{
                    remainingTokens | tokens
                  }} left .
                </span>
                <!-- <span
                  class="font18 font500 offWhiteText d-none d-sm-inline-block"
                  >{{ sub.duration }} days plan .
                </span> -->
                <span class="font16 font500 muteText"
                  >Expires on {{ sub.endsAt | date : "mediumDate" }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-auto mt-4">
        <div class="row onlyTransition cursorPointer" data-toggle="collapse" (click)="showBody=!showBody" [ngClass]="showBody ? 'arrowTansfrom' : ' '">
          <div class="col-auto align-self-end pb-1"><p class="font18 font500 text-white mb-0">Subscription History</p></div>
          <div class="col p-0"><i class="fas fa-caret-down font20 text-white"></i></div>
        </div>
      </div>
      <div
        class="col text-right align-self-end"
        ngbDropdown
        placement="bottom-right"
      >
        <a
          href="javascript:void(0)"
          class="nav-link p-0"
          role="button"
          ngbDropdownToggle
        >
          <img
            alt=""
            class="img-fluid"
            src="assets/img/Filter_2.svg"
          />
        </a>
        <div class="dropdown-bug">
          <div
            class="dropdown-menu-arrow menudropdown"
            ngbDropdownMenu
          >
            <a href="javascript:void(0)" class="dropdown-item font16 font500 offWhiteText">
              Successful
            </a>
            <a href="javascript:void(0)" class="dropdown-item font16 font500 offWhiteText">
              Processing
            </a>
            <a href="javascript:void(0)" class="dropdown-item font16 font500 offWhiteText">
              Failed
            </a>
            <a href="javascript:void(0)" class="dropdown-item font16 font500 offWhiteText">
              Cancelled
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 collapseDiv" *ngIf="showBody">
      <div class="col-md-12 mt-2">
        <div class="table-responsive">
          <table class="customTable table mb-0">
            <thead>
              <tr scope="row">
                <th scope="col" class="pl-0 d-block d-lg-none">Date</th>
                <th scope="col" class="pl-0 d-none d-lg-block">Date of Purchase</th>
                <th scope="col">Subscription Type</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col">Start Date</th>
                <th scope="col" class="pr-0 text-right">End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subscription of subscriptions">
                <td class="align-middle py-3 pl-0">
                  {{ subscription.purchasedAt | date : "dd.MM.yyyy" }}
                </td>
                <td class="align-middle py-3">
                  {{ subscription.planName }} Edition
                  <p class="customTableText mb-0">
                    {{ subscription.planDesc }}
                  </p>
                </td>
                <td class="align-middle text-center py-3">
                  ₹ {{ subscription.amount }}
                </td>
                <td
                  class="align-middle py-3 text-center"
                  [ngClass]="{
                    gradientText: subscription.status === 'active',
                    cancelgradientText: subscription.status === 'upcoming'
                  }"
                >
                  {{ subscription.status | titlecase }}
                </td>
                <td class="align-middle py-3">
                  {{ subscription.startsAt | date : "dd.MM.yyyy" }}
                </td>
                <td class="align-middle text-right py-3 pr-0">
                  {{ subscription.endsAt | date : "dd.MM.yyyy" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> 
    <hr class="borderBottomTab mt-0"/>
  </div>
</div>
