<!-- <div class="card bg-dark">
  <div class="card-header bg-dark border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0 text-white">Subscription History</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <p *ngIf="subscriptions.length === 0" class="text-white-50 text-center">
      No history found
    </p>
    <div *ngFor="let subscription of subscriptions">
      <div class="d-flex justify-content-between align-items-center">
        <div class="text-white-50">
          <span class="text-white">{{ subscription.planName }},</span>
          {{ subscription.amount }}/-
          <br class="d-block d-lg-none" />
          {{ subscription.isFree ? "(Free Trial)" : "" }}
        </div>
        <div class="d-flex text-right align-items-center">
          <div class="text-white-50 mr-2">
            <span class="text-white">{{
              subscription.endsAt | date: "mediumDate"
            }}</span>
            <span class="d-none d-lg-inline-block mx-1">|</span>
            <br class="d-block d-lg-none" />
            <span
              [ngClass]="{ 'text-success': subscription.status === 'active' }"
              >{{ subscription.status | titlecase }}</span
            >
          </div>
          <button class="btn btn-primary" (click)="onRenew()">Renew</button>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
  </div>
</div> -->


<div class="row mb-5">
  <div class="col-md-12 col-lg-10 mt-4">
    <p class="font18 font500 text-white mb-2 mt-2">Current Subscription</p>
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="card lightBg borderRadius10 p-2">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-md-9">
                <p class="font16 font500 muteText mb-2">Weekly</p>
                <h2 class="font38 font700 text-white">$8.99</h2>
                <img src="assets/img/Alarm.svg" class="img-fluid mr-2" alt="" />
                <span class="font18 font500 offWhiteText">10 hours left .</span>
                <span class="font18 font500 muteText">Expires on 16th Sep 2022</span>
              </div>
              <div class="col-md-3 align-self-center text-right">
                <button class="btn pl-4 pr-4 border-0 text-white linearGradient borderRadius10">Renew</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="font18 font500 text-white mb-0 mt-5">Subscription History</p>
    <div class="row">
      <div class="col-md-12 mt-4">
        <table class="customTable table">
          <thead>
            <tr>
              <th scope="col">Date of Purchase</th>
              <th scope="col">Subscription Type</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle pt-4 pb-4" scope="row">
                12.10.2022
              </td>
              <td class="align-middle pt-4 pb-4">
                Starter Edition
                <p class="customTableText mb-0">Weekly - 15 Hours</p>
              </td>
              <td class="align-middle pt-4 pb-4">$8.99</td>
              <td class="gradientText align-middle pt-4 pb-4">Current</td>
            </tr>
            <tr>
              <td class="align-middle pt-4 pb-4" scope="row">
                25.9.2022
              </td>
              <td class="align-middle pt-4 pb-4">
                Founder Edition
                <p class="customTableText mb-0">Weekly - 15 Hours</p>
              </td>
              <td class="align-middle pt-4 pb-4">$8.99</td>
              <td class="align-middle pt-4 pb-4">Completed</td>
            </tr>
            <tr>
              <td class="align-middle pt-4 pb-4" scope="row">
                12.10.2022
              </td>
              <td class="align-middle pt-4 pb-4">
                Starter Edition
                <p class="customTableText mb-0">Weekly - 15 Hours</p>
              </td>
              <td class="align-middle pt-4 pb-4">$8.99</td>
              <td class="cancelgradientText align-middle pt-4 pb-4">Cancelled</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>