.notification-container {
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.notification-box {
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: #39393a;
    border: 1px solid #595858;
    right: 0;
    overflow: hidden;

    .notification-footer {
        padding: 5px 40px;
        background-color: #707172;

        .offWhiteText {
            font-size: 12px !important;
        }
    }
}

.rotate-arrow {
    animation: all 0.3s;
    transform: rotate(-270deg) !important;
}

.secActContainer {
    height: auto;
    width: 130px;
    border-radius: 10px;
    background-color: #212123;
    border: 1px solid #595858;

    a {
        font-size: 12px;
    }
}
.horizontalDivider {
    border: 1px solid #4a4a4a;
    width: 90%;
}
.alert-text {
    color: #FF843F !important;
}
.info-text {
    color: #3AA0FE !important;
}
.success-text {
    color: #36FF78 !important;
}
.error-text {
    color: #FF5151 !important;
}

@media (min-width: 320px) and (max-width: 475px) {
    .notification-container {
        right: -40px;
    }
    .notification-box {
        width: 90vw;
    }
}