<div class="notification-container" [ngClass]="{'position-absolute': !(isMultiNotificationList && hasNotificationClicked)}" [style.top]="20 + 5*index + 'px'" [style.right]="25 + 5*index + 'px'">
    <div class="position-relatived-flex flex-column offset-md-3 notification-box box-with-shadow" (click)="messageClicked()">
        <div class="notification-content d-flex p-2 justify-between">
            <img src="assets/icons/alert-icon.svg" class="mt-1 mr-1" height="25" width="25" alt=""
                *ngIf="notification?.type === 'warning'">
                <img src="assets/icons/question-icon.svg" class="mt-1 mr-1" height="25" width="25" alt=""
                    *ngIf="notification?.type === 'question'">
            <img src="assets/icons/info-icon.svg" class="mt-1 mr-1" height="25" width="25" alt=""
                *ngIf="notification?.type === 'information'">
            <img src="assets/icons/error-icon.svg" class="mt-1 mr-1" height="25" width="25" alt=""
                *ngIf="notification?.type === 'error' || notification?.type === 'alert' ">
            <img src="assets/icons/success-icon.svg" class="mt-1 mr-1" height="25" width="25" alt=""
                *ngIf="notification?.type === 'success'">
            <div>
                <div class="d-flex justify-content-between w-100">
                    <span class="text-white font500 font14 mb-1"
                        [style.width]="(notification.title?.length + notification.description?.length) > 50 ? '95%': '100%'">
                        {{ (notification.title.length > 50 && !showNotificationContent ? notification.title.substr(0, 50) + '...' : notification.title) }}
                    </span>
                    <div style="left: 17px; top: 35px" class="position-relative" (click)="toggleSecondaryCTA($event)" *ngIf="!showNotificationContent">
                        <a href="javascript:void(0)" class="nav-link p-0 br50" role="button">
                            <img alt="" width="18px" height="18px" src="assets/img/chat/three-dot.svg" />
                        </a>
                    </div>
                    <img src="assets/img/Vector.svg" height="15" width="15" alt="" class="mt-1 mr-2 cursorPointer"
                        style="transform: rotate(-90deg);" (click)="toggleNotificationContent($event)"
                        [ngClass]="{'rotate-arrow': showNotificationContent}"
                        *ngIf="(notification.title?.length + notification.description?.length) > 50">
                </div>
                <p class="text-white my-2" style="font-size: 12px;" *ngIf="showNotificationContent">
                    {{ notification.description }}
                </p>
                <span class="mutedTextColor font14 font500">{{ notification.createdAt | date: "hh:mm a" }}</span>
            </div>
        </div>
        <div class="notification-footer d-flex justify-content-between pb-2" *ngIf="showNotificationContent">
            <div class="footer-left" *ngIf="notification.CTAs?.length > 0">
                <!-- <a href="javascript:void(0)" class="font16 font500 offWhiteText">Play Now</a> -->

                <a class="font500 alert-text offWhiteText" href="javascript:void(0)"
                    *ngIf="notification.CTAs.includes('RENEW')" (click)="navigateByCTA($event, 'RENEW')">Renew</a>
                <a class="font500 info-text offWhiteText" href="javascript:void(0)"
                    *ngIf="notification.CTAs.includes('BUY_NOW')" (click)="navigateByCTA($event, 'BUY_NOW')">Buy
                    Now</a>
                <a class="font500 alert-text offWhiteText" href="javascript:void(0)"
                    *ngIf="notification.CTAs.includes('ACCEPT')"
                    (click)="navigateByCTA($event, 'ACCEPT')">Accept</a>
                <a class="font500 alert-text offWhiteText" href="javascript:void(0)"
                    *ngIf="notification.CTAs.includes('RESET_PASSWORD')"
                    (click)="navigateByCTA($event, 'RESET_PASSWORD')">Reset Password</a>
                <a class="font500 success-text offWhiteText" href="javascript:void(0)"
                    *ngIf="notification.CTAs.includes('DOWNLOAD')"
                    (click)="navigateByCTA($event, 'DOWNLOAD')">Download</a>
                <a class="font500 error-text offWhiteText" href="javascript:void(0)"
                    *ngIf="notification.CTAs.includes('RETRY')" (click)="navigateByCTA($event, 'RETRY')">Retry</a>
            </div>
            <div class="footer-right d-flex align-items-center" style="left: 20px">

                <ng-container *ngIf="notification.CTAs.length > 0 ">
                    <a class="font500 offWhiteText" href="javascript:void(0)"
                        *ngIf="notification.CTAs.includes('IGNORE')"
                        (click)="navigateByCTA($event, 'IGNORE')">Ignore</a>
                    <a class="font500 offWhiteText" href="javascript:void(0)"
                        *ngIf="notification.CTAs.includes('REJECT')"
                        (click)="navigateByCTA($event, 'REJECT')">Reject</a>
                </ng-container>
                <div style="left: 30px" class="position-relative" (click)="toggleSecondaryCTA($event)">
                    <a href="javascript:void(0)" class="nav-link p-0 br50" role="button">
                        <img alt="" width="18px" height="18px" src="assets/img/chat/three-dot.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative secActContainer d-flex flex-column justify-content-center p-2 mt-2 mr-2"
        *ngIf="showSecondaryCTA">
        <a class="mutedTextColor font500" href="javascript:void(0)" *ngIf="!notification.isRead"
            (click)="markRead(notification)">Mark as Read</a>
        <a class="mutedTextColor font500 mt-2 mb-1" href="javascript:void(0)"
            *ngIf="notification.isRead" (click)="markUnread(notification)">Mark as Unread</a>
        <div class="horizontalDivider my-2" *ngIf="notification.deleteAllowed"></div>
        <a class="mutedTextColor font500" href="javascript:void(0)" *ngIf="notification.deleteAllowed"
            (click)="deleteNotification(notification)">Delete</a>
    </div>
</div>