<span class="railHeading hideInLarge container-fluid">{{ gameFeed.title }}</span>
<div class="spotlightBannerContainer"[style.backgroundImage]="'url('+ getBackgroundImage +')'">
    <div class="d-flex h-100 align-items-center container-fluid">
        <div class="mainSpecialBanner">
            <span class="railHeading hideInMobile">{{ gameFeed.title }}</span>
            <img [src]="specialBannerGame.poster_16_9" alt="" class="spotlightBannerImage">
        </div>
        <div class="specialBannerList scrollGame row">
            <div class="d-flex align-items-center" [style.height.%]="getContainerHeight">
                <div *ngFor="let game of specialBannerRowGame" class="zoom col-auto gameCard pr-0 w290 pl-0">
                    <app-game-card-v2 [game]="game" [hasFixedWidth]="true" *ngIf="!game.isInstallAndPlay"
                        (gameClick)="gameClicked($event)" [railType]="gameFeed.type"></app-game-card-v2>
                    <app-install-play-game-v2 [game]="game" [hasFixedWidth]="true" *ngIf="game.isInstallAndPlay"
                        [isInstallAndPlayList]="isInstallAndPlayList" (gameClick)="gameClicked($event)"
                        [railType]="gameFeed.type"></app-install-play-game-v2>
                </div>
            </div>
        </div>
    </div>
</div>