.zoom {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1) translateZ(0px);
  }
}

@media (min-width: 2000px) {
  .col-xxl-3 {
    max-width: 20% !important;
    flex: 0 0 20% !important;
  }
}

@media (min-width: 2500px) {
  .col-xxxl-3 {
    max-width: 14.2% !important;
    flex: 0 0 15% !important;
  }
}

.navbar-search .form-control {
  background-color: transparent;
  width: auto !important;
}

.navbar-search .input-group {
  background-color: #3E4246 !important;
  border-radius: 6px !important;
  border-radius: 10px !important;
}

.searchPleaceholder::placeholder {
  letter-spacing: 0.02em;
  color: #DCDCDC;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.searchPleaceholder {
  letter-spacing: 0.02em;
  color: #DCDCDC;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.br6 {
  border-radius: 6px;
}

.offWhitecolor {
  color: #DCDCDC;
}

.mutedTextColor {
  color: #959595;
}

.linearMutedBg {
  background: linear-gradient(270deg, #616161 0%, #434343 100%);
  border-radius: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.truncate-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  width: 100%;
  overflow: hidden;
}

.gameRowHover:hover {
  background-color: #2B2B2E;
  cursor: pointer;
}

@media (min-width: 1201px) {
  .largeScreenHide {
    display: none;
  }
}

.input-group {
  flex-wrap: initial !important;
}

@media (min-width: 1201px) {
  .hideLargeScreen {
    display: none;
  }
}