<div class="container-fluid pt-8">
  <div class="container-fluid">
    <form class="d-block d-lg-none mb-5" (submit)="search()">
      <div class="form-group mb-0" [ngClass]="{ focused: isFocused === true }">
        <div class="input-group input-group-alternative border-0 bg-darker">
          <input
            class="form-control"
            placeholder="Search games or users"
            type="text"
            [formControl]="queryControl"
            (focus)="isFocused = true"
            (blur)="isFocused = false"
          />
          <div class="input-group-prepend">
            <button class="btn input-group-text" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-between">
      <h1 class="text-white text-center">
        <span *ngIf="!!query">You searched for "{{ query }}" </span>
        <a
          *ngFor="let t of ['games', 'users']"
          href="javascript:void(0)"
          (click)="changeTab(t)"
          class="mx-2"
          [ngClass]="{
            'text-primary': t === tab,
            'text-white-50': t !== tab
          }"
        >
          {{ t | titlecase }}
        </a>
      </h1>

      <!-- <div class="row text-white-50 align-items-center">
          <div class="col">Sort by</div>
          <div class="col" ngbDropdown>
            <button class="btn btn-outline-white btn-icon" ngbDropdownToggle>
              <span class="text-sm">Popularity </span>
              <i class="ni ni-bold-down"></i>
            </button>
            <div ngbDropdownMenu>
              <a ngbDropdownItem>Action</a>
              <a ngbDropdownItem>Another action</a>
              <a ngbDropdownItem>Something else here</a>
            </div>
          </div>
        </div> -->
    </div>

    <div
      *ngIf="games.length !== 0 && tab === 'games'"
      class="py-5 row"
      infinite-scroll
      [infiniteScrollDistance]="5"
      [infiniteScrollThrottle]="200"
      (scrolled)="onScroll()"
    >
      <div *ngFor="let game of games" class="col-6 col-lg-3 mb-4">
        <div class="zoom">
          <app-game-card
            [game]="game"
            [queryParams]="keywordQuery"
          ></app-game-card>
        </div>
      </div>
    </div>

    <div
      *ngIf="games.length === 0 && tab === 'games'"
      class="text-center text-lg text-white-50 my-5"
    >
      No games found
    </div>

    <div
      *ngIf="users.length !== 0 && tab === 'users'"
      class="py-5 row"
      infinite-scroll
      [infiniteScrollDistance]="5"
      [infiniteScrollThrottle]="200"
      (scrolled)="onScroll()"
    >
      <div *ngFor="let user of users" class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="zoom">
          <!-- <div class="row">
            <div class="col-auto">
              <img
                [src]="user.photo || (user.name | avatar)"
                class="mr-3"
                width="80"
                height="50"
                alt=""
              />
            </div>
            <div class="col-auto">
              <p class="list-group-heading text-white m-0">{{ user.name }}</p>
              <p class="list-group-content text-white-50 small m-0">
                {{ user.username }}
              </p>
            </div>
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-sm btn-outline-light"
                (click)="addFriend(user)"
              >
                <i class="fas {{ getFriendAddIcon(user) }}"></i>
              </button>
            </div>
          </div> -->
          
        </div>
        <div class="row">
          <div class="col-auto">
            <img
              [src]="user.photo || (user.name | avatar)"
              height="50"
              alt=""
            />
          </div>
          <div class="col-auto align-self-center">
            <p class="list-group-heading text-white m-0">{{ user.name }}</p>
            <p class="list-group-content text-white-50 small m-0">
              {{ user.username }}
            </p>
          </div>
          <div class="col-auto align-self-center">
            <button
              type="button"
              class="btn btn-sm btn-outline-light"
              (click)="addFriend(user)"
            >
              <i class="fas fa-user-plus"></i>
            </button>
          </div>
        </div>
        <!-- <p>{{ user.name }}</p> -->
      </div>
    </div>

    <div
      *ngIf="users.length === 0 && tab === 'users'"
      class="text-center text-lg text-white-50 my-5"
    >
      No users found
    </div>

    <div class="position-relative">
      <ngx-ui-loader
        [fgsColor]="'#c32ead'"
        [loaderId]="'scroll'"
        [hasProgressBar]="false"
      ></ngx-ui-loader>
    </div>
  </div>
</div>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
