.breakWord {
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
}

.readMore {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #212123;

  @media (max-width: 1200px) {
    background-color: #151515;
    
  }
}
