<section>
    <div class="general-settings d-flex flex-wrap">
        <div class="col-md-12 col-lg-5 height52 lightBg boxContainer">
            <img src="assets/img/setting/faq-icon.svg" height="20" width="20" alt="">
            <span class="font18 font500 text-white">Frequently Asked Question</span>
        </div>
        <div class="col-md-12 col-lg-5 height52 lightBg boxContainer">
            <img src="assets/img/setting/terms-icon.svg" height="20" width="20" alt="">
            <span class="font18 font500 text-white">Terms & Condition</span>
        </div>
        <div class="col-md-12 col-lg-5 height52 lightBg boxContainer">
            <img src="assets/img/setting/support-icon.svg" height="20" width="20" alt="">
            <span class="font18 font500 text-white">Support</span>
        </div>
        <div class="col-md-12 col-lg-5 height52 lightBg boxContainer">
            <img src="assets/img/setting/privacy-icon.svg" height="20" width="20" alt="">
            <span class="font18 font500 text-white">Privacy Policy</span>
        </div>
    </div>
    <div class="website-version d-flex flex-column align-items-center">
        <span class="font18 font500 text-white ">Version: {{appVersion}}</span>
        <img src="assets/img/setting/version-image.svg" height="150" width="150" alt="">
    </div>
</section>