<div class="card bg-dark mb-3">
  <div class="card-header bg-dark border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0 text-white">Notification Settings</h3>
      </div>
      <div class="col-12">
        <p class="text-white text-sm mb-0">
          OnePlay may still send you important notifications about your account
          and content outside of your preferred notification settings.
        </p>
      </div>
    </div>
  </div>

  <div class="card-body">
      <p class="text-white text-sm mt-0 mb-2">
          List of Notifications you receive from OnePlay
      </p>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">Game updates</option>
          </select>
      </div>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">Messages</option>
          </select>
      </div>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">Comments</option>
          </select>
      </div>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">Download updates</option>
          </select>
      </div>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">Streaming and Multiplayer requests</option>
          </select>
      </div>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">In-game notifications</option>
          </select>
      </div>
      <p class="text-white text-sm mt-0 mb-2">
          List of Notifications you receive from OnePlay
      </p>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">Browser</option>
          </select>
      </div>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">Email</option>
          </select>
      </div>
      <div class="form-group">
          <select class="form-control bg-darker">
              <option value="">System</option>
          </select>
      </div>
  </div>
</div>
