<div class="row p-3">
  <div class="col-12">
    <button class="btn bg-transparent px-0 mb-3" (click)="goBack.emit()">
      <img src="assets/img/chat/left-arrow.svg" class="img-fluid mr-3" alt="" />
      <span class="font16 font500 offWhiteText align-middle">Friend Requests</span>
    </button>
    <div class="borderBottomTab"></div>
  </div>
  <div class="col-12" *ngIf="requests.length === 0">
    <div class="row justify-content-center align-items-center customHeight">
      <div class="col-9">
        <img src="assets/img/chat/no-friend-request.svg" class="img-fluid" alt="" />
        <p class="font16 font500 muteText mb-0">You have no friends, click the search icon to begin connecting with them.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div *ngFor="let request of requests" class="row mt-3">
      <div class="col-auto">
        <img
          [src]="request.name | avatar"
          class="rounded-circle"
          width="48"
          height="48"
          alt=""
        />
      </div>
      <div class="col p-0 text-truncate align-self-center">
        <div class="font16 font500 offWhiteText">{{ request.name }}</div>
        <div class="font14 font500 muteText">{{ request.username }}</div>
      </div>
      <div class="col-auto align-self-center">
        <img src="assets/img/chat/Subtract.svg" (click)="accept(request)" class="img-fluid cursorPointer mr-4" alt="" />
        <img src="assets/img/chat/Cross.svg" (click)="decline(request)" class="img-fluid cursorPointer ml-4" alt="" />
      </div>
    </div>
  </div>
</div>