<div class="smallCategoryContainer container-fluid position-relative mt-4">
    <div class="container-fluid removePaddingContainer d-flex align-items-center mb-3">
        <p class="position-relative railHeading paddingLeft mr-4 truncate-line-clamp"
            [style.width.%]="gameFeed.categories?.length > 0 ? '50%' : '100%'">{{ gameFeed.title }}</p>
        <ng-container *ngIf="gameFeed.categories?.length > 0">
            <div class="filterContainerList" #scrollFilter (mousedown) ="startDragging($event, false, scrollFilter)" (mouseup) ="stopDragging($event, false)" (mouseleave) ="stopDragging($event, false)" (mousemove)="moveEvent($event, scrollFilter)">
                <ng-container *ngFor="let filter of gameFeed.categories">
                    <div class="filter" [ngClass]="{'linearGradient': selectedFilter == filter}"
                        (click)="selectFilter(filter)">{{ filter | titlecase }}</div>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div class="d-flex h-100 align-items-baseline container-fluid" style="padding-right: 0px !important;">
        <div class="scrollGameList" #container>
            <ng-container *ngIf="!isLoading; else showLoadingScreen">
                <ng-container *ngFor="let key of getObjectKeys(); let idx = index">
                    <div>
                        <div *ngFor="let game of gamesListBatches[key]" class="gameCol">
                            <app-square-small-card [game]="game" [hoveringCardId]="hoveringCardId" (onMouseHoverCard)="cardHoverHandler($event)"></app-square-small-card>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #showLoadingScreen>
                <ng-container *ngFor="let _ of [].constructor(5)">
                    <div>
                        <img src="assets/img/placeholder-game.svg" alt="placeholder image" style="margin-right: 10px;" class="placeholderImage gameCol" style="width: 180px" *ngFor="let _ of [].constructor(2)">
                    </div>
                </ng-container>
            </ng-template>
        </div>
        
    </div>

    <ng-container *ngIf="!isMobile">
        <button *ngIf="showLeftArrow" class="btn position-absolute h-100 arrowPaddingLeft pr-2" (click)="scrollLeft()">
            <img src="assets/img/arrow-left.svg" height="30px" alt="" />
        </button>

        <button *ngIf="showRightArrow" class="btn position-absolute h-100 arrowPaddingright pl-2" (click)="scrollRight()">
            <img src="assets/img/arrow-right.svg" height="30px" alt="" />
        </button>
    </ng-container>
</div>