<div class="smallCategoryContainer container-fluid">
    <div class="container-fluid removePaddingContainer d-flex align-items-center mb-2">
        <p class="position-relative railHeading paddingLeft mr-4 truncate-line-clamp" [style.width.%]="gameFeed.categories?.length > 0 ? '50%' : '100%'">{{ gameFeed.title }}</p>
        <ng-container *ngIf="gameFeed.categories?.length > 0">
          <div class="filterContainerList">
              <ng-container *ngFor="let filter of gameFeed.categories">
                <div class="filter" [ngClass]="{'linearGradient': selectedFilter == filter}" (click)="selectFilter(filter)">{{ filter | titlecase }}</div>
              </ng-container>
          </div>
        </ng-container>
    </div>
    <div class="d-flex h-100 align-items-baseline container-fluid">
        <div class="scrollGameList">
            <ng-container *ngFor="let key of getObjectKeys(); let idx = index">
                <div>
                    <div *ngFor="let game of gamesListBatches[key]" class="gameCol">
                        <app-square-small-card [game]="game"></app-square-small-card>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>