.railHeading {
    font-weight: 500;
    font-size: 38px;
    line-height: 20px;
    color: #dcdcdc;
    letter-spacing: 0.02em;
    font-family: "TsukiRegular";
    margin-bottom: 0px;
    @media (max-width: 1200px) {
      font-size: 28px;
      line-height: 26px;
      margin-right: 0px !important;
    }
  }