<div class="d-flex flex-column" style="height: 100vh">
  <div class="d-flex align-items-center p-3 bg-gray-dark">
    <button class="btn bg-transparent" (click)="goBack.emit()">
      <i class="fas fa-chevron-left text-white text-xs"></i>
    </button>
    <div class="text-white">Invite Friends</div>
  </div>

  <ul class="navbar-nav flex-grow-1 px-3 overflow-auto">
    <li
      *ngFor="let friend of friends"
      class="media mb-1 align-items-center my-3"
      style="cursor: pointer"
      (click)="onSelectParty(party)"
    >
      <img
        [src]="friend.name | avatar"
        class="rounded-circle mr-2"
        width="36"
        height="36"
        alt=""
      />
      <div>
        <div class="text-white small">{{ friend.name }}</div>
        <div class="text-warning text-xs">{{ friend.username }}</div>
      </div>
      <button
        *ngIf="!isInvited(friend)"
        class="btn btn-sm btn-outline-info ml-auto"
        (click)="onInvite(friend)"
      >
        Invite
      </button>
      <i *ngIf="isInvited(friend)" class="fas fa-check text-success text-xs ml-auto"></i>
    </li>
  </ul>
</div>
