<section class="success-message d-flex flex-column justify-content-center align-items-center">
    <img src="assets/img/singup-login/success-img.svg" height="100" class="success-img" alt="success icon">
    <h2 class="text-center display-3 font800 text-white m-10">Password Changed</h2>
    <div class="m-20">
        <p class="text-center font500 offWhiteColor m-0">You're successfully changed your password.</p>
        <p class="text-center font500 offWhiteColor">Happy Gaming</p>
    </div>
    <button type="button" class="btn btn-block linearGradient border-0 borderRadius10 font16 font500 text-white"
        (click)="goToLoginPage()">
        Continue
    </button>
    <div class="m-40">
        <p class="text-center font500 offWhiteColor m-0">Redirecting to Login Screen in <span class="text-white font500 display-4">{{ timer }}</span></p>
    </div>
</section>