<!-- Page content -->
<div class="row justify-content-center loginBg">
  <div class="col-lg-12 col-11 col-md-7 height100vh overflowYScroll">
    <div class="mobileView">
      <div class="text-center">
        <a href="https://oneplay.in">
          <img
            src="assets/img/singup-login/Group 133.svg"
            class="img-fluid mt-4 mb-0"
            alt="logo"
          />
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row largeScreenHeight">
        <div class="col-md-12 custompaddingLeftRight">
          <form [formGroup]="loginForm" (submit)="login()" role="form">
            <div class="row mt-4">
              <div class="col-md-12 mb-3">
                <h1 class="text-white font38 font800 mb-0 textCenterCustom">
                  Log in to your account
                </h1>
              </div>
              <div class="col-md-12 mt-3">
                <label class="font16 font500 customOffWhite mb-0"
                  >Email / Phone</label
                >
                <input
                  type="email"
                  #emailId
                  formControlName="id"
                  class="form-control h56 pl-0 offWhiteColor bgTransparent inputFocus font16 font500 border-0 borderRadius0 border-bottomInput"
                  name="name"
                  placeholder="example@oneplay.in"
                  size="small"
                />
              </div>
              <div class="col-md-12 mt-4">
                <label class="font16 font500 customOffWhite mb-0"
                  >Password</label
                >
                <div class="input-group">
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control pl-0 h56 offWhiteColor mutedColor bgTransparent inputFocus font16 font500 border-0 borderRadius0 border-bottomInput"
                    name="password"
                    #passwordField
                  />
                  <span
                    class="input-group-text bgTransparent border-start-0 offWhiteColor font16 font500 border-0 border-bottomInput borderRadius0"
                    >
                    <i class="fas fa-eye" (click)="passwordField.type=passwordField.type=='password'?'text':'password'" [ngClass]="(passwordField.type=='password')?' fa-eye-slash':' fa-eye'"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-6 mt-5 custom align-self-center pr-0">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input font16"
                    id="customCheckLogin"
                    checked
                  />
                  <label
                    class="custom-control-label font20 font500 customOffWhite"
                    for="customCheckLogin"
                    >Remember me</label
                  >
                </div>
              </div>
              <div class="col-md-6 col-6 mt-5 align-self-center pl-0">
                <span class="float-right font20 font500"
                  ><a
                    href="javascript:void(0)"
                    [routerLink]="['/forgot-password']"
                    class="customOffWhite"
                    ><u>Forgot Password?</u></a
                  ></span
                >
              </div>
              <div class="col-md-12 mt-5 margintop20">
                <input
                  type="submit"
                  class="btn btn-block linearGradient h60 border-0 borderRadius10 font18 font500 text-white"
                  value="Login"
                />
              </div>
              <div class="col-md-12 mt-5 text-center margintop20">
                <p class="font16 font500 offWhiteColor">
                  Don’t have an account?
                  <span class="purpleGradient"
                    ><a href="javascript:void(0)" [routerLink]="['/register']"
                      >Create a New</a
                    ></span
                  >
                </p>
                <div *ngIf="isTV" class="row">
                  <div class="col-12 mt-3">
                      <a
                        href="javascript:void(0)"
                        [routerLink]="['/qr-login']"
                        class="btn btn-block btnGradient"
                        >Sign In with Web</a
                      >
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="mobileView">
                  <div class="text-center">
                    <div class="col-12">
                      <hr class="mt-2 mb-4 borderBottom" />
                      <span class="offWhiteColor font16 font500"
                        >Need help?<span class="purpleGradient"
                          ><a
                            href="https://www.oneplay.in/contact.html"
                            target="_blank"
                          >
                            Browse FAQ</a
                          ></span
                        ></span
                      >
                    </div>
                    <div class="col-12 mt-2">
                      <p class="font14 font500 footerWhiteColor mb-0">
                        © 2022 RainBox Media Pvt Ltd. All Rights Reserved.
                      </p>
                      <p class="font14 font500 purpleGradient">
                        <a
                          href="https://www.oneplay.in/privacy.html"
                          target="_blank"
                          class="anchor"
                          >Privacy Policy</a
                        >
                        <span class="footerWhiteColor">.</span>
                        <a
                          href="https://www.oneplay.in/tnc.html"
                          target="_blank"
                          class="anchor"
                          >Terms & Conditions</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
