.card {
  @media (max-width: 756px) {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

@media (max-width: 548px) {
  .font38 {
    font-size: 28px !important;
    line-height: 38px !important;
  }

  .font20 {
    font-size: 14px !important;
    line-height: 24px !important;
  }

  .margintop20 {
    margin-top: 20px !important;
  }

  .mobileView {
    display: inline !important;
  }

  .custompaddingLeftRight {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .largeScreenHeight {
    height: auto !important;
  }

  .textCenterCustom {
    text-align: center;
  }

  .h60 {
    height: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .font38 {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  .custompaddingLeftRight {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }

  .mobileView {
    display: inline !important;
  }

  .textCenterCustom {
    text-align: center;
  }

  .h60 {
    height: 50px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .font38 {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  .custompaddingLeftRight {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .custompaddingLeftRight {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .font38 {
    font-size: 34px !important;
    line-height: 45px !important;
  }

}

@media (min-width: 1700px) and (max-width: 2600px) {
  .custompaddingLeftRight {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }

}

.footerWhiteColor {
  color: #E1E1E1;
}

.borderBottom {
  border-bottom: 1px solid #3E4246;
}

.mobileView {
  display: none;
}

.custompaddingLeftRight {
  padding-left: 10%;
  padding-right: 10%;
}

.offWhiteColor {
  color: #959595 !important;
}

.offWhiteColor:hover {
  color: #959595 !important;
}

.font18 {
  font-size: 18px;
  line-height: 30px;
}

.font500 {
  font-weight: 500 !important
}

.font20 {
  font-size: 20px;
  line-height: 34px;
}

.h60 {
  height: 60px;
}

.removeFocus:focus {
  box-shadow: none;
}

.font16 {
  font-size: 16px !important;
  line-height: 26px !important;
}


.height100vh {
  height: 100vh;
  align-items: center;
}

.loginBg {
  background-color: #151515;
}

.overflowYScroll {
  overflow-y: scroll;
}

.largeScreenHeight {
  height: 100vh;
  align-items: center;
}

.customOffWhite {
  color: #DCDCDC !important;
}

.h56 {
  height: 56px;
}

.borderRadius10 {
  border-radius: 10px;
}

.bgTransparent {
  background-color: transparent;
}

.inputFocus:focus {
  background-color: transparent;
  box-shadow: none;
  color: #8898aa !important;
}

.inputFocus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8898aa !important;
  opacity: 0.5; /* Firefox */
}

.inputFocus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8898aa !important;
}

.inputFocus::-ms-input-placeholder { /* Microsoft Edge */
  color: #8898aa !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #959595 !important;
}

::placeholder {
  color: #DCDCDC !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #DCDCDC !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #DCDCDC !important;
}

.inputBorder {
  border: 2px solid #434343;
}

.border-bottomInput {
  border-bottom: 2px solid #434343 !important;
}

.borderRadius0 {
  border-radius: 0px !important;
}

.font38 {
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0.02em;
}

.form-check-input {
  margin-top: 0.6rem !important;
}

.purpleGradient {
  background: linear-gradient(349.3deg, #A83AFE 0%, #6E59FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.btnGradient {
  background: linear-gradient(270deg, #616161 0%, #434343 100%);
  border-radius: 10px;
  color: #ffffff;
}

.field-icon {
  float: right;
  left: -15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}