<div *ngIf="!!seriousNotification" class="row alertBg py-1">
  <div class="col align-self-center pr-0">
    <p class="text-white font16 font500 mb-0 p-2 responsivetextAlign">
      {{ seriousNotification }}
    </p>
  </div>
  <div class="col-auto align-self-center pl-1">
    <button
      class="btn borderRadius50 pl-0"
      (click)="seriousNotification = null"
    >
      <i class="fas fa-times-circle text-white"></i>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
