<app-non-functional-region *ngIf="nonFunctionalRegion == true"></app-non-functional-region>
<form
  [formGroup]="registerForm"
  (submit)="register()"
  role="form"
  autocomplete="off"
  *ngIf="nonFunctionalRegion == false"
>
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-white font30 font800 mb-0 textCenterCustom">
        Create an account
      </h1>
    </div>
    <div class="col-md-12 mt-4">
      <label class="font16 font500 customOffWhite required">Name</label
      ><span
        *ngIf="nameErrored"
        class="font16 font500 errorGradientColor float-right"
        >*invalid name</span
      >
      <input
        type="text"
        formControlName="name"
        class="form-control borderRadius0 p-0 mutedColor bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
        placeholder="Name"
      />
    </div>
    <div class="col-md-12 mt-4">
      <label class="font16 font500 customOffWhite required">Email</label
      ><span
        *ngIf="emailErrored"
        class="font16 font500 errorGradientColor float-right"
        >*invalid email</span
      >
      <input
        type="email"
        formControlName="email"
        [ngClass]="{
          'border-danger':
            !registerForm.controls.email.valid &&
            registerForm.controls.email.touched
        }"
        class="form-control mutedColor p-0 borderRadius0 bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
        placeholder="example@oneplay.in"
      />
    </div>
    <div class="col-md-12 mt-4">
      <label class="font16 font500 customOffWhite required">Phone</label
      ><span
        *ngIf="phoneErrored"
        class="font16 font500 errorGradientColor float-right"
        >*invalid mobile number</span
      >
      <div class="input-group border-bottomInput borderRadius0">
        <div class="input-group-append borderRadius0">
          <select
            class="form-control pl-1 pr-4 mutedColor borderRadius0 bgTransparent inputFocus font16 font500 border-0 selectBg"
            formControlName="country_code"
          >
            <option *ngFor="let code of countryCodes" [value]="code">
              {{ code }}
            </option>
          </select>
        </div>
        <input
          type="tel"
          formControlName="phone"
          class="form-control p-0 mutedColor bgTransparent inputFocus font16 font500 border-0"
          placeholder="9999999999"
        />
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <label class="font16 font500 customOffWhite required"
        >Password
        <i
          class="fas fa-info-circle ml-1"
          ngbTooltip="Password should be at least 8 characters, 1 UPPERCASE, 1 lowercase, 1 Symbol and 1 number!"
          placement="bottom"
          triggers="click:blur"
        >
        </i> </label
      ><span
        *ngIf="passwordErrored"
        class="font16 font500 errorGradientColor float-right"
        >*Invalid password</span
      >
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          autocomplete="off"
          class="form-control borderRadius0 p-0 mutedColor bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
        />
        <span class="bgTransparent fixedIcon offWhiteColor font16 font500">
          <button
            class="btn p-0 bgTransparent customOffWhite borderRadius0"
            type="button"
            (click)="showPassword = !showPassword"
          >
            <img
              class="img-fluid"
              [src]="
                showPassword
                  ? 'assets/img/singup-login/Views.svg'
                  : 'assets/img/singup-login/Group.svg'
              "
              alt=""
            />
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <label class="font16 font500 customOffWhite mb-3 required">Gender</label>
      <div class="custom-choose">
        <div class="row">
          <div class="col text-center">
            <input
              type="radio"
              id="opt-1"
              value="male"
              formControlName="gender"
            />
            <label for="opt-1">
              <img
                src="assets/img/singup-login/male.svg"
                class="img-fluid image rounded-circle"
                alt="male"
              />
            </label>
          </div>
          <div class="col text-center">
            <input
              type="radio"
              id="opt-2"
              value="female"
              formControlName="gender"
            />
            <label for="opt-2">
              <img
                src="assets/img/singup-login/female.svg"
                class="img-fluid image rounded-circle"
                alt="female"
              />
            </label>
          </div>
          <div class="col text-center">
            <input
              type="radio"
              id="opt-3"
              value="other"
              formControlName="gender"
            />
            <label for="opt-3">
              <img
                src="assets/img/singup-login/other.svg"
                class="img-fluid image rounded-circle"
                alt="other"
              />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-3">
      <label class="font16 font500 customOffWhite">Referral ID</label
      ><span class="float-right font16 font500 mutedColor">Referral Name</span>
      <input
        type="text"
        formControlName="referred_by_id"
        class="form-control borderRadius0 p-0 mutedColor bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
        name="sampleID"
        placeholder="sampleID"
      />
    </div>
    <div class="col-md-12 mt-4">
      <div class="row mb-2">
        <div class="col-auto pr-0 pt-1">
          <input
            id="customCheckRegister"
            type="checkbox"
            class="checkBoxCircle"
            formControlName="terms_checked"
          />
        </div>
        <div class="col">
          <label for="customCheckRegister">
            <p class="font14 font500 footerWhiteColor mb-0">
              By signing up, you agree to OnePlay’s
            </p>
            <p class="font14 font500 gradientAnchor mb-0">
              <a
                [href]="domain + '/privacy.html'"
                target="_blank"
                class="anchor"
                (click)="onClickPrivacy()"
                (contextmenu)="onClickPrivacy()"
                >Privacy Policy</a
              >
              <span class="footerWhiteColor pl-2 pr-2">&</span>
              <a
                [href]="domain + '/tnc.html'"
                target="_blank"
                class="anchor"
                (click)="onClickTNC()"
                (contextmenu)="onClickTNC()"
                >Terms and Conditions</a
              >
            </p>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <input
        type="button"
        (click)="register()"
        [disabled]="checkvalidationValue"
        class="btn btn-block linearGradient border-0 font18 borderRadius10 font500 text-white"
        value="Create Account"
      />
    </div>
    <div class="col-md-12 mt-4 text-center">
      <p class="font20 font500 mt-2 offWhiteColor">
        Already have an account?
        <span class="purpleGradient"
          ><a href="javascript:void(0)" (click)="goToLogin()"
            >Login</a
          ></span
        >
      </p>
    </div>
  </div>
</form>



<ng-template #successSwalModal let-d="dismiss">
  <div class="modal-content modalBg">
    <div class="modal-body p-4 p-lg-5 text-center">
      <div class="text-center">
        <img
          [src]="successIcon"
          class="img-fluid wh70 mb-4"
          alt=""
          height="80"
          width="80"
        />
      </div>
      <p class="font16 font500 muteText">{{successMessage}}</p>
      <p class="font16 font500 muteText">
        Didn’t get mail?
        <a
          href="javascript:void(0)"
          class="btn p-0 border-0 font18 borderRadius10 font500 gradientText"
          (click)="resendVerificationLink()"
          ><u>send again</u></a
        >
      </p>
      <a
        href="javascript:void(0)"
        class="btn btn-block customLinearGradient border-0 font18 borderRadius10 font500 text-white"
        (click)="closeSuccess()"
        >Okay</a
      >
    </div>
  </div>
</ng-template>
<a href="https://discord.com/invite/Cg4ZskStE2" style="visibility: hidden;" #DiscordLink></a>