<!-- Page content -->
<div class="container pt-7 pt-lg-8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-dark shadow border-0">
        <div class="card-header bg-transparent pb-1">
          <h2 class="text-white mt-2 mb-1">Sign Up</h2>
          <div class="text-muted">
            <small>Create an account with OnePlay</small>
          </div>
        </div>
        <div class="card-body px-lg-4 py-lg-3">
          <form [formGroup]="registerForm" (submit)="register()" role="form">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="text-white-50" for="">First Name</label>
                <input
                  formControlName="first_name"
                  class="form-control bg-dark"
                  placeholder="First Name"
                  type="text"
                />
              </div>
              <div class="form-group col-md-6">
                <label class="text-white-50" for="">Last Name</label>
                <input
                  formControlName="last_name"
                  class="form-control bg-dark"
                  placeholder="Last Name"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="text-white-50" for="">Email</label>
              <input
                formControlName="email"
                class="form-control bg-dark"
                placeholder="Email"
                type="email"
              />
            </div>
            <div class="form-group">
              <label class="text-white-50" for="">Phone Number</label>
              <div
                class="input-group"
              >
                <div class="input-group-append">
                  <a class="input-group-text bg-dark">+91</a>
                </div>
                <input
                  formControlName="phone"
                  class="form-control bg-dark"
                  placeholder="Phone Number"
                  type="number"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="text-white-50" for="">Password</label>
              <input
                formControlName="password"
                class="form-control bg-dark"
                placeholder="Password"
                type="password"
              />
            </div>
            <div class="form-group">
              <label class="text-white-50" for="">Gender</label>
              <select
                formControlName="gender"
                class="form-control form-control-sm bg-dark"
              >
                <option value="" disabled>Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                <option value="unknown">Unknown</option>
              </select>
            </div>
            <div class="form-group">
              <label class="text-white-50" for="">Referral ID</label>
              <input
                formControlName="referred_by_id"
                class="form-control bg-dark"
                placeholder="Referral ID"
                type="text"
              />
            </div>
            <div class="text-muted font-italic">
              <small
                >Referral Name:
                <span class="text-success font-weight-700">{{
                  referralName
                }}</span></small
              >
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div
                  class="custom-control custom-control-alternative custom-checkbox"
                  style="z-index: 0"
                >
                  <input
                    class="custom-control-input"
                    id="customCheckRegister"
                    type="checkbox"
                  />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted"
                      >I agree with the <a href="#!">Privacy Policy</a></span
                    >
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button
                type="button"
                class="btn btn-primary btn-block mt-4"
                (click)="register()"
              >
                Create account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
