.card {
  @media (max-width: 756px) {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.passed {
  color: rgba(white, 0.3);
  transition: 0.4s all;
  text-decoration: line-through;
}

.offWhiteColor {
  color: #959595;
}

.offWhiteColor:hover {
  color: #959595;
}

.font18 {
  font-size: 18px;
  line-height: 30px;
}

.font500 {
  font-weight: 500 !important
}

.font20 {
  font-size: 20px;
  line-height: 34px;
}

.h60 {
  height: 60px;
}

.removeFocus:focus {
  box-shadow: none;
}

.linearGradient {
  background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
}

.font16 {
  font-size: 16px;
  line-height: 26px;
}


.height100vh {
  height: 100vh;
  align-items: center;
}

.loginBg {
  background-color: #212123;
}

.overflowYScroll {
  overflow-y: scroll;
}

.largeScreenHeight {
  height: 100vh;
  align-items: center;
}

.customOffWhite {
  color: #DCDCDC !important;
}

.h56 {
  height: 56px;
}

.borderRadius10 {
  border-radius: 10px;
}

.bgTransparent {
  background-color: transparent;
}

.inputFocus:focus {
  background-color: transparent;
  box-shadow: none;
  color: #DCDCDC !important;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
  font-size: 20px !important;
  line-height: 30px !important;
}

::placeholder {
  color: #DCDCDC !important;
  opacity: 1; /* Firefox */
  font-size: 20px !important;
  line-height: 30px !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #DCDCDC !important;
 font-size: 20px !important;
  line-height: 30px !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #DCDCDC !important;
 font-size: 20px !important;
  line-height: 30px !important;
}

.inputBorder {
  border: 2px solid #434343;
}

.border-bottomInput {
  border-bottom: 2px solid #434343 !important;
}

.borderRadius0 {
  border-radius: 0px !important;
}

.font38 {
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0.02em;
}

.form-check-input {
  margin-top: 0.6rem !important;
}

.purpleGradient {
  background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.custom-choose input[type='radio']:not(:checked) + label .image {
  border: 2px solid transparent;
  padding: 3px;
  opacity: 1;
}

.custom-choose input[type='radio']:checked + label .image {
  border: 2px solid #A83AFE;
  padding: 3px;
  opacity: 1;
}

.custom-choose input[type='radio']
{
  display: none;
}