<!-- Page content -->
<div class="row justify-content-center loginBg">
  <div class="col-lg-12 col-12 col-md-12 height100vh overflowYScroll">
    <div class="mobileView">
      <div class="text-center">
        <a href="https://oneplay.in">
          <img
            src="assets/img/brandLogo.svg"
            class="img-fluid mt-4 mb-3"
            alt="logo"
          />
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row largeScreenHeight justify-content-center">
        <div class="col-lg-10 pb-4">
          <form
            [formGroup]="registerForm"
            (submit)="register()"
            role="form"
            autocomplete="off"
          >
            <div class="row">
              <div class="col-md-12 mt-lg-5 mt-3">
                <h1 class="text-white font38 font800 mb-0 textCenterCustom">
                  Create an account
                </h1>
              </div>
              <div class="col-md-12 mt-4">
                <label class="font16 font500 customOffWhite required"
                  >Name</label
                ><span
                  *ngIf="nameErrored"
                  class="font16 font500 errorGradientColor float-right"
                  >*invalid name</span
                >
                <input
                  type="text"
                  formControlName="name"
                  class="form-control borderRadius0 p-0 mutedColor bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
                  placeholder="Name"
                />
              </div>
              <div class="col-md-12 mt-4">
                <label class="font16 font500 customOffWhite required"
                  >Email</label
                ><span
                  *ngIf="emailErrored"
                  class="font16 font500 errorGradientColor float-right"
                  >*invalid email</span
                >
                <input
                  type="email"
                  formControlName="email"
                  [ngClass]="{
                    'border-danger':
                      !registerForm.controls.email.valid &&
                      registerForm.controls.email.touched
                  }"
                  class="form-control mutedColor p-0 borderRadius0 bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
                  placeholder="example@oneplay.in"
                />
              </div>
              <div class="col-md-12 mt-4">
                <label class="font16 font500 customOffWhite required"
                  >Phone</label
                ><span
                  *ngIf="phoneErrored"
                  class="font16 font500 errorGradientColor float-right"
                  >*invalid phone number</span
                >
                <div class="input-group border-bottomInput borderRadius0">
                  <div class="input-group-append">
                    <select
                      class="form-control p-0 mutedColor bgTransparent inputFocus font16 font500 border-0"
                      formControlName="country_code"
                    >
                      <option *ngFor="let code of countryCodes" [value]="code">
                        {{ code }}
                      </option>
                    </select>
                  </div>
                  <input
                    type="number"
                    formControlName="phone"
                    class="form-control p-0 mutedColor bgTransparent inputFocus font16 font500 border-0 pl-2"
                    placeholder="9999999999"
                  />
                </div>
              </div>
              <div class="col-md-12 mt-4">
                <label class="font16 font500 customOffWhite required"
                  >Password</label
                ><span
                  *ngIf="passwordErrored"
                  class="font16 font500 errorGradientColor float-right"
                  >*Invalid password</span
                >
                <div class="input-group">
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    ngbTooltip="Password should be at least 8 characters, one UPPERCASE, one lowercase, one Symbol and one number!"
                    triggers="click:blur"
                    placement="top"
                    formControlName="password"
                    class="form-control borderRadius0 p-0 mutedColor bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
                  />
                  <span
                    class="input-group-text pb-0 bgTransparent border-start-0 offWhiteColor borderRadius0 font20 font500 border-0 border-bottomInput"
                  >
                    <button
                      class="btn p-0 bgTransparent borderRadius0"
                      type="button"
                      (click)="showPassword = !showPassword"
                    >
                      <em
                        class="fa"
                        [ngClass]="{
                          'fa-eye': showPassword,
                          'fa-eye-slash': !showPassword
                        }"
                      ></em>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-md-12 mt-4">
                <label class="font16 font500 customOffWhite mb-3 required"
                  >Gender</label
                >
                <div class="custom-choose">
                  <div class="row">
                    <div class="col text-center">
                      <input
                        type="radio"
                        id="opt-1"
                        value="male"
                        formControlName="gender"
                      />
                      <label for="opt-1">
                        <img
                          src="assets/img/singup-login/Male.svg"
                          class="img-fluid image rounded-circle"
                          alt="male"
                        />
                      </label>
                    </div>
                    <div class="col text-center">
                      <input
                        type="radio"
                        id="opt-2"
                        value="female"
                        formControlName="gender"
                      />
                      <label for="opt-2">
                        <img
                          src="assets/img/singup-login/female.svg"
                          class="img-fluid image rounded-circle"
                          alt="female"
                        />
                      </label>
                    </div>
                    <div class="col text-center">
                      <input
                        type="radio"
                        id="opt-3"
                        value="other"
                        formControlName="gender"
                      />
                      <label for="opt-3">
                        <img
                          src="assets/img/singup-login/Trans.svg"
                          class="img-fluid image rounded-circle"
                          alt="other"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-4 mb-3">
                <label class="font16 font500 customOffWhite">Referral ID</label
                ><span class="float-right font16 font500 mutedColor"
                  >Referral Name</span
                >
                <input
                  type="text"
                  formControlName="referred_by_id"
                  class="form-control borderRadius0 p-0 mutedColor bgTransparent inputFocus font16 font500 border-0 border-bottomInput"
                  name="sampleID"
                  placeholder="sampleID"
                />
              </div>
              <div class="col-md-12 mt-4">
                <div class="row mb-2">
                  <div class="col-auto pr-0 pt-1">
                    <input
                      id="customCheckRegister"
                      type="checkbox"
                      class="checkBoxCircle"
                      formControlName="terms_checked"
                    />
                  </div>
                  <div class="col">
                    <label for="customCheckRegister">
                      <p class="font14 font500 footerWhiteColor mb-0">
                        By signing up, you agree to OnePlay’s
                      </p>
                      <p class="font14 font500 gradientAnchor mb-0">
                        <a
                          [href]="domain + '/privacy.html'"
                          target="_blank"
                          class="anchor"
                          >Privacy Policy</a
                        >
                        <span class="footerWhiteColor pl-2 pr-2">&</span>
                        <a
                          [href]="domain + '/tnc.html'"
                          target="_blank"
                          class="anchor"
                          >Terms and Conditions</a
                        >
                      </p>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-4">
                <input
                  type="button"
                  (click)="register()"
                  [disabled]="checkvalidationValue"
                  class="btn btn-block linearGradient border-0 font18 borderRadius10 font500 text-white"
                  value="Create Account"
                />
              </div>
              <div class="col-md-12 mt-4 text-center">
                <p class="font20 font500 mt-2 offWhiteColor">
                  Already have an account?
                  <span class="purpleGradient"
                    ><a href="javascript:void(0)" [routerLink]="['/login']"
                      >Login</a
                    ></span
                  >
                </p>
              </div>
              <div class="col-md-12">
                <div class="mobileView d-block d-lg-none">
                  <div class="text-center">
                    <div class="col-12">
                      <hr class="mt-3 mb-4 borderBottom" />
                      <p class="offWhiteColor pt-2 mb-0 font16 font500">
                        Need help?<span class="purpleGradient"
                          ><a
                            href="https://www.oneplay.in/contact.html"
                            target="_blank"
                          >
                            Browse FAQ</a
                          ></span
                        >
                      </p>
                    </div>
                    <div class="col-12 mt-2 mb-4">
                      <p class="font14 font500 footerWhiteColor mb-0">
                        © 2022 RainBox Media Pvt Ltd.
                      </p>
                      <p class="font14 font500 footerWhiteColor mb-0">
                        All Rights Reserved.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
