.card {
  @media (max-width: 756px) {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.passed {
  color: rgba(white, 0.3);
  transition: 0.4s all;
  text-decoration: line-through;
}
