<!-- <div class="container pt-7">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-dark shadow border-0">
        <div class="card-header bg-transparent pb-1">
          <h2 class="text-white mt-2 mb-1">How was your experience?</h2>
        </div>
        <div class="card-body px-lg-4 py-lg-3">
          <div class="form-group mb-3">
            <label class="text-white-50" for=""
              >Rate your gameplay experience</label
            >
            <ngb-rating class="form-control bg-dark border-0" id="rating" [(rate)]="rate" [max]="5"></ngb-rating>
          </div>
          <div class="form-group">
            <label for="" class="text-white-50">
              Please select the best option suted for your rating
            </label>
            <div
              role="group"
              ngbRadioGroup
              name="radioBasic"
              [(ngModel)]="choice"
            >
              <label
                *ngFor="let option of options"
                ngbButtonLabel
                class="text-left text-white"
              >
                <input
                  ngbButton
                  type="radio"
                  [value]="option"
                />
                {{ option }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="text-white-50" for=""
              >Please add your comment</label
            >
            <textarea
              class="form-control bg-dark"
              placeholder="Write something..."
                [(ngModel)]="comment"
              type="text"
            ></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block my-4">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Feed Back New UI -->

<div class="container pb-6 pt-8">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-11 loadingBg borderRadius10">
      <div class="borderBottomTab py-4 px-md-3 text-center">
        <img
          src="assets/img/feed/Group (1).svg"
          class="img-fluid mt-4"
          alt=""
        />
        <p class="font20 font600 text-white mt-4">
          We would love your feedback
        </p>
        <p class="font16 font500 muteText mb-0">
          Our goal is to make a platform that simplifies experience.
        </p>
      </div>

      <div *ngIf="!feedPage">
        <div class="borderBottomTab py-4">
          <p class="font16 font500 offWhitecolor mx-md-4 mx-1">
            *Did you enjoy using Oneplay?
          </p>
          <div class="row mt-4 justify-content-center text-center mx-md-4 mx-1">
            <div *ngFor="let i of [1, 2, 3, 4, 5]" class="col px-1">
              <div
                class="br50 wh61 mb-2 cursorPointer"
                [ngClass]="{ activelinear: rate === i, mutedBg: rate !== i }"
                (click)="rate = i"
              >
                <span class="font20 font600 text-white mb-0 ratingText">{{
                  i
                }}</span>
              </div>
            </div>
          </div>
          <div class="mx-md-4 mx-1">
            <span class="font16 font500 mutedTextColor">Disagree</span>
            <span class="font16 font500 mutedTextColor float-right pr-md-4"
              >Agree</span
            >
          </div>
        </div>
        <div class="row py-4 mx-lg-4 mx-2">
          <div class="col align-self-center p-0">
            <button [routerLink]="['/']" class="btn font16 font500 offWhitecolor mb-0 p-0">
              Skip Survey
            </button>
          </div>
          <div class="col text-right pr-0">
            <button
              class="btn font18 font500 text-white activelinear px-4 border-left-0 border-top-0 border-right-0 responsiveBr60"
              (click)="feedBackPage()"
            >
              Next
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="feedPage">
        <div class="borderBottomTab py-4">
          <div class="mx-md-4" *ngFor="let option of qna; let i = index">
            <p class="font16 font500 offWhitecolor">{{ option.q }}</p>
            <div
              class="radioBtns btn-group btn-group-toggle w-100 mt-1 mb-4"
              data-toggle="buttons"
            >
              <label
                *ngFor="let a of option.a"
                class="btn customBtn width35 mr-md-4 mr-2"
                [ngClass]="{ active: answeres[i] === a }"
              >
                <input
                  type="radio"
                  autocomplete="off"
                  [checked]="answeres[i] === a"
                  [value]="a"
                  (click)="answeres[i] = a"
                />
                <span>{{ a }}</span>
              </label>
            </div>
          </div>
          <div class="form-group mx-md-4 mx-2">
            <label class="font16 font500 offWhitecolor mb-0" for=""
              >Suggestions</label
            >
            <span
              *ngIf="comment?.length > 300"
              class="font16 font600 errorGradientColor float-right"
              >* You have exhausted the Suggestions limit</span
            >
            <textarea
              class="form-control customBodyColor font18 font500 offWhitecolor mt-3 border-0"
              placeholder="Write a short answer"
              [(ngModel)]="comment"
              type="text"
              [ngClass]="{
                errorBorder: comment?.length > 300,
                'border-0': comment?.length < 300
              }"
            ></textarea>
          </div>
        </div>
        <div class="row py-4 mx-md-4 mx-2">
          <div class="col align-self-center p-0">
            <button [routerLink]="['/']" class="btn font16 font500 offWhitecolor mb-0 p-0">
              Skip Survey
            </button>
          </div>
          <div class="col text-right pr-0">
            <button
              class="btn font18 font500 text-white customLinearGradient px-4 border-left-0 border-top-0 border-right-0 responsiveBr60"
              (click)="onSubmit()"
              [disabled]="comment?.length > 300"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
