#rating {
  background: linear-gradient(270deg, #8A54D0 -1.64%, #D71F7B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 40px;
}

.Height100 {
  height: calc(100vh + 79px);
  align-items: center;
  position: fixed;
  left: 15px;
  width: 100%;
}

@media (min-width: 500.9px) {
  .width485 {
    width: 485px !important;
  }
}

@media (max-width: 501px) {
  .width485 {
    width: 320px !important;
  }
}