#rating {
  background: linear-gradient(270deg, #8A54D0 -1.64%, #D71F7B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 40px;
}
