<div class="row justify-content-center">
  <div class="col-lg-12 text-center">
    <h1 class="font38 text-white">Enter the code displayed on your TV</h1>
    <form [formGroup]="codeForm">
      
      <div class="row mt-lg-8 mt-md-7 mt-7 justify-content-center">
        <div class="form-group col-auto p-1 otpInput" *ngFor="let input of formInput;  index as i">
          <input #formRow type="tel" *ngIf="input !== 'indicator'" formControlName="{{input}}" class="form-control w70h61 p-1" maxlength="1" (input)="jump($event, i)" (keyup)="jumpPrev($event, i)">
          <div class="col-auto p-1" *ngIf="input === 'indicator'">
            <div class="w70h61 border-bottom-0 mutedColor p-0">-</div>
          </div>
        </div>
        
      </div>
      <div class="row mt-lg-8 mt-md-7 mt-7">
        <div class="col-md-12 text-center">
          <button
            class="btn btn-md pl-4 pr-4 borderRadius10 border-0 text-white activelinear"
            [disabled]="codeForm.invalid || loading"
            (click)="verify()"
          >
            Continue
          </button>
        </div>
        <div class="col-md-12 mt-5 text-center">
          <p class="font20">
            New to Oneplay?
            <a
              href="javascript:void(0)"
              routerLinkActive="active"
              [routerLink]="['/qr-login']"
              class="text-white"
              >Sign up now</a
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
