<div class="container py-7">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10">
      <h1 class="font700 text-white mt-3">Settings</h1>
      <nav class="mt-4">
        <div class="customNavTab nav nav-tabs">
          <a
            class="nav-item nav-link border-0 pb-3 mr-3"
            routerLinkActive="active pl-0"
            [routerLink]="['/settings', 'profile']"
            >Profile</a
          >
          <a
            class="nav-item nav-link border-0 pb-3 mr-3"
            routerLinkActive="active pl-0"
            [routerLink]="['/settings', 'security']"
            >Login & Security</a
          >
          <a
            class="nav-item nav-link border-0 pb-3 mr-3"
            routerLinkActive="active pl-0"
            [routerLink]="['/settings', 'subscription']"
            >Subscription</a
          >
          <a
            class="nav-item nav-link border-0 pb-3 mr-3"
            routerLinkActive="active pl-0"
            [routerLink]="['/settings', 'device-history']"
            >Device History</a
          >
        </div>
      </nav>
      <div class="tab-content">
        <ng-container *ngIf="activeTab === 'profile'">
          <app-basic-info></app-basic-info>
        </ng-container>
        <ng-container *ngIf="activeTab === 'security'">
          <app-security></app-security>
        </ng-container>
        <ng-container *ngIf="activeTab === 'subscription'">
          <app-subscriptions></app-subscriptions>
        </ng-container>
        <ng-container *ngIf="activeTab === 'device-history'">
          <app-device-history></app-device-history>
        </ng-container>
      </div>
    </div>
  </div>
</div>
