<div class="container py-7">
  <h1 class="text-white">Settings</h1>
  <div class="row">
    <div class="col-xl-4 mb-5 mb-xl-0">
      <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary rounded-pill">Account</button>
        <button class="btn btn-dark rounded-pill">Controllers</button>
        <button class="btn btn-dark rounded-pill">Linking</button>
      </div>
      <div class="card bg-gray-dark shadow mb-3">
        <div class="card-body">
          <h4 class="text-white">Profile information</h4>
          <p class="text-white-50 text-xs m-0">
            Edit or modify your profile picture and username here. You can also manage your password and email ID.
          </p>
        </div>
      </div>
      <div class="card bg-dark shadow mb-3">
        <div class="card-body">
          <h4 class="text-white">OnePlay Subscription</h4>
          <p class="text-white-50 text-xs m-0">
            View and manage your OnePlay subscription.
          </p>
        </div>
      </div>
      <div class="card bg-dark shadow mb-3">
        <div class="card-body">
          <h4 class="text-white">Purchase History</h4>
          <p class="text-white-50 text-xs m-0">
            View all your digital orders including your games, in-game purchases, and apps. 
          </p>
        </div>
      </div>
      <div class="card bg-dark shadow mb-3">
        <div class="card-body">
          <h4 class="text-white">Notifications</h4>
          <p class="text-white-50 text-xs m-0">
            Enable or disable notifications based on certain features of your choice.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-dark shadow mb-3">
        <div class="card-header bg-dark border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0 text-white">Basic Information</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="form-control-label text-white" for="input-username"
                >Username</label
              >
              <input
                type="text"
                id="input-username"
                class="form-control bg-darker"
                placeholder="Username"
                value="lucky.jesse"
              />
            </div>
            <div class="form-group">
              <label class="form-control-label text-white" for="input-email"
                >Country/Region*</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control bg-darker"
                placeholder="Country"
              />
            </div>
            <div class="form-group">
              <label class="form-control-label text-white" for="input-first-name"
                >Location in this Country/Region</label
              >
              <input
                type="text"
                id="input-first-name"
                class="form-control bg-darker"
                placeholder="First name"
                value="Lucky"
              />
            </div>
          </form>
        </div>
      </div>

      <div class="card bg-dark shadow">
        <div class="card-header bg-dark border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0 text-white">Login and Security</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <input
                type="password"
                id="input-username"
                class="form-control form-control-underline"
                placeholder="Change Password"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                id="input-email"
                class="form-control form-control-underline"
                placeholder="Phone number"
              />
            </div>
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Email address</label
              >
              <input
                type="email"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="jesse@example.com"
              />
            </div>
            <button class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
