.form-control-underline {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-control-underline:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.customCareerTab {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap !important;
  scrollbar-color: transparent transparent; 
}

.customCareerTab::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.customCareerTab .nav-link {
 white-space: nowrap;
}