.form-control-underline {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.customNavTab a {
  font-size: 15px !important;
}

.form-control-underline:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.customCareerTab {
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
  scrollbar-color: transparent transparent;
}

.customCareerTab::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.customCareerTab .nav-link {
  white-space: nowrap;
}

.paddingBottom {
  padding-bottom: 38px;
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    min-width: 770px !important;
    max-width: 1200px !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .speed-test {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .speed-test {
    display: none !important;
  }
}