.navbar {
    background-color: #151515;
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    z-index: 900;
    
    a {
        color: #7a7a7a;
    }
}

@media (min-width: 1200.9px) {
    .hideInlarge {
        display: none !important;
    }
}

.modalBG {
    background-color: #212123;
    border-radius: 0.4375rem;
}

.customWhite {
    color: #DCDCDC;
}

.sb-group {
    justify-content: center !important;
}