.navbar {
    background-color: #151515;
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    z-index: 900;
    
    a {
        color: #7a7a7a;
    }
}

@media (min-width: 1201px) {
    .hideInlarge {
        display: none !important;
    }
}

.modalBG {
    background-color: #151515;
}

.customWhite {
    color: #DCDCDC;
}