<nav class="navbar navbar-vertical navbar-dark d-flex d-lg-none">
  <div class="container-fluid">
    <a
      class="navbar-nav text-center"
      [routerLink]="['/home']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-home"></i>
      <div>Home</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['/store']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-store"></i>
      <div>Store</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['/streams']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-play"></i>
      <div>Streams</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['/wishlist']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-heart"></i>
      <div>Wishlist</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['/user-profile']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-cog"></i>
      <div>Settings</div>
    </a>
  </div>
</nav>
