.navbar {
    background-color: #151515;
    width: 100%;
    z-index: 900;
    padding-top: 10px;
    padding-bottom: 10px;
    
    a {
        color: #7a7a7a;
    }
}
.active .navigation-text {
    background: -webkit-linear-gradient(#A83AFE, #6E59FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1200.9px) {
    .hideInlarge {
        display: none !important;
    }
}
.iconContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 12px;
    img {
        height: 18px;
    }
}

.modalBG {
    background-color: #212123;
    border-radius: 0.4375rem;
}

.customWhite {
    color: #DCDCDC;
}

.sb-group {
    justify-content: center !important;
}

.gardientCard {
    background: linear-gradient(270deg, #212123 0%, #2A1A9A 100%);
    border-radius: 10px 10px 0px 0px;
}

.btnGradient {
    background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
    border-radius: 10px !important;
    font-size: 12px !important;
    line-height: 14px !important;
    padding: 0.655rem 1rem !important;
}

.alert-dismissible {
    padding-right: 1.5rem !important;
}

.fixedBottomCustom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}