<nav class="navbar navbar-vertical navbar-dark d-flex d-lg-none">
  <div class="container-fluid">
    <a
      class="navbar-nav text-center"
      [routerLink]="['home']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-home"></i>
      <div class="text-sm">Home</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['store']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-store"></i>
      <div class="text-sm">Store</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['streams']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-play"></i>
      <div class="text-sm">Streams</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['search']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-search"></i>
      <div class="text-sm">Search</div>
    </a>
    <a
      class="navbar-nav text-center"
      [routerLink]="['settings']"
      routerLinkActive="text-primary"
    >
      <i class="fas fa-cog"></i>
      <div class="text-sm">Settings</div>
    </a>
  </div>
</nav>
