.zoom {
    transition: transform 0.2s ease;
  
    // @media (min-width: 768px) {
    //   &:hover {
    //     transform: scale(1.02);
    //     z-index: 9;
    //   }
  
    //   &:first-child:hover {
    //     transform: scale(1.02);
    //   }
    // }
  }
  
  .overflow-auto {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; 
  }
  
  .overflow-auto::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 16px;
      font-weight: 100;
      margin-bottom: -7px;
    }
  
    .removePaddingContainer {
      padding: 0px !important;
      margin-bottom: 0px !important;
    }
  }
  
  @media (max-width: 1024px) {
    .removePaddingContainer {
      padding: 0px !important;
    }
  }
  
  .padding-right-0 {
    padding-right: 0px !important;
  }
  
  .padding-left-0 {
    padding-left: 0px !important;
  }
  
  .scrollGame {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; 
    white-space: nowrap;
    display: block;
    padding-left: 90px;
    padding-right: 78px;
    padding-top: 15px;
    padding-bottom: 20px;
    scrollbar-color: transparent transparent; 
    
    @media (max-width: 1600px) {
      padding-left: 70px;
      padding-right: 40px;
    }
    @media (max-width: 1500px) {
      padding-left: 85px;
      padding-right: 40px;
    }
    @media (max-width: 1400px) {
      padding-left: 30px;
      padding-right: 40px;
    }
    @media (max-width: 1300px) {
      padding-left: 35px;
      padding-right: 40px;
      padding-bottom: 45px;
    }
    @media (max-width: 850px) {
      padding-left: 30px;
      padding-right: 5px;
    }
    @media (max-width: 660px) {
      padding-left: 15px;
      padding-right: 5px;
    }
    @media (max-width: 575px) {
      padding-left: 15px;
      padding-right: 5px;
    }
  
    @media (max-width: 480px) {
      overflow-y: hidden;
      padding-left: 15px;
      padding-right: 5px;
      padding-bottom: 30px;
      padding-top: 16px;
      height: 370px;
    }
  }
  .scrollGameGamezopWidth {
    // @media (min-width: 1451px) and (max-width: 1450px) {
    //   padding-right: 15px !important;
    //   padding-left: 125px !important;
    //   margin: auto !important; 
    // }
    @media screen and (min-width: 1450px) {
      padding-right: 15px !important;
      padding-left: 100px !important;
      margin: auto !important; 
    }
  }
  .scrollGameHeight {
    @media (min-width: 1200px) {
      height: 460px !important;
    }
  }
  .scrollGameHeightAdjust {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1200px) {
      height: 600px !important;
    }
    @media (max-width: 1200px) {
      height: 265px !important;
    }
    @media (max-width: 475px) {
      height: 210px !important;
    }
     
  }
  .newGamezopAjustedHeight {
    // @media (max-width: 475px) {
      height: auto !important;
      display: flex !important;
      flex-wrap: wrap !important;
      gap: 10px;
      .gameCard {
        height: 225px !important;
        width: 245px !important;
        margin-bottom: 15px !important;
      }
      @media screen and (min-width: 1850px) {
        padding-left: 160px !important;
        .gameCard {
          width: 295px !important;
        }
      }
      @media screen and (min-width: 1400px) and (max-width: 1425px) {
        .gameCard {
          width: 242px !important;
        }
      }
      @media screen and (min-width: 850px) and (max-width: 1200px) {
        // padding-right: 50px !important;
        gap: 0px !important;
        .gameCard {
          width: 25% !important;
          height: 230px !important;
        }
      }
      @media screen and (min-width: 1200px) and (max-width: 1400px) {
        // padding-right: 50px !important;
        gap: 0px !important;
        .gameCard {
          width: 20% !important;
          height: 230px !important;
        }
      }
      @media screen and (min-width: 575px) and (max-width: 850px) {
        // padding-right: 10px !important;
        .gameCard {
          height: 195px !important;
          width: 31% !important;
        }
      }
  
      @media screen and (max-width: 575px) {
        // padding-right: 10px !important;
        .gameCard {
          height: 175px !important;
          width: 45% !important;
        }
      }
      @media screen and (max-width: 475px) {
        // padding-right: 10px !important;
        .gameCard {
          height: 150px !important;
          width: 45% !important;
        }
      }
    // }
  }
  
  .scrollGameStreamHeight {
    height: 390px !important;
  }
  .gamezop-list {
    display: flex;
    height: fit-content !important;
  }
  
  .paddingLeft {
    @media (max-width: 767.9px) {
      padding-left: 0px;
    }
  
    @media (max-width: 480px) {
      padding-left: 0px;
    }
  }
  
  .scrollGame::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  .scrollGame .gameCard {
    display: inline-block;
  }
  
  .w210 {
    width: 380px !important;
    height: unset !important;
  }
  .streamCard {
    width: 380px !important;
    height: unset !important;
    @media screen and (max-width: 600px) {
      width: 260px !important;
    }
  }
  .w370 {
    width: 370px !important;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  
  .w290 {
    width: 280px;
    height: 100%;
    
    @media (max-width: 320px) {
      height: 145px;
    }
  
    @media (max-width: 767.9px) {
      width: 220px;
      height: 310px;
    }
  }
  .w300 {
    height: 180px;
    width: 300px;
    @media (min-width: 768px) {
      // &:hover {
      //   transform: scale(1.1) !important;
      //   z-index: 9;
      // }
  
      // &:first-child:hover {
      //   transform: scale(1.1) !important;
      // }
    }
  }
  .scrollListing:hover > .arrowPaddingright {
      display: block !important;
  }
  .scrollListing:hover >  .arrowPaddingLeft {
    display: block !important;
  }
  
  .borderRadius15 {
    border-radius: 15px !important;
  }
  .container-fluid  {
    // padding-left: 15px !important;
  }
  
  .railHeading {
    font-weight: 500;
    font-size: 48px;
    color: #dcdcdc;
    letter-spacing: 0.02em;
    font-family: "TsukiRegular";
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    @media (max-width: 475px) {
      font-size: 32px !important;
      margin-right: 0px !important;
    }
  }
  .filterContainerList {
    display: flex;
    border-radius: 30px;
    background-color: #212123;
    padding: 10px;
    min-width: unset;
    margin-left: auto;
    overflow-x: auto;
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    .filter {
      padding: 10px 20px;
      font-weight: 600;
      color: #A8A8A8;
      margin-right: 12px;
      cursor: pointer;
      min-width: max-content;
    }
    .linearGradient {
      color: white;
      border-radius: 30px;
      min-width: max-content;
      text-align: center;
      padding: 10px 20px;
    }
     @media screen and (max-width: 475px) {
        width: 90%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        position: relative;
        right: -10px;
        padding: 8px;
     }
     @media screen and (min-width: 475px) and (max-width: 1200px) {
      width: 60%;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      position: relative;
      right: -10px;
      padding: 8px;
      overflow-x: auto;
   }
  }
  
  .arrowPaddingLeft:hover > img {
    transform: scale(1.5);
  }
  .arrowPaddingLeft {
    padding-left: 50px;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
    border-radius: 10px;
    background: #151515a8;
    display: none;
  
    @media (max-width: 1300px) {
      padding-left: 30px;
    }
  
    @media (max-width: 767.9px) {
      padding-left: 10px;
    }
  }
  .arrowPaddingright:hover > img {
    transform: scale(1.5);
  }
  .arrowPaddingright {
    padding-right: 50px;
    top: 0;
    right: 0px;
    z-index: 10;
    border: none;
    border-radius: 10px;
    background: #151515a8;
    display: none;
  
    @media (max-width: 1300px) {
      padding-right: 30px;
    }
  
    @media (max-width: 767.9px) {
      padding-right: 10px;
    }
  }
  

  .scrollGameWidthCategorySmall {
    display: flex;
    flex-wrap: wrap;
    gap: 10px !important;
    height: fit-content !important;
    .gameCard {
      height: fit-content !important;
      width: 415px !important;
    }
  }
  .scrollGameWidthCategoryLarge {
    .gameCard {
      width: 330px !important;
    }

    @media screen and (max-width: 475px) {
      .gameCard {
        width: 250px !important;
      };
    }
    @media screen and (min-width: 475px) and (max-width: 1200px) {
      .gameCard {
        width: 285px !important;
      }
    }
  }