.formControlCSS {
  border: 0px;
  border-bottom: 2px solid #434343 !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  font-size: 16px;
  font-weight: 500;
  color: #959595 !important;
}

.inputFocus:focus {
  background-color: transparent;
  box-shadow: none;
  color: #DCDCDC !important;
}


.inputFocus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8898aa !important;
  opacity: 0.5; /* Firefox */
}

.inputFocus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8898aa !important;
}

.inputFocus::-ms-input-placeholder { /* Microsoft Edge */
  color: #8898aa !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #959595 !important;
  font-size: 20px !important;
  line-height: 30px !important;
}

::placeholder {
  color: #DCDCDC !important;
  opacity: 1; /* Firefox */
  font-size: 20px !important;
  line-height: 30px !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #DCDCDC !important;
 font-size: 20px !important;
  line-height: 30px !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #DCDCDC !important;
 font-size: 20px !important;
  line-height: 30px !important;
}