<h2 class="text-white">Verify Mobile Number</h2>
<button
  *ngIf="!otpSent"
  class="btn btn-block linearGradient border-0 borderRadius10 font16 font500 text-white mt-3"
  (click)="getOTP()"
>
  Get OTP
</button>
<div *ngIf="otpSent">
  <p class="mutedTextColor font500 mb-0"> Check your mobile for the verification code </p>
  <div class="row">
    <div class="col-12 my-3">
      <input
        [formControl]="otp"
        class="form-control p-0 mutedColor inputFocus formControlCSS"
        placeholder="Enter OTP"
        type="text"
      />
    </div>
    <div class="col-auto align-self-center">
      <button type="button" 
      class="btn btn-link p-0 " 
      [ngClass]="remainingTimer ? 'muteText' : 'gradientInfoText' "
      (click)="getOTP()"
      [disabled]="remainingTimer"
      >
        Resend OTP
      </button>
    </div>
    <div class="col text-right align-self-center" *ngIf="remainingTimer">
      <p class="float-right offWhiteText font16 font500 mb-0">Time remaining {{display}}<span id="timer"></span></p>
    </div>
    <div class="col-12 mt-4">
      <button
        type="button"
        class="btn btn-block linearGradient border-0 borderRadius10 font16 font500 text-white"
        (click)="verify()"
        [disabled]="!otp.valid"
      >
        Verify
      </button>
    </div>
  </div>
</div>
