.height50vh {
    height: 50vh !important;
}
.height65vh {
    height: 65vh !important;
}
.height30vh {
    height: 30vh !important;
    width: 20vw;
}
.card-img {
    object-fit: cover;
}
.text-logo {
    width: 60%;
    left: 5%;
    img {
        width: 40%;
        height: 50%;
    }
}
.games-carousel {
    gap: 20px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    .card-carousel-img {
        height: 100px;
        width: 80px;
        object-fit: cover;
    }
    .card {
        background: transparent;
        img {
            opacity: 0.8;
            filter: blur(1px);
        }
    }
    .selectedGame {
        opacity: 1 !important;
        filter: blur(0px) !important;
        border: 1px solid transparent;
        border-radius: 15px !important;
        background-image: linear-gradient(to bottom right, #FF0CF5, #fc77f8, #0575E6, #0575E6, #0575E6);                  
        background-origin: border-box;
        padding: 2px !important;
    }
}
// .specialBackground {
//     height: 800px;
//     width: 100%;
//     background-origin: content-box !important;
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
// }