.height50vh {
    height: 50vh !important;
}
.height65vh {
    height: 65vh !important;
}
.height90vh {
    height: 90vh !important;
    @media screen and (max-width: 475px) {
        height: 50vh !important;
    }
}
.height30vh {
    height: 30vh !important;
    width: 20vw;
}
.card-img {
    object-fit: cover;
}
.audioContainer {
    margin-left: auto;
    @media screen and (min-width: 475px) {
        display: none;
    }
}
.dots-indicator {
    padding: 5px;
    border-radius: 10px;
    background-color: #151515;
    max-width: 120px;
    min-width: 80px;
    gap: 5px;
    justify-content: center;
    position: absolute;
    left: 40%;
    bottom: 15%;
    @media screen and (max-width: 1200px) {
        display: flex;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
    .dot {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: #959595;
    }
    .dot-active {
        background: linear-gradient(to right, #36FF78, #0CFFFF);
    }
}
.text-logo {
    width: 60%;
    left: 5%;
    img {
        width: 40%;
        height: 50%;
    }
}
.games-carousel {
    gap: 20px;
    position: absolute;
    bottom: 120px;
    right: 40px;
    .card-carousel-img {
        height: 100px;
        width: 80px;
        object-fit: cover;
    }
    .card {
        background: transparent;
        img {
            opacity: 0.5;
            filter: blur(1px);
        }
    }
    .selectedGame {
        opacity: 1 !important;
        filter: blur(0px) !important;
        border: 1px solid transparent;
        border-radius: 15px !important;
        background-image: linear-gradient(to bottom right, #FF0CF5, #fc77f8, #0575E6, #0575E6, #0575E6);                  
        background-origin: border-box;
        padding: 2px !important;
    }

    @media screen and (max-width: 1200px) {
        display: none !important;
    }
}
.specialBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background-origin: content-box !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.zoom-tran:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.homeListingContainer {
    background-color: #020F1B;
}
.transparentBlur {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(180deg, transparent, #020f1b8e, #020F1B);
}
.leftArrow, .rightArrow {
    background: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}