<div
  class="container-fluid pb-3 mb-lg-0 pb-lg-0"
  style="padding-left: 0px !important; padding-right: 0px !important"
>
  <ngb-carousel
    id="home-header"
    [interval]="4000"
    [pauseOnFocus]="false"
    [pauseOnHover]="true"
    [showNavigationArrows]="true"
    [showNavigationIndicators]="false"
    *ngIf="!!firstRow"
  >
    <ng-template *ngFor="let game of firstRow.games; index as i" ngbSlide>
      <div class="row mt-2 mt-lg-0">
        <div class="col p-1 overflow-hidden">
          <div class="card bgTransparent border-0 height40vh">
            <div class="row carousel-images">
              <div class="col-auto p-lg-2 p-1 customWidth">
                <div class="card bgTransparent border-0 borderRadius10">
                  <img
                    class="card-img borderRadius10 height40vh left-img"
                    [src]="
                      firstRow.games[i < 1 ? firstRow.games.length - 1 : i - 1]
                        .bgImage
                    "
                    alt="img"
                  />
                  <div class="card-img-overlay playnowbtn borderRadius10"></div>
                </div>
              </div>
              <div class="col-auto p-lg-2 p-1 customWidth1">
                <div class="card bgTransparent border-0 borderRadius10">
                  <img
                    class="card-img borderRadius10 height40vh center-img"
                    [src]="game.bgImage"
                    alt="img"
                  />
                  <div class="card-img-overlay playnowbtn borderRadius10"></div>
                </div>
              </div>
              <div class="col-auto p-lg-2 p-1 customWidth">
                <div class="card bgTransparent border-0 borderRadius10">
                  <img
                    class="card-img borderRadius10 height40vh right-img"
                    [src]="
                      firstRow.games[
                        i === firstRow.games.length - 1 ? 0 : i + 1
                      ].bgImage
                    "
                    alt="img"
                  />
                  <div class="card-img-overlay playnowbtn borderRadius10"></div>
                </div>
              </div>
            </div>
            <div class="card-img-overlay">
              <div
                class="row height30vh align-items-end pl-lg-3"
                (click)="viewBannerGame(game)"
              >
                <div class="col-auto customWidth borderRadius10">
                  <img [src]="firstRow.games[i < 1 ? firstRow.games.length - 1 : i - 1].textLogo" class="img-fluid w-75" alt="" />
                </div>
                <div class="col-auto pl-lg-4 customWidth1 borderRadius10">
                  <img [src]="game.textLogo" class="w-75" alt="" />
                  <br />
                  <button
                    (click)="viewBannerGame(game)"
                    class="btn playBtn borderRadius90 font18 px-lg-4 border-0 text-white GradientBtnPadding mt-3 mb-3 d-none d-sm-block"
                  >
                    Play Now
                  </button>
                </div>
                <div class="col-auto customWidth borderRadius10 text-center">
                  <img [src]="firstRow.games[i === firstRow.games.length - 1 ? 0 : i + 1].textLogo" class="img-fluid w-75" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container-fluid customFluid mb-3 mt-lg-3 pb-md-0 d-none d-md-block">
  <div class="row justify-content-center pt-2 pb-2">
    <div class="col-auto">
      <div class="row justify-content-center scrolltab">
        <div class="col-auto px-2 tabOptions">
          <a
            href="javascript:void(0)"
            class="card bgColor mutedColor"
            [ngClass]="{activeBG: !genreSelected}"
            [routerLink]="['/home']"
          >
            <div class="customBtnPadding bgColor">For You</div>
          </a>
        </div>
        <div class="col-auto px-2 tabOptions" *ngFor="let route of routes">
          <a
            href="javascript:void(0)"
            class="card bgColor mutedColor"
            routerLinkActive="activeBG"
            [routerLink]="['/home/' + route]"
          >
            <div class="customBtnPadding bgColor">{{ route }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="mb-0">
    <div *ngIf="genreSelected && genreGames.length > 0">
      <app-similar-games
        [title]="genreSelected"
        [games]="genreGames"
      ></app-similar-games>
    </div>
    <div>
      <app-similar-games
        *ngIf="library.length != 0"
        [title]="'My Library'"
        [games]="library"
      ></app-similar-games>
    </div>
    <ng-container *ngIf="!genreSelected">
      <app-similar-games
        *ngFor="let row of restRows"
        [title]="row.title"
        [games]="row.games"
      ></app-similar-games>
    </ng-container>
  </div>
</div>

<ngx-ui-loader [fgsColor]="'#c32ead'"></ngx-ui-loader>
