.bg-gradient-banner {
  background: linear-gradient(
    to bottom,
    rgba(21, 21, 21, 0) 15%,
    rgba(18, 18, 18, 0.49) 45%,
    rgba(18, 18, 18, 0.83) 68%,
    #151515 90%
  ) !important;
}

.text-logo {
  max-height: 150px;
  @media (max-width: 1300px) {
    width: 140px;
  }
  @media (max-width: 480px) {
    width: 100px;
  }
}

.background {
  min-height: 680px;
  background-size: cover;
  background-position: center top;

  @media (max-width: 480px) {
    min-height: 700px;
  }
}

.customOffWhite {
  color: #dcdcdc;
}

.backgroundNone {
  background-image: none;
  background-color: transparent !important;
}

.borderBg {
  background-color: #3e4246;
}

.borderRadius50 {
  border-radius: 50px;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.legalModalBg {
  background-color: #212123 !important;
}

.removeFocus:focus {
  box-shadow: none !important;
  border: none !important;
}

.mutedColor {
  color: #959595;
}

.font16 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.borderRadius90 {
  border-radius: 90px;
}

.borderRadius10 {
  border-radius: 10px !important;
}

.playnowbtn {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 23.36%, rgba(0, 0, 0, 0) 77.23%);
}

.overflow-auto {
  padding-bottom: 0px !important;
}

.height40vh {
  height: 50vh;
  @media (min-width: 481px) and (max-width: 1280.9px) {
    height: 300px;
  }
  @media (max-width: 480px) {
    height: 190px;
  }
}
.heightGamezop {
  height: 50vh;
  @media (min-width: 481px) and (max-width: 1280.9px) {
    height: 260px !important;
  }
  @media (max-width: 480px) {
    height: 170px !important;
  }
}

.height30vh {
  height: 46vh;
  overflow-y: scroll;
  @media (min-width: 481px) and (max-width: 1280.9px) {
    height: 270px;
  }
  @media (max-width: 480px) {
    height: 160px;
  }
}

.height30vh::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.carousel-images {
  img {
    object-fit: cover;
  }

  .left-img {
    object-position: right;
  }

  .right-img {
    object-position: left;
  }

  .center-img {
    object-position: top;
  }
}

.customWidth {
  width: 30%;
}

.customWidth1 {
  width: 40%;
}

@media (max-width: 1025px) {
  .customWidth {
    width: 25%;
  }
  
  .customWidth1 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .customWidth {
    width: 17% !important;
  }

  .customWidth1 {
    width: 66% !important;
  }
}

.bgColor {
  background-color: #151617;
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: 1.5px solid #3E4246;
}

.activeBG {
  background: linear-gradient(349.3deg, #a83afe 0%, #6e59fe 100%);
  padding: 1.6px;
  color: #ffffff !important;
}

.scrollGame {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; 
  overflow-y: hidden;
  white-space: nowrap;
  display: block;
  padding-left: 78px;
  padding-right: 80px;
  scrollbar-color: transparent transparent; 

  @media (max-width: 1024px) {
    padding-left: 39px;
  }

  @media (max-width: 480px) {
    overflow-y: hidden;
    padding-left: 15px;
    padding-right: 30px;
  }
}

.scrollGame::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollGame .gameCard {
  display: inline-block;
}

.scrolltab {
  overflow: auto;
  white-space: nowrap;
  display: block;
  justify-content: center;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; 
}

.scrolltab .tabOptions {
  display: inline-block;
}

.scrolltab::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.customBtnPadding {
  padding: 9px 18px;
}

.font20 {
  font-size: 20px !important;
  line-height: 34px !important;
  @media (max-width: 480px) {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}
.startContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); /* Light black color with 50% opacity */
  .heading {
    position: relative;
    top: -50px;
  }
}
.initalText {
  z-index: 1;
  width: 75%;
  margin-left: 15%;
  margin-top: 10px;
  line-height: 30px;
}