<ngb-carousel
  id="home-header"
  [interval]="4000"
  [pauseOnFocus]="false"
  [pauseOnHover]="false"
  [showNavigationArrows]="false"
  *ngIf="!!firstRow"
>
  <ng-template *ngFor="let game of firstRow.games" ngbSlide>
    <div
      class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="
        min-height: 786px;
        background-size: cover;
        background-position: center top;
      "
      [style.background-image]="
        'url(' + (game.bgImage || 'assets/img/theme/profile-cover.jpg') + ')'
      "
    >
      <!-- Mask -->
      <span class="mask bg-gradient-banner"></span>
      <!-- Header container -->
      <div class="container d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10" style="min-width: 50vw">
            <h1 class="display-2 text-white">{{ game.title }}</h1>
            <p class="text-white mt-0 mb-4">OnePlay Rating: 8/10</p>
            <p class="text-white mt-0">Available to purchase on</p>
            <a
              [href]="
                'https://www.oneplay.in/play_demo/play?id=' + game.oneplayId
              "
              target="_blank"
              class="btn btn-primary btn-lg w-25"
              >Play Now</a
            >
            <a href="#!" class="btn bg-translucent-dark text-white btn-lg"
              >Add to wishlist</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container mt--9">
  <!-- <ng-container *ngIf="!!firstRow">
    <h3 class="text-white position-relative">{{ firstRow.title }}</h3>
    <div class="d-flex overflow-auto">
      <div *ngFor="let game of firstRow.games" class="mr-4">
        <a
          [routerLink]="['/view/' + game.oneplayId]"
          class="card card-block border-0"
          style="width: 219px"
        >
          <img class="card-img" [src]="game.bgImage" height="153" alt="" />
          <div class="mask bg-darker opacity-4"></div>
          <video
            *ngIf="!!game.video"
            class="mask"
            onmouseover="this.play()"
            onmouseout="this.pause();this.currentTime=0;"
            style="border-radius: 4px; height: 100%; object-fit: cover"
          >
            <source [src]="game.video" />
          </video>
          <h5 class="position-absolute left-3 bottom-1 text-white">
            {{ game.title }}
          </h5>
        </a>
      </div>
    </div>
  </ng-container> -->

  <!-- <h3 class="text-white position-relative mt-5">Top Stream Categories</h3>
  <div class="d-flex overflow-auto">
    <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="mr-4">
      <div
        class="card card-block position-relative border-0"
        style="width: 219px"
      >
        <img
          class="card-img"
          src="../../../assets/img/theme/team-1-800x800.jpg"
          height="275"
          alt=""
        />
        <span class="mask bg-gradient-darker opacity-7 card-img"></span>
        <div class="position-absolute text-center bottom-2" style="width: 100%">
          <h4 class="text-white">Action</h4>
          <div class="text-white-50 small">13.2k viewers</div>
        </div>
      </div>
    </div>
  </div> -->

  <ng-container *ngFor="let row of restRows">
    <h3 class="text-white position-relative mt-5">{{ row.title }}</h3>
    <div class="d-flex overflow-auto">
      <div *ngFor="let game of row.games" class="mr-4">
        <a
          [routerLink]="['/view/' + game.oneplayId]"
          class="card card-block border-0"
          style="width: 219px"
        >
          <img class="card-img" [src]="game.bgImage" height="153" alt="" />
          <div class="mask bg-darker opacity-4"></div>
          <video
            *ngIf="!!game.video"
            class="mask"
            onmouseover="this.play()"
            onmouseout="this.pause();this.currentTime=0;"
            style="border-radius: 4px; height: 100%; object-fit: cover"
          >
            <source [src]="game.video" />
          </video>
          <h5 class="position-absolute left-3 bottom-1 text-white">
            {{ game.title }}
          </h5>
        </a>
      </div>
    </div>
  </ng-container>
</div>
