<a
  #gameLink
  href="javascript:void(0)"
  class="card card-block border-0 shadow-1 position-relative"
  (click)="onGameClick()"
>
  <div
    class="mask"
    style="z-index: 2;"
    (mouseenter)="playVideo(gameLink, image)"
    (mouseleave)="pauseVideo(gameLink, image)"
  >
    <img
      #image
      [ngClass]="{ w290h185: hfw }"
      class="card-img borderRadius10 loadingBg"
      [src]="game.textBgImage"
      (error)="onImgError($event)"
      [ngStyle]="{
        filter: game.status === 'live' ? 'none' : 'grayscale(100%)',
        'object-fit': hfw ? 'unset' : 'cover'
      }"
      alt=""
      loading="lazy"
    />
    <h4 *ngIf="showTitle" class="game-title">{{ game.title }}</h4>
    <div
      *ngIf="showSound"
      class="mute bg-translucent-darker"
      [ngClass]="{ unmute: !muted }"
      (click)="muteUnmute($event, gameLink, game)"
    >
      <em
        class="fa text-white"
        [ngClass]="{ 'fa-volume-down': !muted, 'fa-volume-mute': muted }"
      ></em>
    </div>
    <ngx-ui-loader
      [fgsColor]="'#c32ead'"
      [hasProgressBar]="false"
      [loaderId]="loaderId"
      [overlayBorderRadius]="'15px'"
    ></ngx-ui-loader>
    <span *ngIf="game.isFree && game.status !== 'coming_soon'" class="freeTag px-2 free">FREE</span>
    <span *ngIf="game.status === 'coming_soon'" class="redGradient px-2 free">COMING SOON</span>
    <div *ngIf="game.status === 'maintenance'" class="text-center"><span class="orangeGradientBg px-2 bottomTag">MAINTENANCE</span></div>
    <div *ngIf="game.status === 'updating'" class="text-center"><span class="updatingGradient px-2 bottomTag">UPDATING</span></div>
    <div *ngIf="game.status === 'not_optimized'" class="text-center"><span class="darkredGradient px-2 bottomTag">NOT OPTIMIZED</span></div>
  </div>
</a>
