.w290h185 {
  width: 256px !important;
  height: 150px !important;

  @media (max-width: 767.9px) {
    width: 160px !important;
    height: 95px !important;
  }
}

.mute {
  position: absolute;
  bottom: 16px;
  right: 16px;
  padding: 1px 8px;
  border-radius: 50%;
}

.unmute {
  padding: 2px 6px !important;
}

.card {
  background: none !important;
  cursor: pointer;

  .card-img {
    object-position: center;
    height: 100%;
    width: 100%;
  }

  video {
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
  }

  .game-title {
    color: #ffffff;
    position: absolute;
    top: 25%;
    left: 6px;
    width: 45%;
    max-height: 50px;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .card {
    // width: 150px;
    height: 95px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .card {
    // width: 150px;
    height: 121px;
  }
}

@media (max-width: 320px) {
  .card {
    // width: 150px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .card {
    // width: 150px;
    height: 130px !important;
  }
}

@media (min-width: 1300px) {
  .card {
    // width: 150px;
    height: 150px !important;
  }
}

.borderRadius10 {
  border-radius: 10px !important;
}

.bg-translucent-darker {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.freeTag {
  background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);  
}

.redGradient {
  background: linear-gradient(270deg, #8A54D0 -1.64%, #D71F7B 100%);
}

.orangeGradient {
  background: linear-gradient(270deg, #FE753A 0%, #F4C47A 100%);
}

.updatingGradient {
  background: linear-gradient(270deg, #3F0984 -1.64%, #8611BD 100%);
}

.darkredGradient {
  background: linear-gradient(270deg, #CE1B1B 0%, #F10E60 100%);
}