<a
  #gameLink
  href="javascript:void(0)"
  class="card card-block border-0 shadow-1 position-relative"
  (click)="onGameClick()"
>
  <div
    class="mask"
    style="z-index: 2"
    (mouseenter)="playVideo(gameLink, image)"
    (mouseleave)="pauseVideo(gameLink, image)"
  >
    <img
      #image
      class="card-img borderRadius10 w290h185 loadingBg"
      [src]="game.textBgImage"
      (error)="onImgError($event)"
      [ngStyle]="{
        filter: game.status === 'live' ? 'none' : 'grayscale(100%)'
      }"
      alt=""
      loading="lazy"
    />
    <h4 *ngIf="showTitle" class="game-title">{{game.title}}</h4>
    <div
      *ngIf="showSound"
      class="mute bg-translucent-darker"
      [ngClass]="{ unmute: !muted }"
      (click)="muteUnmute($event, gameLink, game)"
    >
      <em
        class="fa text-white"
        [ngClass]="{ 'fa-volume-down': muted, 'fa-volume-mute': !muted }"
      ></em>
    </div>
    <ngx-ui-loader
      [fgsColor]="'#c32ead'"
      [hasProgressBar]="false"
      [loaderId]="loaderId"
    ></ngx-ui-loader>
    <span *ngIf="game.isFree" class="freeTag pl-3 pr-3" id="free">FREE</span>
  </div>
</a>
