.topHeading {
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.76px;
    color: #fff;
}

.height100 {
    height: calc(100vh - 78px);
    align-items: center;
}

.dataHeading {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.56px;
    color: #959595;
}