<div class="container pageBg">
    <div class="row height100">
        <div class="col-md-12">
            <h1 class="topHeading text-center">Oneplay Speed Test <span class="d-none">Results</span></h1>
            <div class="row justify-content-center mt-4">
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <img src="assets/img/speed-test/Latency 3.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="col pl-0">
                            <span class="font16 font500 offWhiteText">Latency <span class="muteText">ms</span></span>
                            <p class="dataHeading">12.09</p>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <img src="assets/img/speed-test/Jitter 1.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="col pl-0">
                            <span class="font16 font500 offWhiteText">Jitter <span class="muteText">ms</span></span>
                            <p class="dataHeading">0.62</p>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <img src="assets/img/speed-test/Download 1.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="col pl-0">
                            <span class="font16 font500 offWhiteText">Download <span class="muteText">mbps</span></span>
                            <p class="dataHeading text-white">93.79</p>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <img src="assets/img/speed-test/Upload 1.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="col pl-0">
                            <span class="font16 font500 offWhiteText">Upload <span class="muteText">mbps</span></span>
                            <p class="dataHeading">94.84</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>