<div class="chat-header container-fluid d-flex align-item-center row justify-content-between">
  <div class="display-4 boldHeadingWhite px-10">Chat</div>
  <div *ngIf="requests > 0" class="d-flex align-item-center">
    <a href="javascript:void(0)" class="font16 font500 anchorGradientPurple" (click)="goToMail()">
      <img src="assets/img/chat/friend-request.svg" class="img-fluid mr-3" alt="" />
      <span class="align-middle">{{ requests }} new friend request{{ requests > 1 ? "s" : "" }}</span>
    </a>
  </div>
</div>

<app-friends-main
  *ngIf="currentScreen === 'main'"
  (goToParties)="goToParties()"
  (goToMail)="goToMail()"
  (goToChat)="goToChat($event)"
  (recievedFriendRequest)="recievedFriendRequest($event)"
>
</app-friends-main>

<app-invites
  *ngIf="currentScreen === 'invites'"
  (goBack)="goBack()"
></app-invites>

<app-parties
  *ngIf="currentScreen === 'parties'"
  (goBack)="goBack()"
  (goToInvites)="goToInvites()"
  (goToCreateParty)="goToCreateParty()"
  (selectParty)="selectParty($event)"
>
</app-parties>

<app-party
  *ngIf="currentScreen === 'party'"
  [partyId]="selectedParty"
  (goBack)="goBack()"
  (goToPartySettings)="goToPartySettings($event)"
  (goToPartyInvite)="goToPartyInvite($event)"
  (goToPartyChat)="goToPartyChat($event)"
></app-party>

<app-create-party
  *ngIf="currentScreen === 'create_party'"
  (goBack)="goBack()"
  (selectParty)="selectParty($event)"
>
</app-create-party>

<app-party-settings
  *ngIf="currentScreen === 'party_settings'"
  [partyId]="selectedParty"
  (goBack)="goBack()"
></app-party-settings>

<app-party-invite
  *ngIf="currentScreen === 'party_invite'"
  [partyId]="selectedParty"
  (goBack)="goBack()"
></app-party-invite>

<app-unread *ngIf="currentScreen === 'mail'" (goBack)="goBack()"> </app-unread>

<app-direct-chat
  *ngIf="currentScreen === 'chat'"
  (goBack)="goBack()"
  [friendId]="selectedFriend"
></app-direct-chat>

<app-party-chat
  *ngIf="currentScreen === 'party_chat'"
  [partyId]="selectedParty"
  (goBack)="goBack()"
></app-party-chat>
