<a
  href="javascript:void(0)"
  class="card card-block bg-dark border-0 shadow-1 position-relative"
>
  <div>
    <img
      class="card-img"
      [src]="game.textBgImage"
      (error)="onImgError($event)"
      alt=""
    />
    <h4 *ngIf="showTitle" class="game-title">{{ game.title }}</h4>
  </div>
  <div class="card-img-overlay p-1" (click)="onclick()">
    <div class="row">
      <div class="col-auto p-0">
        <span *ngIf="game.isFree" class="freeTag px-2 free tagText top--1 position-relative">FREE</span>
      </div>
      <div class="col text-right increateZIndex">
        <label class="checkbox-control">
          <input
            type="checkbox"
            class="checkbox"
            [checked]="isChecked"
            (change)="onclick()"
          />
          <span class="checkbox-control__target">Card Label</span>
        </label>
      </div>
    </div>
  </div>
</a>
