<div class="container">
    <div class="row justify-content-center bodHeight">
        <div class="col-11 col-sm-10 col-md-8 col-lg-5 text-center pt-5 pb-5 ">
            <img src="assets/img/error/error.svg" class="img-fluid d-none d-sm-inline-block" alt="" />
            <h3 class="errorHeading mt-sm-5">Server Error</h3>
            <p class="subErrorHeading mt-2">
                Error: Http failure response
            </p>
            <img src="assets/img/error/Server_Error_mobile 1.svg" class="img-fluid d-inline-block d-sm-none mt-4" alt="" />
            <div class="mt-sm-4 mt-5">
                <button class="btn btn-lg btn-block border-0 confirmBtn" (click)="onClick()">OK</button>
            </div>
        </div>
    </div>
</div>