<div class="container">
    <div class="row justify-content-center height100">
        <div class="col-md-8 col-lg-6 text-center py-5">
            <img src="assets/img/Frame.svg" class="img-fluid w-75" alt="" />
            <h3 class="font28 font700 text-white py-4 mb-0">Enhancement Break</h3>
            <p class="font16 font500 muteText">
                Stay tuned for the next update! We're adding some epic 
                finishing moves to level up the awesomeness!
            </p>
        </div>
    </div>
</div>