<div class="container">
    <div class="row justify-content-center bodHeight">
        <div class="col-11 col-sm-10 col-md-8 col-lg-5 text-center pt-5 pb-5">
            <img src="assets/img/error/error.svg" class="img-fluid d-none d-sm-inline-block fixedWidth" alt="" />
            <h3 class="errorHeading mt-sm-5">Server Error</h3>
            <p class="subErrorHeading mt-2 px-md-5">
                It looks like service in unreachable, please try again.
            </p>
            <img src="assets/img/error/Server_Error_mobile 1.svg" class="img-fluid d-inline-block d-sm-none mt-4" alt="" />
            <div class="mt-sm-4 mt-5">
                <button class="btn py-3 btn-block border-0 confirmBtn" (click)="onClick()">Try Again</button>
            </div>
        </div>
    </div>
</div>