<nav
  class="navbar navbar-vertical navbar-expand-md navbar-dark"
  id="sidenav-main"
>
  <div class="container-fluid">
    <div>
      <!-- Brand -->
      <a class="navbar-brand pt-0" [routerLink]="['/home']">
        <img
          src="./assets/img/brand/logo.png"
          class="navbar-brand-img"
          alt="..."
        />
      </a>
    </div>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" placement="bottom-right">
        <a class="nav-link nav-link-icon text-white" role="button" (click)="isCollapsed = !isCollapsed">
          <i class="fas fa-search"></i>
        </a>
      </li>
            <li class="nav-item">
        <a class="nav-link" [href]="gameLink | safe">
          <span class="avatar avatar-sm rounded-circle bg-gray-dark position-relative">
            <i
              class="fa fa-gamepad"
              aria-hidden="true"
              [ngClass]="{ 'test-success': isGameRunning }"
            ></i>
            <span *ngIf="isUserLive" id="live">LIVE</span>
          </span>
        </a>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <span class="avatar avatar-sm rounded-circle">
            <img alt="Image placeholder" [src]="title | avatar" />
          </span>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">{{ title }}</h6>
          </div>
          <a
            routerLinkActive="active"
            [routerLink]="['/user-profile']"
            class="dropdown-item"
          >
            <i class="ni ni-settings"></i>
            <span>Settings</span>
          </a>
          <a
            routerLinkActive="active"
            [routerLink]="['/wishlist']"
            class="dropdown-item"
          >
            <i class="ni ni-favourite-28"></i>
            <span>Your Wishlist</span>
          </a>
          <a href="javascript:void(0)" class="dropdown-item" (click)="open(share)">
            <i class="fa fa-link" aria-hidden="true"></i>
            <span>Referral Link</span>
          </a>
          <a href="https://www.oneplay.in/speed-test/run" class="dropdown-item">
            <i class="fa fa-bolt"></i>
            <span>Speed Test</span>
          </a>
          <a href="https://www.oneplay.in/subscription.html" class="dropdown-item">
            <i class="ni ni-credit-card"></i>
            <span>Subscription</span>
          </a>
          <a href="https://www.oneplay.in/download.html" class="dropdown-item">
            <i class="ni ni-cloud-download-95"></i>
            <span>Downloads</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">
            <i class="ni ni-button-power"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none" style="width: 100%">
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
            >
              <span class="bg-white"></span>
              <span class="bg-white"></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <div
        class="form-group w-100"
        [ngClass]="{ focused: (isFocused | async) === true }"
      >
          <input
            class="form-control bg-darker"
            placeholder="Search"
            type="text"
            [formControl]="query"
            (focus)="onFocus()"
            (blur)="onBlur()"
          />
      </div>
      <ul
        class="w-100 list-group flex-grow-1 py-3 overflow-auto"
      >
        <li
          *ngFor="let game of results"
          class="list-group-item bg-darker d-flex border-0 mb-2"
          [routerLink]="['/view/' + (game | glink)]"
          style="cursor: pointer"
        >
          <img
            [src]="game.textBgImage"
            class="mr-3"
            width="80"
            height="50"
            alt=""
          />
          <div>
            <p class="list-group-heading text-white m-0">{{ game.title }}</p>
            <p class="list-group-content text-white-50 small m-0">
              {{ game.releaseDate.getFullYear() }}
            </p>
          </div>
        </li>
      </ul>
      <div class="collapse-brand d-block d-md-none">
        <a routerLinkActive="active" [routerLink]="['/dashboard']">
          <img src="./assets/img/brand/logo.png" />
        </a>
      </div>
    </div>
  </div>
</nav>

<ng-template #share let-d="dismiss">
  <div class="modal-content position-relative">
    <div
      class="position-absolute btn btn-github rounded-circle top--4 right--6 py-3"
      (click)="d('Cross click')"
    >
      <i class="fas fa-times"></i>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <h2 class="text-dark mb-4">Share/Copy Referral Link</h2>
        </div>
      </div>
      <share-buttons
        [url]="link"
        [include]="['facebook','twitter','linkedin','telegram','messenger','whatsapp','email','copy']"
        theme="material-dark"
        show="11"
      ></share-buttons>
    </div>
  </div>
</ng-template>
