<div *ngIf="!!video" class="row m-0 pt-lg-7 stream">
  <div class="col-md-9 col-sm-12 d-flex flex-column px-0">
    <iframe
      class="youtube-player"
      [src]="playing | safe"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="container-fluid text-white pt-4">{{ video.title }}</div>
    <div
      class="d-flex justify-content-between align-items-center container-fluid py-4"
    >
      <div class="d-flex align-items-center">
        <div class="avatar avatar-lg rounded-circle mr-2">
          <img [src]="video.channelTitle | avatar" alt="" />
        </div>
        <div>
          <div class="text-sm text-white">{{ video.channelTitle }}</div>
          <div class="text-xs text-white-50 d-none d-md-block">
            {{ video.title }}
          </div>
          <span class="badge bg-light text-dark">{{
            video.liveBroadcastContent
          }}</span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <a
          [href]="'https://www.youtube.com/channel/' + video.channelId"
          class="btn btn-primary"
          >Follow</a
        >
        <!-- <div class="text-dark mr-1 text-lg">|</div>
        <i
          class="fa fa-share-alt text-white text-lg mr-2"
          aria-hidden="true"
        ></i>
        <i
          class="fa fa-exclamation-circle text-white text-lg"
          aria-hidden="true"
        ></i> -->
      </div>
    </div>
  </div>
  <!-- <div
    class="col-md-3 col-sm-12 d-flex flex-column"
    style="background: #171717"
  >
    <div class="flex-grow-1">
      <div class="row bg-dark py-3">
        <div class="col text-white">Chats</div>
        <div class="col flex-grow-0 text-white-50">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
      </div>
      <div class="py-4 overflow-auto" style="max-height: 580px">
        <div *ngFor="let msg of chats" class="d-flex align-items-center mb-3">
          <div
            class="avatar avatar-sm rounded-circle mr-2"
            style="width: 24px; height: 24px"
          >
            <img [src]="msg.photo" alt="" />
          </div>
          <div class="text-white-50 mr-2 text-sm">{{ msg.name }}</div>
          <div class="text-white text-sm">{{ msg.message }}</div>
        </div>
      </div>
    </div>
    <form class="d-flex mb-4">
      <input
        type="text"
        class="form-control bg-transparent mr-2"
        placeholder="Type something..."
      />
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div> -->
</div>
<div class="container-fluid pb-5">
  <div *ngIf="!!game" class="row mt-4">
    <div class="col-md-9 col-sm-12">
      <div class="card bg-dark">
        <div class="card-body row">
          <div class="col-md-8 col-sm-12 d-flex">
            <img
              [src]="game.posterImg"
              alt=""
              style="border-radius: 8px"
              width="121"
              height="163"
            />
            <div class="ml-3">
              <h3 class="text-white">{{ game.title }}</h3>
              <p class="text-white-50 text-sm">
                Play-time: {{ game.playTime }}
              </p>
              <div class="mb-4">
                <div
                  class="badge bg-gray text-darker mb-2 mr-2"
                  *ngFor="let genre of game.genreMappings"
                >
                  {{ genre | titlecase }}
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="text-xs text-white mr-2">Developers</div>
                <div
                  *ngFor="let dev of game.developer"
                  class="avatar avatar-sm rounded-circle mr-1"
                >
                  <img [src]="dev | avatar" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <h5 class="text-white">Get this game</h5>
            <div
              *ngFor="let store of game.storesMapping"
              class="card p-2 mb-2"
              style="background-color: #8181816b"
            >
              <div
                class="d-flex justify-content-between align-items-center text-white"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-stop-circle text-xl"></i>
                  <span class="text-sm ml-1">{{ store.name | titlecase }}</span>
                </div>
                <a
                  [href]="store.link"
                  target="_blank"
                  class="btn btn-sm btn-primary"
                  >View</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12"></div>
  </div>
  <div *ngIf="topVideos.length && !!game" class="mt-5">
    <app-stream-card
      [title]="'Other streams you might like'"
      [gameId]="game.oneplayId"
      [videos]="topVideos"
    ></app-stream-card>
  </div>
</div>
