<form role="form" *ngIf="!resetemail">
  <div class="row mt-5">
    <div class="col-md-12">
      <h1 class="text-white text-center font30 font800 textCenterCustom">
        Forgot Password
      </h1>
      <p class="font20 font500 text-center offWhiteColor">
        Enter the email address or phone number linked to your account
      </p>
    </div>
    <form [formGroup]="forgotPasswordForm" role="form" autocomplete="off" class="form-container col-md-12 mt-3">
      <div class="col-md-12 mt-3 email-container">
        <label class="font16 font500 customOffWhite">Email Address</label><span *ngIf="emailErrored"
          class="font16 font500 errorGradientColor float-right">*invalid email address</span>
        <div class="input-group">
          <input type="email" formControlName="email"
            class="form-control p-0 offWhiteColor bgTransparent inputFocus font16 font500 border-0 borderRadius0 border-bottomInput"
            placeholder="example@oneplay.in" (keypress)="onKeyPressCheckEmail($event)"/>
        </div>
      </div>
      <div class="section-divider d-flex align-items-center justify-content-center w-100">
        <div class="left-divider border"></div>
        <div class="text font18 font500" style="padding: 0px 10px">or</div>
        <div class="right-divider border"></div>
      </div>
      <div class="col-md-12 mt-4 mobile-container">
        <label class="font16 font500 customOffWhite">Phone Number</label>
        <span *ngIf="phoneErrored" class="font16 font500 errorGradientColor float-right">*invalid phone number</span>
        <div class="input-group border-bottomInput borderRadius0">
          <div class="input-group-append borderRadius0">
            <select
              class="form-control pl-1 pr-4 mutedColor borderRadius0 bgTransparent inputFocus font16 font500 border-0 selectBg"
              formControlName="country_code">
              <option *ngFor="let code of countryCodes" [value]="code">
                {{ code }}
              </option>
            </select>
          </div>
          <input type="number" formControlName="phone"
            class="form-control p-0 mutedColor bgTransparent inputFocus font16 font500 border-0"
            placeholder="Mobile Number" (keypress)="onKeyPressCheckMobile($event)" />
        </div>
        <div class="row mt-3" *ngIf="errorMessage">
          <div class="col-auto align-self-center offWhiteText pr-0">
            <p class="font16 font500 errorGradientColor mb-0">{{ errorMessage }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <input type="button" [disabled]="checkvalidationValue" (click)="submit()"
          class="btn btn-block linearGradient border-0 borderRadius10 font16 font500 text-white" value="Next" />
      </div>
    </form>
    <div class="col-md-12 pt-3 text-center margintop20">
      <p class="font20 font500 mt-lg-3 offWhiteColor">
        Remember password?
        <span class="purpleGradient"><a href="javascript:void(0)" (click)="goToLogin()">Log in</a></span>
      </p>
    </div>
  </div>
</form>
<div class="row justify-content-center" *ngIf="resetemail">
  <div class="col-auto width410 textCenterCustom">
    <div class="text-center">
      <img src="assets/img/singup-login/Group 250.svg" class="img-fluid wh70" alt="" />
    </div>
    <h1 class="text-white font30 font800 mb-4 mt-4">Recovery Email Sent</h1>
    <p class="font20 font500 offWhiteColor">
      We’ve sent you instructions on your email address.
    </p>
  </div>
</div>
