<form role="form" *ngIf="!resetemail">
  <div class="row mt-4">
    <div class="col-md-12">
      <h1 class="text-white font30 font800 textCenterCustom">
        Forgot Password
      </h1>
      <p class="font20 font500 offWhiteColor mt-4">
        Enter the email address associated with your account.
      </p>
    </div>
    <div class="col-md-12 mt-3">
      <label class="font16 font500 customOffWhite">Email</label
      ><span
        *ngIf="email.touched && email.invalid"
        class="font16 font500 errorGradientColor float-right"
        >*invalid email</span
      >
      <div class="input-group">
        <input
          type="email"
          [formControl]="email"
          class="form-control p-0 offWhiteColor bgTransparent inputFocus font16 font500 border-0 borderRadius0 border-bottomInput"
          placeholder="example@oneplay.in"
        />
      </div>
    </div>
    <div class="col-md-12 mt-5">
      <input
        type="button"
        [disabled]="email.invalid"
        (click)="submit()"
        class="btn btn-block linearGradient border-0 borderRadius10 font16 font500 text-white"
        value="Submit"
      />
    </div>
    <div class="col-md-12 pt-3 text-center margintop20">
      <p class="font20 font500 mt-lg-3 offWhiteColor">
        Remember password?
        <span class="purpleGradient"
          ><a href="javascript:void(0)" (click)="goToLogin()">Log in</a></span
        >
      </p>
    </div>
  </div>
</form>
<div class="row justify-content-center" *ngIf="resetemail">
  <div class="col-auto width410 textCenterCustom">
    <div class="text-center">
      <img
        src="assets/img/singup-login/Group 250.svg"
        class="img-fluid wh70"
        alt=""
      />
    </div>
    <h1 class="text-white font30 font800 mb-4 mt-4">Recovery Email Sent</h1>
    <p class="font20 font500 offWhiteColor">
      We’ve sent you instructions on your email address.
    </p>
  </div>
</div>
