<div class="row p-3">
  <div class="col-12">
    <div class="row mb-3">
      <div class="col-auto align-self-center pr-0">
        <img src="assets/img/chat/left-arrow.svg" (click)="goBack.emit()" class="img-fluid mr-3 cursorPointer" alt="" />
      </div>
      <div class="col-auto align-self-center p-0">
        <img src="assets/img/singup-login/female.svg" class="img-fluid rounded-circle" width="48" height="48" alt="" />
      </div>
      <div class="col align-self-center">
        <p class="font16 font500 offWhiteText mb-0">{{ friend.name }}</p>
        <p class="font16 font500 gradientInfoText mb-0" *ngIf="friend.isOnline">Online</p>
      </div>
    </div>
    <div class="borderBottomTab"></div>
  </div>

  <div class="col-12">
    <ul #chatBox class="navbar-nav flex-grow-1 px-3 overflow-auto">
      <li
        *ngFor="let msg of messages"
        class="d-flex align-items-center my-3"
        [ngClass]="{ 'justify-content-end': isUserSender(msg) }"
      >
        <!-- <div
          class="mr-2"
        >
          <img [src]="getSenderName(msg) | avatar" width="24px" height="24px" class="avatar avatar-sm rounded-circle" alt="" />
        </div>
        <div class="text-white-50 mr-2 text-sm">
          {{ getSenderName(msg) }}
        </div> -->
        <div>
          <p class="mb-0 font16 font500 offWhiteText">{{ msg.message }}</p>
          <p class="mb-0 font14 muteText">{{ msg.createdAt | date : "dd.MM.yyyy hh:mm a" }}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-12 fixedPosition">
    <form (submit)="sendMessage()">
      <div class="input-group mutedBg padding2px">
        <div class="input-group-prepend">
          <span class="input-group-text lightBg border-0"><img src="assets/img/chat/emoji.svg" class="img-fluid cursorPointer" alt="" /></span>
        </div>
        <input
          type="text"
          class="form-control font16 muteText font500 lightBg border-0"
          [formControl]="message"
          placeholder="Send message"
        />
        <div class="input-group-append">
          <button class="btn lightBg" type="submit">
            <em class="fas fa-paper-plane text-white text-xs"></em>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
