.cardBox {
    background: #00000099;
    border-radius: 40px;
    backdrop-filter: blur(9px);
  }
  
  .header {
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    letter-spacing: 2%;
    @media (max-width: 710px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  
  .countTip {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 4px solid #3E4246;
    text-align: center;
    align-items: center;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    color: #DCDCDC;
    @media (max-width: 710px) {
      height: 28px;
      width: 28px;
      font-size: 18px;
      line-height: 22px;
    }
  }
  
  .tipText {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: #DCDCDC;
    @media (max-width: 710px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  
  .borderright {
    border-right: 2px solid #FFFFFF26
  }
  
  .outerRange {
    height: 28px;
    width: 100%;
    background: #3E4246;
    border-radius: 15px !important;
  }
  
  .innerRange {
    background: linear-gradient(270deg, #3AA0FE 0%, #59FEF4 100%);
    border-radius: 15px;
    // width: 0%;
    height: 28px;
  }
  
  .percenterText {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    // display: flex;
  }