<div class="container-fluid position-absolute w-100 zIndex99999 top-0" style="padding-left: 0px !important; padding-right: 0px !important;">
    <div class="row" style="height: 100vh">
      <div class="col-12 p-0">
        <div class="card border-0">
          <img
            class="card-img img-fluid" style="height: 100vh"
            src="https://imagic.edge-net.co/magic/rs:fit:1920:1080:1/dpr:2/aHR0cHM6Ly9vbmVwbGF5LWFzc2V0cy5zMy5hcC1zb3V0aC0xLmFtYXpvbmF3cy5jb20vZ2FtZV9hc3NldHMvZTcwOWMyMzliODUxNjI5YjJmNjA2NDEwYWFiNjhlZTZhZGRjZjM5ZDc5ODNhMmNlNzMxYzg3OTQyNzg2ZTJmYi9pbWFnZXMvYmFja2dyb3VuZF9pbWFnZS91bmNoYXJ0ZWQtYmFja2dyb3VuZC5qcGc.webp"
            
            alt="Card image"
          />
          <div
            class="card-img-overlay h-100"
          >
            <div class="cardBox p-5 m-5 fixed-bottom">
              <div class="row">
                <div class="col borderright">
                  <p class="header text-white">Loading...</p>
                  <div class="row">
                    <div class="col-auto">
                      <p class="countTip mb-0">2</p>
                    </div>
                    <div class="col pl-0 align-self-center">
                      <h3 class="tipText">TIP: you can connect & use your game Controller.</h3>
                    </div>
                  </div>
                  <div class="outerRange mt-4">
                    <div class="innerRange text-right pr-3">
                      <span class="percenterText text-white">45%</span>
                    </div>
                  </div>
                </div>
                <div class="col-auto align-self-center pl-5">
                  <img
                    src="assets/img/brandLogo.svg"
                    class="img-fluid mt-3 mb-0"
                    alt="logo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>