<div class="container-fluid initializing fixed-top">
    <div class="row">
      <div class="col-12 p-0">
        <div class="card border-0">
        <img
            class="card-img img-fluid"
            style="object-fit: cover; object-position: top; height: 100vh"
            [src]="(game.isInstallAndPlay ? game.installPlayLoadingImg : game.bgImage)"
            (error)="$event.target.src = 'assets/img/default_bg.webp'"
            alt="Card image"
          />
          <div
            class="card-img-overlay h-100"
          >
            <div class="cardBox p-lg-4 p-3 m-lg-5 m-md-3 m-1 fixed-bottom">
              <div class="row m-lg-1 justify-content-center">
                <div class="col-md-9 col-sm-9 col-12 borderright pr-md-5">
                  <p class="header text-white mb-2 mb-lg-3 truncate-line-clamp">{{ initialized }}</p>
                  <div class="row fixedHeight">
                    <div class="col-auto align-self-center">
                      <p class="countTip mb-0">{{tip_count}}</p>
                    </div>
                    <div class="col pl-0 align-self-center">
                      <h3 class="tipText mb-0">{{tip_msg}}</h3>
                    </div>
                  </div>
                  <div class="card outerRange border-0 mt-lg-4 mt-2">
                    <div class="innerRange text-right pr-3" *ngIf="progress != 0" [ngStyle]="{'width.%': progress}"></div>
                    <div class="card-img-overlay text-center p-0">
                      <span class="percenterText text-white">{{progress}}%</span>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-3 col-sm-3 col-5 text-center align-self-center">
                  <img
                    src="assets/img/brand/brandLogo.svg"
                    class="img-fluid mt-lg-3 mt-2 mb-0"
                    alt="logo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>