<div class="row mt-4">
    <div class="col-md-11 col-lg-11">
    <p class="font18 font500 text-white mb-0">Gameplay History</p>
      <div class="table-responsive">
        <table class="customTable table w-100 mt-4">
          <thead>
            <tr>
              <th scope="col" class="pl-0">Game</th>
              <th scope="col">Device</th>
              <th scope="col">Location</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="align-middle py-3 pl-0">
                    Apex Legends
                </td>
                <td class="align-middle py-3">
                    Chrome
                    <p class="customTableText mb-0 mt-1">WebView</p>
                </td>
                <td class="align-middle py-3">
                    Mumbai
                    <p class="customTableText mb-0 mt-1">India</p>
                </td>
                <td class="align-middle py-3">
                    6:45 pm
                    <p class="customTableText mb-0 mt-1">23/07/2023</p>
                </td>
                <td class="align-middle py-3">
                    6:45 pm
                    <p class="customTableText mb-0 mt-1">23/07/2023</p>
                </td>
                <td class="align-middle py-3 activeGradientText">
                    1h 30m
                </td>
            </tr>
            <!-- <tr *ngFor="let session of sessions">
              <td class="align-middle py-3 pl-0" scope="row">
                <ng-container *ngIf="session.device">
                  {{ session.device.app }}
                  <p class="customTableText mb-0">{{ session.device.device }}</p>
                </ng-container>
                <div *ngIf="!session.device">-</div>
              </td>
              <td class="align-middle py-3">
                <ng-container *ngIf="session.location">
                  {{ session.location.city }}
                  <p class="customTableText mb-0">{{ session.location.country }}</p>
                </ng-container>
                <div *ngIf="!session.location">-</div>
              </td>
              <td
                class="align-middle py-3"
              >
                {{
                  isActive(session)
                    ? "Active Now"
                    : (session.timestamp | time_ago)
                }}
              </td>
              <td class="align-middle py-3 text-right activeGradientText">
                <button
                  class="btn btn-link customgradientText p-0"
                  (click)="logoutAlert(LogoutModal, session)"
                >
                  Logout
                </button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
</div>