<div class="row mt-4 justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 text-center mt-4" *ngIf="gamePlaysessions.length === 0 && !loading">
      <img src="assets/img/setting/Isolation-Mode.svg" class="img-fluid px-4" alt="" />
      <h1 class="headingSub font700 text-white mt-4">
        No Gameplay History Yet. Start Your Journey!
      </h1>
    </div>
    <div class="col-md-12" *ngIf="gamePlaysessions.length > 0; else EmptyList">
      <p class="font18 font500 text-white mb-0">Gameplay History</p>
      <cdk-virtual-scroll-viewport itemSize="85" class="virtualScrollWH">
        <div class="table-responsive">
          <table class="customTable table w-100 mt-4 borderBottomTab">
            <thead>
              <tr>
                <th scope="col" class="pl-0">
                  <div class="width120">
                    Game
                  </div>
                </th>
                <th scope="col">Device</th>
                <th scope="col">Location</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr *cdkVirtualFor="let gameplay of gamePlaysessions">
                <td class="align-middle py-3 pl-0">
                  <div class="width120">
                    <span class="truncate-line-clamp">{{gameplay.game}}</span>
                  </div>
                </td>
                <td class="align-middle py-3">
                  {{gameplay.device.app}}
                  <p class="customTableText mb-0 mt-1">{{gameplay.device.device}}</p>
                </td>
                <td class="align-middle py-3">
                  {{ gameplay.location.city }}
                  <p class="customTableText mb-0 mt-1">{{ gameplay.location.country }}</p>
                </td>
                <td class="align-middle py-3">
                  {{gameplay.startTime | date : 'hh:mm a'}}
                  <p class="customTableText mb-0 mt-1">
                    {{gameplay.startTime | date : "dd/MM/yyyy"}}
                  </p>
                </td>
                <td class="align-middle py-3">
                  <ng-container *ngIf="gameplay.endTime">
                    {{gameplay.endTime | date : 'hh:mm a'}}
                    <p class="customTableText mb-0 mt-1">{{gameplay.endTime | date : "dd/MM/yyyy"}}</p>
                  </ng-container>
                  <div *ngIf="!gameplay.endTime">--</div>
                </td>
                <td class="align-middle py-3 gradientText">
                  <!-- 1h 30m -->
                  <ng-container *ngIf="gameplay.duration">
                    {{ gameplay.duration.hrs }}h {{ gameplay.duration.mins }}m
                  </ng-container>
                  <div *ngIf="!gameplay.duration">Runing</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center py-3" *ngIf="loadMoreBtn" >
            <button (click)="loadMore()" class="btn mutedBg text-white border-0 btn-sm">Load more</button>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <ng-template #EmptyList>
      <div class="d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 400px);">
        <img src="assets/img/setting/empty-game-history.svg" height="150" alt="empty image">
        <p class="font18 font500 text-white mb-2 mt-2">No Gameplay History Yet.</p>
        <p class="font18 font500 text-white mb-0">Start Your Journey!</p>
      </div>
    </ng-template>
</div>
