.customTable td {
    white-space: normal !important;
}

.table-responsive::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.width120 {
    width: 120px;
}

.virtualScrollWH {
    height: 70vh;
    width: 100%;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}