/* You can add global styles to this file, and also import other style files */

@import "~ngx-sharebuttons/themes/material/material-dark-theme";
@import "~ngx-sharebuttons/themes/modern/modern-light-theme";
@import "~ngx-sharebuttons/themes/circles/circles-dark-theme";
@import "~sweetalert2/src/sweetalert2.scss";

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: light;
}

* {
  font-family: "Poppins";
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  background-color: #121212 !important;
}

#home-header {
  .carousel-indicators {
    // left: auto;
    bottom: 100px;
  }
}

.two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  height: 3em;
  -webkit-box-orient: vertical;
}

.two-lines-sm {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  height: 2em;
  -webkit-box-orient: vertical;
}

.three-lines-xs {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  height: 4.5em;
  -webkit-box-orient: vertical;
}

.three-lines-sm {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  height: 5em;
  -webkit-box-orient: vertical;
}

#live {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 8px;
  font-weight: bold;
  color: #fff;
  background-color: #d80000;
  padding: 2px;
}

#free {
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 8px;
  font-weight: 900;
  color: #fff;
  background-color: #161a6c;
  padding: 3px 4px 2px 4px;
  border-radius: 2px;
}

#beta {
  font-size: 8px;
  font-weight: bold;
  color: #fff;
  background-color: #3f00b4;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 4px;
}

.required:after {
  content: " *";
  color: red;
}

.modal-open {
  position: fixed;
  width: 100%;
}

.linearGradient {
  background: linear-gradient(300.3deg, #0575e6 9.6%, #ff0cf5 92.85%);
}
