/* You can add global styles to this file, and also import other style files */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    background-color: #121212 !important;
}

#home-header {
    .carousel-indicators {
        // left: auto;
        bottom: 100px;
    }
}