/* You can add global styles to this file, and also import other style files */

@import "~ngx-sharebuttons/themes/material/material-dark-theme";
@import "~ngx-sharebuttons/themes/modern/modern-light-theme";
@import "~ngx-sharebuttons/themes/circles/circles-dark-theme";

@font-face {
    font-family: helvetica;
    src: url(assets/fonts/Helvetica/Helvetica.ttf);
}

@font-face {
    font-family: helvetica;
    src: url(assets/fonts/Helvetica/Helvetica-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: helvetica;
    src: url(assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf);
    font-weight: light;
}

* {
    font-family: helvetica;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    background-color: #121212 !important;
}

#home-header {
    .carousel-indicators {
        // left: auto;
        bottom: 100px;
    }
}