<div class="header bg-dark pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row pb-8">
    <div class="col-xl-4"></div>

    <div class="col-xl-4">
      <div class="card bg-gradient-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Your PC</h6>
            </div>
            <div class="col">
              <div class="nav nav-pills justify-content-end">
                <button
                  *ngIf="!pc?.isRunning"
                  class="btn btn-primary"
                  [disabled]="loading"
                  (click)="startPc()"
                >
                  Start PC
                </button>
                <button
                  *ngIf="pc?.isRunning"
                  class="btn btn-danger"
                  [disabled]="loading"
                  (click)="stopPc()"
                >
                  Stop PC
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body text-white">
          <p *ngIf="!!message" class="text-danger text-center">{{ message }}</p>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">vCPUs:</div>
            <div class="col">4</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">RAM:</div>
            <div class="col">16GB</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">SSD:</div>
            <div class="col">256GB</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">GPU:</div>
            <div class="col">16GB Nvidia Tesla T4</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Upstream:</div>
            <div class="col">100 Mbit/s</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">IPv4:</div>
            <div class="col">{{ ipv4 }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Username:</div>
            <div class="col">Admin</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Launch Start Time:</div>
            <div class="col">{{ launchTime }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Total Allocated Time:</div>
            <div class="col">{{ timeAllocated }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Total Time Usage:</div>
            <div class="col">{{ timeUsage }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Password:</div>
            <div class="col">
              {{ password }}{{ " " }}
              <i
                *ngIf="pc?.isRunning && showPass"
                class="fa fa-eye"
                aria-hidden="true"
                (click)="showPass = false"
              ></i>
              <i
                *ngIf="pc?.isRunning && !showPass"
                class="fa fa-eye-slash"
                aria-hidden="true"
                (click)="showPass = true"
              ></i>
            </div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Status:</div>
            <div class="col">{{ status }}</div>
          </div>
        </div>
        <div
          *ngIf="pc?.isRunning"
          class="card-footer bg-gradient-default text-center"
        >
          <button
            *ngIf="!pc?.isConsoleActive"
            class="btn btn-success"
            [disabled]="loading"
            (click)="startConsole()"
          >
            Start Console
          </button>
          <button
            *ngIf="pc?.isConsoleActive"
            class="btn btn-danger"
            [disabled]="loading"
            (click)="stopConsole()"
          >
            Stop Console
          </button>
          <app-console *ngIf="pc?.isConsoleActive"></app-console>
        </div>
      </div>
    </div>

    <div class="col-xl-4"></div>

    <!-- <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <div id="faq" class="p-lg-5 p-md-4 p-3 py-5 text-center">
    <h2
      class="display-6 text-white mt-3 mb-5 mt-lg-5 mx-auto fw-bold"
      style="max-width: 690px"
    >
      Help
    </h2>
    <div class="container text-left mb-5" style="max-width: 780px">
      <div id="accordion">
        <div class="card mb-3" style="background-color: #1d1a2f">
          <div
            class="card-header"
            id="headingOne"
            style="background-color: #1d1a2f"
          >
            <h5 class="mb-0">
              <button
                class="text-white btn collapsed"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Initial setup
              </button>
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body text-white-50 px-5">
              You need to have a Nvidia Account and Steam/EPIC account to access
              your games. <br />If you dont have please create one from here.
              <br /><br />
              <a
                target="_blank"
                href="https://www.nvidia.com/en-us/account/"
                target="_blank"
                >https://www.nvidia.com/en-us/account/</a
              ><br />
              <a
                target="_blank"
                href="https://store.steampowered.com/login/"
                target="_blank"
                >https://store.steampowered.com/login/</a
              ><br />
              <a
                target="_blank"
                href="https://www.epicgames.com/id/login"
                target="_blank"
                >https://www.epicgames.com/id/login</a
              ><br /><br />
              Then After, start the PC and wait for 1 min and refresh the page
              and start the console (first time setup). <br />
              Once you start the console, access the console Pop-Up.
              <br /><br />Enter the Password as - OnePlayPc@2021 (Default,
              please change it once you login to Windows!!!) <br /><br />
              Open Geforce experience in the desktop, and login to your nvidia
              account and once you successfully log in, go to the settings and
              <a
                target="_blank"
                href="https://www.nvidia.com/en-us/support/gamestream/gamestream-pc-setup/#"
                >enable game stream</a
              >. <br /><br />
              Finally login in to Steam/Epic Accounts.<br /><br />
              To change the VNC password, in the desktop click on VNC Control,
              the after change password and change it to your desired password.
              <br /><br />
              Dont start playing games directly into console as its not designed
              for that. <br /><br />
              You now need to pair the client with the PC which is explained in
              the next step <br /><br />
              <ng-container *ngIf="!!sslUrl">
                You need to allow SSL in order to connect to the VM, to do that,
                click on this link and allow SSL :
                <a [href]="sslUrl" target="_blank">click on this link</a>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="background-color: #1d1a2f">
          <div
            class="card-header"
            id="headingTwo"
            style="background-color: #1d1a2f"
          >
            <h5 class="mb-0">
              <button
                class="btn text-white collapsed"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Download the clients for Windows or Mac
              </button>
            </h5>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body text-white-50 px-5">
              Download for
              <a
                target="_blank"
                href="https://github.com/moonlight-stream/moonlight-qt/releases/download/v3.1.4/MoonlightSetup-3.1.4.exe"
                >Windows</a
              >
              | Download for
              <a
                target="_blank"
                href="https://github.com/moonlight-stream/moonlight-qt/releases/download/v3.1.4/Moonlight-3.1.4.dmg"
                >Mac</a
              >
            </div>
          </div>
        </div>

        <div class="card mb-3" style="background-color: #1d1a2f">
          <div
            class="card-header"
            id="headingThree"
            style="background-color: #1d1a2f"
          >
            <h5 class="mb-0">
              <button
                class="btn text-white collapsed"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Connecting to PC (First Time)
              </button>
            </h5>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordion"
          >
            <div class="card-body text-white-50 px-5">
              Once you download and install, open Moonlight and click on the top
              right + icon to add a PC. <br />
              Enter the IP Address of your OnePlay there. <br />
              Click on connect.<br />
              You will see a PIN that you need to enter in the Cloud PC (opened
              in the console, at the bottom right in the Nvidia Pop-Up)<br />.
              Once you enter the pin, go to the client and connect directly via
              moonlight. <br />
              Stop your console as Moonlight is already paired <br />
              Enter steam big picture mode and access your library. Then
              onwards, you just need to start a pc and wait for 1 min and
              connect via moonlight. <br />
              Make sure to use a 5GHZ Wifi or Ethernet for the best experience.
              <br />
              Always remember to Stop your pc when you are not using other wise
              you will be billed. <br />
              Always turn your console off, after the initial setup. <br />
            </div>
          </div>
        </div>

        <div class="card mb-3" style="background-color: #1d1a2f">
          <div
            class="card-header"
            id="headingFour"
            style="background-color: #1d1a2f"
          >
            <h5 class="mb-0">
              <button
                class="btn text-white collapsed"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Important Points
              </button>
            </h5>
          </div>
          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordion"
          >
            <div class="card-body text-white-50 px-5">
              1. After the first time setup or adding a new device, make sure to
              stop your console. <br />
              2. Dont play games in console as its not designed for that.<br />
              3. Make sure to stop your PC after usage else your allocated time
              will be used up.<br />
              4. Please use a WiFi 5GZ or Ethernet to connect for the best
              experience.<br />
              5. For Any help write to us at - help@oneplay.in<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
