<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row pb-4">
    <div class="col-xl-3"></div>
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Your PC</h6>
            </div>
            <div class="col">
              <div class="nav nav-pills justify-content-end">
                <button
                  *ngIf="!pc?.isRunning"
                  class="btn btn-primary"
                  [disabled]="loading"
                  (click)="startPc()"
                >
                  Start PC
                </button>
                <button
                  *ngIf="pc?.isRunning"
                  class="btn btn-danger"
                  [disabled]="loading"
                  (click)="stopPc()"
                >
                  Stop PC
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body text-white">
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">vCPUs:</div>
            <div class="col">4</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">RAM:</div>
            <div class="col">32GB</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">SSD:</div>
            <div class="col">256GB</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">GPU:</div>
            <div class="col">16GB Nvidia Tesla T4</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Upstream:</div>
            <div class="col">100 Mbit/s</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">IPv4:</div>
            <div class="col">{{ ipv4 }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Username:</div>
            <div class="col">Admin</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Launch Start Time:</div>
            <div class="col">{{ launchTime }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Message:</div>
            <div class="col">{{ message }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Password:</div>
            <div class="col">
              {{ password }}{{ " " }}
              <i
                *ngIf="pc?.isRunning && showPass"
                class="fa fa-eye"
                aria-hidden="true"
                (click)="showPass = false"
              ></i>
              <i
                *ngIf="pc?.isRunning && !showPass"
                class="fa fa-eye-slash"
                aria-hidden="true"
                (click)="showPass = true"
              ></i>
            </div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Status:</div>
            <div class="col">{{ status }}</div>
          </div>
        </div>
        <div
          *ngIf="pc?.isRunning"
          class="card-footer bg-gradient-default text-center"
        >
          <button
            *ngIf="!pc?.isConsoleActive"
            class="btn btn-success"
            [disabled]="loading"
            (click)="startConsole()"
          >
            Start Console
          </button>
          <button
            *ngIf="pc?.isConsoleActive"
            class="btn btn-danger"
            [disabled]="loading"
            (click)="stopConsole()"
          >
            Stop Console
          </button>
        </div>
      </div>
    </div>
    <div class="col-xl-3"></div>
    <!-- <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
