<div class="header bg-dark pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row pb-8">
    <div class="col-xl-4"></div>

    <div class="col-xl-4">
      <div class="card bg-gradient-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Your PC</h6>
            </div>
            <div class="col">
              <div class="nav nav-pills justify-content-end">
                <button
                  *ngIf="!pc?.isRunning"
                  class="btn btn-primary"
                  [disabled]="loading"
                  (click)="startPc()"
                >
                  Start PC
                </button>
                <button
                  *ngIf="pc?.isRunning"
                  class="btn btn-danger"
                  [disabled]="loading"
                  (click)="stopPc()"
                >
                  Stop PC
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body text-white">
          <p *ngIf="!!message" class="text-danger text-center">{{ message }}</p>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">vCPUs:</div>
            <div class="col">4</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">RAM:</div>
            <div class="col">16GB</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">SSD:</div>
            <div class="col">256GB</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">GPU:</div>
            <div class="col">16GB Nvidia Tesla T4</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Upstream:</div>
            <div class="col">100 Mbit/s</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">IPv4:</div>
            <div class="col">{{ ipv4 }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Username:</div>
            <div class="col">Admin</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Launch Start Time:</div>
            <div class="col">{{ launchTime }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Total Allocated Time:</div>
            <div class="col">{{ timeAllocated }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Total Time Usage:</div>
            <div class="col">{{ timeUsage }}</div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Password:</div>
            <div class="col">
              {{ password }}{{ " " }}
              <i
                *ngIf="pc?.isRunning && showPass"
                class="fa fa-eye"
                aria-hidden="true"
                (click)="showPass = false"
              ></i>
              <i
                *ngIf="pc?.isRunning && !showPass"
                class="fa fa-eye-slash"
                aria-hidden="true"
                (click)="showPass = true"
              ></i>
            </div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col font-weight-bold">Status:</div>
            <div class="col">{{ status }}</div>
          </div>
        </div>
        <div
          *ngIf="pc?.isRunning"
          class="card-footer bg-gradient-default text-center"
        >
          <button
            *ngIf="!pc?.isConsoleActive"
            class="btn btn-success"
            [disabled]="loading"
            (click)="startConsole()"
          >
            Start Console
          </button>
          <button
            *ngIf="pc?.isConsoleActive"
            class="btn btn-danger"
            [disabled]="loading"
            (click)="stopConsole()"
          >
            Stop Console
          </button>
          <app-console *ngIf="pc?.isConsoleActive"></app-console>
        </div>
      </div>
    </div>

    <div class="col-xl-4"></div>

    <!-- <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <div
    id="faq"
    class="p-lg-5 p-md-4 p-3 py-5 text-center"
  >
    <h2
      class="display-6 text-white mt-3 mb-5 mt-lg-5 mx-auto fw-bold"
      style="max-width: 690px"
    >
      Help
    </h2>
    <div class="container text-left mb-5" style="max-width: 780px">
      <div id="accordion">
        <div class="card mb-3" style="background-color: #1d1a2f">
          <div
            class="card-header"
            id="headingOne"
            style="background-color: #1d1a2f"
          >
            <h5 class="mb-0">
              <button
                class="text-white btn collapsed"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Initial setup
              </button>
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body text-white-50">
              You need to have a Nvidia Account and Steam/EPIC account to access your games. <br>If you dont have please create one from here. <br><br>
              <a href="https://www.nvidia.com/en-us/account/" target="_blank">https://www.nvidia.com/en-us/account/</a><br>
              <a href="https://store.steampowered.com/login/" target="_blank">https://store.steampowered.com/login/</a><br>
              <a href="https://www.epicgames.com/id/login" target="_blank">https://www.epicgames.com/id/login</a><br><br>
              Then After, start the PC and wait for 1 min and refresh the page and start the console (first time setup). <br>
              Once you start the console, access the console Pop-Up. Enter the Password as - OnePlayPc@2021 (Default, please
              change it once you login to Windows!!!) <br>
              Open Geforce experience in the desktop, and login to your nvidia account and once you successfully log in, go to the
              settings and enable game-stream. <br> 
              Finally login in to Steam/Epic Accounts.
             
            </div>
          </div>
        </div>

        <div class="card mb-3" style="background-color: #1d1a2f">
          <div
            class="card-header"
            id="headingTwo"
            style="background-color: #1d1a2f"
          >
            <h5 class="mb-0">
              <button
                class="btn text-white collapsed"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Download the clients for Windows or Mac
              </button>
            </h5>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body text-white-50">
              Download for <a href="https://github.com/moonlight-stream/moonlight-qt/releases/download/v3.1.4/MoonlightSetup-3.1.4.exe">Windows</a> | Download for <a href="https://github.com/moonlight-stream/moonlight-qt/releases/download/v3.1.4/Moonlight-3.1.4.dmg">Mac</a>
            </div>
          </div>
        </div>

        <div class="card" style="background-color: #1d1a2f">
          <div
            class="card-header"
            id="headingThree"
            style="background-color: #1d1a2f"
          >
            <h5 class="mb-0">
              <button
                class="btn text-white collapsed"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Connecting to PC (First Time)
              </button>
            </h5>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordion"
          >
            <div class="card-body text-white-50">
              Once you download and install, open Moonlight and click on the top
              right + icon to add a PC. Enter the IP Address of your OnePlay
              there. Click on connect. You will be asked for a Pin, that you
              need to enter in the PC (opened in the console) Once you enter the
              pin, connect directly via moonlight and stop the console. Enter
              steam big picture mode and access your library. Then onwards, you
              just need to start a pc and wait for 1 min and connect via
              moonlight. Make sure to use a 5GHZ Wifi or Ethernet for the best
              experience. Always remember to Stop your pc when you are not using
              other wise you will be billed. Always turn your console off, after
              the initial setup as its not required and is risky.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
