<div class="modal-content modalBg">
  <ng-container *ngIf="!(showSuccessMessage && atleastOneFieldUpdated) else SuccessMessage">
    <div class="modal-body p-4 text-center" *ngIf="canShowCloseDialog">
      <img src="assets/img/swal-icon/Verification.svg" alt="">
      <a href="javascript:void(0)"
        class="position-absolute btn p-0 text-white rounded-circle top-2 right-1 cursorPointer" style="font-size: 25px;"
        (click)="close(true)">
        <i class="fas fa-times-circle"></i>
      </a>
      <h5 class="modal-title font20 font600 text-white text-center mt-3">
        Enhance your experience by sharing additional details with us.
      </h5>

    </div>
    <form [formGroup]="userInfo">
      <section [ngSwitch]="screenType" class="mt-4">
        <div class="col-md-12 ml-2" *ngSwitchCase="'DOB'">
          <label class="font16 font500 offWhiteText">Date Of Birth</label>
          <div class="input-group dateDropdown">
            <input class="form-control height52 font18 font500 text-white border-0 borderRadius10 lightBg border-bottom"
              formControlName="dob" placeholder="DD\MM\YYYY" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
              (dateSelect)="d.toggle()" [minDate]="minDate" [maxDate]="maxDate" style="border-radius: 5px;" (keydown)="onKeyPressCheckDOB($event)"
              [ngClass]="{'errorBorderColor': errorMessage}" />
          </div>
          <span *ngIf="errorMessage" class="font16 font500 redErrorGradientColor mt-2">{{errorMessage}}</span>
        </div>
        <div class="col-md-12 ml-2" *ngSwitchCase="'PASSWORD'">
          <label class="font16 font500 offWhiteText">Password</label>
          <div class="row pb-2">
            <div class="col-12 mt-2">
              <div class="input-group">
                <input type="password" class="form-control inputBorder font18 font500"
                  placeholder="Enter a unique password" formControlName="password" #passwordField />
                <span class="bgTransparent fixedIcon offWhiteColor font16 font500">
                  <img
                    [src]="(passwordField.type=='password')?'assets/img/singup-login/Group.svg' : 'assets/img/singup-login/Views.svg'"
                    (click)="passwordField.type=passwordField.type=='password'?'text':'password'" class="img-fluid"
                    alt="">
                </span>
              </div>
              <span *ngIf="passwordErrored" class="font16 font500 redErrorGradientColor d-block"
                style="width: 98%;">*Password should be at least 8 characters, 1 UPPERCASE, 1 lowercase, 1 Symbol and 1
                number.</span>
            </div>
            <div class="col-12 mt-4">
              <div class="input-group">
                <input type="password" class="form-control inputBorder font18 font500" placeholder="Confirm Password"
                  formControlName="confirmPassword" [ngClass]="{'errorBorderColor': errorMessage}" #confPasswordField />
                <span class="bgTransparent fixedIcon offWhiteColor font16 font500">
                  <img
                    [src]="(confPasswordField.type=='password')?'assets/img/singup-login/Group.svg' : 'assets/img/singup-login/Views.svg'"
                    (click)="confPasswordField.type=confPasswordField.type=='password'?'text':'password'"
                    class="img-fluid" alt="">
                </span>
              </div>
            </div>
          </div>
          <span *ngIf="errorMessage" class="font16 font500 redErrorGradientColor">{{errorMessage}}</span>
        </div>
        <div class="col-md-12 ml-2" *ngSwitchCase="'USERNAME'">
          <label class="font16 font500 offWhiteText">Customize Username</label>
          <div class="row pb-2">
            <div class="col-12 mt-2">
              <input type="text" class="form-control inputBorder font18 font500"
                [ngClass]="{'errorBorderColor': errorMessage}" placeholder="Enter a username" formControlName="username"
                (keydown)="enterUserName($event)" />
              <span *ngIf="errorMessage" class="font16 font500 redErrorGradientColor">*{{errorMessage}}</span>
            </div>
            <p class="font16 font500 muteText mb-0 container mt-2" *ngIf="!errorMessage">
              *Minimum 3, Maximum 16 characters, Must start with a letter. Special characters and spaces are not
              allowed.
            </p>
          </div>
        </div>
        <div class="col-md-12 ml-2" *ngSwitchCase="'FULLNAME'">
          <label class="font16 font500 offWhiteText">Full name</label>
          <div class="row pb-2">
            <div class="col-12 mt-2">
              <input type="text" class="form-control inputBorder font18 font500"
                placeholder="Please enter your full name" formControlName="fullname" />
              <span *ngIf="fullNameErrored || errorMessage" class="font16 font500 redErrorGradientColor">*{{
                errorMessage ? errorMessage : 'character limit exceeded'}}</span>
            </div>
          </div>
        </div>
      </section>
      <div class="w-100 d-flex justify-content-center mt-2">
        <button class="btn playBtn borderRadius90 px-lg-4 border-0 text-white GradientBtnPadding mt-2 text-center"
          [disabled]="isButtonDisabled" [ngClass]="{'button-disabled': isButtonDisabled}"
          (click)="saveChanges()">Next</button>
      </div>
      <div class="d-flex justify-content-center mt-3" [style.paddingBottom]="!canShowCloseDialog ? '20px' : ''">
        <div class="dot" *ngFor="let i of screenList" [ngClass]="{'dot-scaled': i == screenType}"></div>
      </div>
    </form>
    <div class="modal-footer w-100 justify-content-between" *ngIf="canShowCloseDialog">
      <a href="javascript:void(0)" rel="noopener noreferrer" class="font500 text-gray" (click)="remindLater()">Remind me
        later</a>
      <a href="javascript:void(0)" rel="noopener noreferrer" class="font500 text-gray" (click)="goToNext(true)">Skip</a>
    </div>
  </ng-container>
  <ng-template #SuccessMessage>
    <div class="successContainer">
      <div class="cursorPointer" (click)="close()">
        <img src="assets/icons/cross-icon.svg" />
      </div>
      <img src="assets/img/singup-login/success-img.svg" alt="" height="100" width="100">
      <h2 class="text-white successText">Thanks for sharing more about yourself with us!</h2>
    </div>
  </ng-template>
</div>