<div class="modal-content modalBg">
    <div class="modal-body p-4 text-center">
        <img src="assets/img/swal-icon/Verification.svg" alt="">
      <a
        href="javascript:void(0)"
        class="position-absolute btn p-0 text-white rounded-circle top-2 right-1 cursorPointer"
        style="font-size: 25px;"
        (click)="close()"
      >
        <i class="fas fa-times-circle"></i>
      </a>
      <h5 class="modal-title font20 font600 text-white text-center mt-3">
        Enhance your experience by sharing additional details with us.
      </h5>
      
    </div>
    <form [formGroup]="userInfo">
      <section [ngSwitch]="screenType" class="mt-4">
        <div class="col-md-12 ml-2" *ngSwitchCase="'DOB'">
          <label class="font16 font500 offWhiteText">Date Of Birth</label
          ><span
            class="font16 font500 errorGradientColor float-right"
            *ngIf="dateOfBirthErrored"
            >*invalid Date of Birth</span
          >
          <div class="input-group dateDropdown">
            <input
              class="form-control height52 font18 font500 text-white border-0 borderRadius10 lightBg border-bottom"
              formControlName="dob"
              placeholder="DD\MM\YYYY"
              ngbDatepicker
              #d="ngbDatepicker"
              (click)="d.toggle()"
              (dateSelect)="d.toggle()"
              [min]="minDate"
              [max]="maxDate"
              style="border-radius: 5px;"
            />
          </div>
        </div>
        <div class="col-md-12 ml-2" *ngSwitchCase="'PASSWORD'">
          <label class="font16 font500 offWhiteText">Password</label>
          <div class="row pb-2">
            <div class="col-12 mt-2">
              <input type="password" class="form-control inputBorder font18 font500"
                placeholder="Enter a unique password" formControlName="password" />
              <span *ngIf="passwordErrored" class="font16 font500 errorGradientColor">*invalid password</span>
            </div>
            <div class="col-12 mt-4">
              <input type="password" class="form-control inputBorder font18 font500"
                placeholder="Confirm Password" formControlName="confirmPassword" />
              <span *ngIf="confirmPasswordErrored" class="font16 font500 errorGradientColor">*password does not
                match</span>
            </div>
          </div>
          <span *ngIf="errorMessage" class="font16 font500 errorGradientColor">{{errorMessage}}</span>  
        </div>
        <div class="col-md-12 ml-2" *ngSwitchCase="'USERNAME'">
          <label class="font16 font500 offWhiteText">Customize Username</label>
          <div class="row pb-2">
            <div class="col-12 mt-2">
              <input type="password" class="form-control inputBorder font18 font500"
                placeholder="Enter a unique password" formControlName="password" />
              <span *ngIf="passwordErrored" class="font16 font500 errorGradientColor">*invalid username</span>
            </div>
            <p class="font16 font500 muteText mb-0 container mt-2">
              *Minimum 3, Maximum 12 characters, Must start with a letter. Special characters and spaces are not allowed.
            </p>
          </div>
        </div>
        <div class="col-md-12 ml-2" *ngSwitchCase="'FULLNAME'">
          <label class="font16 font500 offWhiteText">Fullname</label>
          <div class="row pb-2">
            <div class="col-12 mt-2">
              <input type="text" class="form-control inputBorder font18 font500"
                placeholder="Please enter your full name" formControlName="fullname" />
              <span *ngIf="fullNameErrored" class="font16 font500 redErrorGradientColor">*character limit exceeded</span>
            </div>
          </div>
        </div>
      </section>
      <div class="w-100 d-flex justify-content-center mt-2">
        <button class="btn playBtn borderRadius90 px-lg-4 border-0 text-white GradientBtnPadding mt-2 text-center" (click)="goToNext()">Next</button>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <div class="dot" *ngFor="let i of screenList" [ngClass]="{'dot-scaled': i == screenType}"></div>
      </div>
    </form>
    <div class="modal-footer w-100 justify-content-between">
        <a href="javascript.void(0)" rel="noopener noreferrer" class="font500 text-gray" (click)="close()">Remind me later</a>
        <a href="javascript.void(0)" rel="noopener noreferrer" class="font500 text-gray" (click)="goToNext()">Skip</a>
    </div>
  </div>