<div class="modal-content modalBg">
    <div class="modal-body p-4 text-center">
        <img src="assets/img/swal-icon/Verification.svg" alt="">
      <a
        href="javascript:void(0)"
        class="position-absolute btn p-0 text-white rounded-circle top-2 right-1"
      >
        <i class="fas fa-times-circle"></i>
      </a>
      <h5 class="modal-title font20 font600 text-white text-center mt-3">
        Enhance your experience by sharing additional details with us.
      </h5>
      
    </div>
    <div class="dots-list">
        
    </div>
    <div class="modal-footer w-100 justify-content-between">
        <a href="javascript.void(0)" rel="noopener noreferrer" class="font500 text-gray">Remind me later</a>
        <a href="javascript.void(0)" rel="noopener noreferrer" class="font500 text-gray">Skip</a>
    </div>
  </div>